<!DOCTYPE html>
<html lang="pt-br">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17649375224"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-17649375224');
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C61GGS36JM"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-C61GGS36JM');
</script>

	<meta charset="utf-8">
    <title>{{ title or "Dérig Implantes Odontológicos" }}</title>
	<meta name="author" content="Thiago Dias">
    <meta name="description" content="{{ description or "Fundada há mais de 30 anos, na cidade de Barueri, em São Paulo, a Dérig nasceu com o objetivo de transformar o paradigma da qualidade em odontologia." }}">
	<meta name="keywords" content="Dérig, Odontologia, implantes, dentários, odontológicos, próteses, dentais, componentes, instrumentais, kits, motor cirúrgico">
	<meta name="robots" content="index,follow">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
	<link rel="canonical" href="https://derig.com.br/">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans:400,700" rel="stylesheet">
	<!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css"-->
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/map-styles.css">
	<link href="/js/lightbox/css/lightbox.css" rel="stylesheet">

	<script type="text/javascript">
    	window._mfq = window._mfq || [];
    	(function() {
        	var mf = document.createElement("script");
        	mf.type = "text/javascript"; mf.async = true;
        	mf.src = "//cdn.mouseflow.com/projects/67fa92fc-b0a6-491b-a437-b8a3dc08a19c.js";
        	document.getElementsByTagName("head")[0].appendChild(mf);
    	})();
	</script>
	
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '349126704777625');
fbq('track', 'PageView');
</script>
<noscript><img eleventy:ignore height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=349126704777625&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>
<body>

	<header id="pageHeader">
		<h1 class="hide">Dérig</h1>
		<div class="container-fluid">
		     <nav class="navbar navbar-static">
		     	<div id="topMenu">
		     		<div class="container">
		        		<nav>
		        			<ul>
		        				<!--<li><a href="/catalogo-de-produtos">Catálogo</a></li>-->
		        				<li><a href="/perguntas-frequentes">Perguntas frequentes</a></li>
		        				<!--<li><a href="/noticias">Notícias</a></li>-->
		        				<li><a href="/downloads">Downloads</a></li>
		        				<li><a href="/cientifico">Científico</a></li>
		        				<li><a href="/biblioteca">Biblioteca Digital</a></li>
		        			</ul>

		        			<ul>
		        				<li><a href="https://www.facebook.com/Derig" target="_blank"><i class="fab fa-facebook"></i></a></li>
		        				<li><a href="https://www.instagram.com/derig.implantes/" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<!--<li><a href="/"><img src="/images/home/brasil-flag.png" alt="Bandeira-Brasil" width="32"></a></li>-->
								<!--<li><a href="/en"><img src="/images/home/uk-flag.png" alt="Bandeira-UK" width="32"></a></li>-->
		        			</ul>
		        		</nav>
	        		</div>
	        	</div>
		        <div class="container">
		            <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                    <i class="fa fa-bars" aria-hidden="true"></i>
		                </button>
		                <a class="pull-left img-responsive" id="logo" href="/"><img src="/images/layout/logo.png" class="logo" alt="Dérig - Logo" title="Dérig"></a>
		            </div>
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <nav class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1" style="overflow-x: hidden">
		                <ul class="nav navbar-nav">
		                    <li>
		                        <a href="/">Home</a>
		                    </li>
		                    <li>
		                        <a href="/quem-somos">Quem somos</a>
		                    </li>
		                    <li>
		                    	  <a href="/produtos">Produtos</a>
		                    </li>
		                    <li>
		                        <a href="/onde-comprar">Onde Comprar</a>
		                    </li>
		                    <li>
		                    	  <a href="/contato">Contato</a>
		                    </li>
		                </ul>

		                <!--<div class="col-sm-3 col-md-3 col-xs-12 pull-right">
				        	<form class="navbar-form" role="search">
					        	<div class="input-group">
					            	<input type="text" class="form-control" placeholder="Pesquisar" name="srch-term" id="srch-term" required>
					            	<div class="input-group-btn">
					                	<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					            	</div>
					        	</div>
				        	</form>
				        </div>-->
		            </nav>
		            <!-- /.navbar-collapse -->
		        </div>
		   	</nav>
		</div>
	</header>
	<!--End #pageHeader-->

	{{ content | safe }}

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<img id="footerLogo" src="/images/layout/logo.png" alt="Dérig - Implantes do Brasil">
				</div>
				<div class="col-md-2 col-sm-2 col-xs-4">
					<h2>Institucional</h2>
					<nav>
						<ul>
							<li><a href="/quem-somos">Sobre nós</a></li>
							<!--<li><a href="/noticias">Notícias</a></li>-->
							<li><a href="/trabalhe-conosco">Trabalhe Conosco</a></li>
							<li><a href="/contato">Contato</a></li>
						</ul><br>
					</nav>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-4">
					<h2>Produtos</h2>
					<nav>
						<ul>
							<li><a href="/produtos/implantes">Implantes</a></li>
							<li><a href="/produtos/componentes-proteticos">Componentes</a></li>
							<li><a href="/produtos/kits">Kits</a></li>
							<li><a href="/produtos/instrumentais">Instrumentais</a></li>
							<li><a href="/produtos/motor-cirurgico/motor">Motor Cirúrgico</a></li>
							<li><a href="/produtos/biomateriais/biomaterial">Biomaterial</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-4">
					<h2>Downloads</h2>
					<nav>
						<ul>
							<!--<li><a href="/downloads/catalogoDeProdutos">Catálogo</a></li>-->
							<li><a href="https://downloads.derig.com.br/formularios/formulario-de-solicitacoes-de-troca.pdf" target="_blank">Trocas e Devoluções</a></li>
							<li><a href="/biblioteca">Biblioteca Digital</a></li>
							<li><a href="/downloads/formularios">Formulários</a></li>
							<li><a href="/downloads/politicas">Políticas</a></li>
							<li><a href="/downloads/instrucoes-de-uso">Instruções de Uso</a></li>
							<li><a href="/downloads/guia-de-torques">Guia de Torque</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12" id="contatoInfo">
					<h2>Fale com a Dérig</h2>
					<div id="fones">
						<p>
							<i class="fas fa-phone-volume"></i>Atendimento ao Cliente
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p style="font-size: 20px;">0800 777 1991</p>
							<a style="display: block; font-size: 20px;" href="https://api.whatsapp.com/send?phone=5511982320041" target="_blank">(11) 98232-0041</a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6"><a style="font-size: 20px; display: block;" href="tel:1141618090">(11) 4161 8090</a>
						</div>
						</p>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 20px;">
						<ul>
							<li><i class="fab fa-facebook"></i><a href="https://www.facebook.com/Derig" target="_blank">Facebook</a></li>
							<li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/derig.implantes/" target="_blank">Instagram</a></li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 20px;">
						<ul>
							<li><i class="fas fa-envelope"></i><a href="mailto:derig@derig.com.br">derig@derig.com.br</a></li>
							<li><i class="fas fa-envelope"></i><a href="mailto:vendas@derig.com.br">vendas@derig.com.br</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<p style="float: left">Copyright © 2018 - {{ "now" | date("yyyy") }} Dérig Implantes do Brasil. Todos os direitos reservados</p>
				</div>
			</div>
		</div>
		<!--<div class="wpp"><a href="https://api.whatsapp.com/send?phone=5511982320041"><img style="width: 48px; height: 48px;" src="/images/layout/whatsapp-logo.png" alt="Mande mensagem pelo WhatsApp"></div> -->
	</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/fileInput.js"></script>
<script src="/js/behavior.js"></script>
<script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>
<!--CDN Plugin jQuery Validation Additional Methods-->
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/additional-methods.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/cepAPI.js"></script>
<script src="/js/masks.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".navbar-nav li a[href='" + location.href.substring(location.href.lastIndexOf("/") + 1, 255) + "']").parent().addClass("tesde");
	});

	setTimeout(function() {
		$(".table tr td img").each(function() {
			var width = $(this).width();
			$(this).css("width", width * 0.4);
		});
	}, 3000);
</script>
<script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/d57dfb95-cf92-4198-8367-135de37a103e-loader.js"></script>
<script src="/js/lightbox/js/lightbox.js"></script>
<!--
    Build info:
    - builtAt: {{ build.builtAt }}
    - platform: {{ build.platform }}{% if build.env %} (env: {{ build.env }}){% endif %}
    - node: {{ build.nodeVersion }}{% if build.eleventyVersion %}, eleventy: v{{ build.eleventyVersion }}{% endif %}
    - git: {% if build.git and build.git.commit %}branch={{ build.git.branch }}, commit={{ build.git.commit }}, date={{ build.git.commitDate }}{% else %}unavailable{% endif %}
-->
</body>
</html>
