---
layout: layout.njk
title: Artigos | Científico | Dérig
description: Faça o download dos nossos conteúdos.
---

<div id="downloadsList">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/cientifico">Científico</a> > Artigos</p>
      <h1>Artigos</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/informativo_fotografia.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Fotografias odontológicas. Quando uma imagem diz o que precisamos saber</h2>
            <a href="https://downloads.derig.com.br/artigos/derig_informativo_fotografia.pdf" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/vitro.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Estudo comparativo in vitro da adaptação Pilar-implante em diferentes modelos de conexão</h2>
            <a href="https://downloads.derig.com.br/artigos/derig_separata_vitro.pdf" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/jomi.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Mechanical comparison of experimental conical-head abutment screws with conventional flat-head</h2>
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Mechanical+Comparison+of+Experimental+Conical-Head+Abutment+Screws+with+Conventional+Flat-Head+Abutment+Screws+for+External-Hex+and+Internal+Tri-Channel+Implant+Connections%3A+An+In+Vitro+Evaluation+of+Loosening+Torque" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/image-analysis-of-tendon-helical.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Image analysis of tendon helical superstructure using interference and polarized light microscopy</h2>
            <a href="https://www.sciencedirect.com/science/article/pii/S0968432803000398?via%3Dihub" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/characterization-of-a-bovine.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Characterization of a bovine collagen–hydroxyapatite composite scaffold for bone tissue engineering</h2>
            <a href="https://www.sciencedirect.com/science/article/pii/S0142961203004101" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/the-use-of-a-complex-of-collagen.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>The Use of a Complex of Collagen Type I with Hydroxyapatite from Bone, as a Bone Implant Substitute: An Experimental Approach</h2>
            <a href="https://www.liebertpub.com/doi/abs/10.1089/ten.1996.2.151" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/natural-bovine-anorganic.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Natural bovine anorganic apatite and collagen presents osteoconductivity and contribute to bone repair of rat calvaria critical size defect</h2>
            <a href="https://www.scientific.net/KEM.396-398.249" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/modificacoes-na-superficie-dos-implantes-dentarios.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Modificações na superfície dos implantes dentários: a pesquisa básica à aplicação clínica</h2>
            <a href="https://downloads.derig.com.br/artigos/modificacoes-na-superficie-dos-implantes-dentarios.pdf" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/entrevista-com-mario-groisman.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Entrevista com Mario Groisman outubro</h2>
            <a href="https://downloads.derig.com.br/artigos/entrevista-com-mario-groisman.pdf" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <!--<div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/posicao-do-implante-para-estetica.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Posição do implante para estética</h2>
            <a href="http://derig.rds.land/derig-ebook-posicao-do-implante-para-estetica" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>-->

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/reabilitacao-de-maxila-edentula.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Reabilitação de maxila edêntula atrófica utilizando um novo conceito biomecânico four on pillars</h2>
            <a href="https://downloads.derig.com.br/artigos/reabilitacao-de-maxila-edentula.pdf" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
