---
layout: layout.njk
title: Casos Clínicos | Científico | Dérig
description: Faça o download dos nossos conteúdos.
---

<div id="downloadsList">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/cientifico">Científico</a> > Casos Clínicos</p>
      <h1>Casos Clínicos</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row" id="listaCasos">
        <div class="col-md-4 col-sm-4">
          <div class="conselhoContent">
            <a href="/cientifico/casos-clinicos/mario-groisman">
              <div>
                <img class="img-responsive" src="/images/conselho/mario-groisman.jpg" alt="Mario Groisman">
                <h2>Mario Groisman</h2><br>
                <p>Ver Casos</p>
              </div>
            </a>
          </div>
        </div>
        <!--<div class="col-md-4 col-sm-4">
          <div class="conselhoContent">
            <a href="/cientifico/casos-clinicos/abilio-coppede">
              <div>
                <img src="/images/conselho/abilio-coppede.jpg">
                <h2>Abílio Coppedê</h2><br>
                <p>Ver Casos</p>
              </div>
            </a>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
