---
layout: layout.njk
title: Conteúdos Gratuitos | Científico | Dérig
description: Faça o download dos nossos conteúdos gratuitos.
---

<div id="downloadsList">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/cientifico">Científico</a> > Conteúdos Gratuitos</p>
      <h1>Conteúdos Gratuitos</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <!--<div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/implandodontia-thumb.png" alt="Thumbnail do PDF">
          <div>
            <h2>Desafios da Implantodontia: supere-os através da prática clínica integrada​</h2>
            <a href="https://materiais.derig.com.br/06-substituicao-implante" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>-->

      <!--<div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/caso-reabilitacao-3-dias.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Caso clínico em vídeo: Reabilitação oral bimaxilar em três dias</h2>
            <a href="https://materiais.derig.com.br/reabilitacao-oral-bimaxilar-em-tres-dias-all-on-four" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>-->

      <!--<div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/posicao-implante.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Posição do Implante para Estética: Tudo o que você precisa saber</h2>
            <a href="https://materiais.derig.com.br/derig-ebook-posicao-do-implante-para-estetica" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>-->

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/vitro.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Estudo comparativo in vitro da adaptação Pilar-implante em diferentes modelos de conexão</h2>
            <a href="https://downloads.derig.com.br/artigos/derig_separata_vitro.pdf" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/reabilitacao-de-maxila-edentula.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Reabilitação de maxila edêntula atrófica utilizando um novo conceito biomecânico four on pillars</h2>
            <a href="https://downloads.derig.com.br/artigos/reabilitacao-de-maxila-edentula.pdf" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>

      <!--<div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/harmonizacao-orofacial.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Harmonização orofacial: um novo caminho!</h2>
            <a href="http://derig.rds.land/derig-harmonizacao-orofacial-caso-clinico-completo" target="_blank">Fazer download</a>
          </div>
        </div>
      </div>-->

      <!--<div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/mario-groisman.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Cirurgia guiada: passo a passo clínico em vídeo com o Dr. Mario Groisman.</h2>
            <a href="https://materiais.derig.com.br/video-cirurgia-guiada-drmario-groisman" target="_blank">ASSISTIR AGORA</a>
          </div>
        </div>
      </div>-->

      <!--<div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/mario-groisman-2.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Aula com Dr. Mario Groisman: considerações estéticas em implantes unitários imediatos</h2>
            <a href="https://materiais.derig.com.br/video-aulas-drmario-groisman-consideracoes-esteticas-em-implantes-unitarios-imediatos" target="_blank">ASSISTIR AGORA</a>
          </div>
        </div>
      </div>-->

      <!--<div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/cirurgia-implante-eduardo-dias.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Cirurgia e instalação de implantes curtos em região posterior de mandíbula</h2>
            <a href="https://materiais.derig.com.br/campanha-01-2019-eduardo-dias" target="_blank">ASSISTIR AGORA</a>
          </div>
        </div>
      </div>-->

      <!--<div class="col-md-6 col-sm-6">
        <div class="downloadListContainer">
          <img src="/images/downloads/thumbs/cientifico/cirurgia-guiada.jpg" alt="Thumbnail do PDF">
          <div>
            <h2>Cirurgia Guiada Dérig para otimização estética em região de reconstrução alveolar</h2>
            <a href="https://materiais.derig.com.br/cirurgia-guiada" target="_blank">ASSISTIR AGORA</a>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
