---
layout: layout.njk
title: Vídeos | Científico | Dérig
description: Faça o download dos nossos conteúdos em vídeo.
---

<div id="downloadsList">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/downloads">Downloads</a> > <a href="/cientifico">Científico</a> > Vídeos</p>
      <h1>Vídeos</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/thumbs/cientifico/mario-groisman.jpg" alt="Thumbnail do vídeo">
            <div>
              <h2>Cirurgia guiada: passo a passo clínico com o Dr. Mario Groisman.</h2>
              <a href="https://materiais.derig.com.br/video-cirurgia-guiada-drmario-groisman" target="_blank">ASSISTIR AGORA</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/thumbs/cientifico/mario-groisman-2.jpg" alt="Thumbnail do vídeo">
            <div>
              <h2>Aula com Dr. Mario Groisman: considerações estéticas em implantes unitários imediatos</h2>
              <a href="https://materiais.derig.com.br/video-aulas-drmario-groisman-consideracoes-esteticas-em-implantes-unitarios-imediatos" target="_blank">ASSISTIR AGORA</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/thumbs/cientifico/cirurgia-implante-eduardo-dias.jpg" alt="Thumbnail do vídeo">
            <div>
              <h2>Cirurgia e instalação de implantes curtos em região posterior de mandíbula</h2>
              <a href="https://materiais.derig.com.br/campanha-01-2019-eduardo-dias" target="_blank">ASSISTIR AGORA</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/thumbs/cientifico/cirurgia-guiada.jpg" alt="Thumbnail do vídeo">
            <div>
              <h2>Cirurgia Guiada Dérig para otimização estética em região de reconstrução alveolar</h2>
              <a href="https://materiais.derig.com.br/cirurgia-guiada" target="_blank">ASSISTIR AGORA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
