<div class="row" id="map">
    <div id="container_mapa">
        <div class="col-md-6 col-sm-6">
            {% include "components/map.njk" %}
        </div>
        <div class="col-md-6 col-sm-6" id="dadosMapa">
            {% include "components/map-contacts.njk" %}
        </div>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
        <script src="/js/map.js"></script>
    </div>
</div>