<div class="riograndedosul styleFont display" style="display: none;">
    <h2>Rio Grande do Sul</h2>
    <h3><strong>Kelli Tirelli</strong> | kellitirelli@yahoo.com.br</h3>
    <p><a href="tel:51981213252">(51) 98121 3252</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Porto Alegre / Região Metropolitana</p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="santacatarina styleFont display" style="display: none;">
    <h2>Santa Catarina</h2>
    <h3><strong>Leonardo Figueredo</strong> | leo.figueredo@derig.com.br</h3>
    <p><a href="tel:48991244497">(48) 99124 4497</a></p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
    <!--h4>Regiões atendidas:</h4>
    <p>Todo o Estado</p-->
</div>
<div class="parana styleFont display" style="display: none;">
    <h2>Paraná</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="saopaulo styleFont display" style="display: none;">
    <h2>São Paulo</h2>
    <h3><strong>Roberto Ajaj</strong> | roberto.ajaj@derig.com.br</h3>
    <p><a href="tel:11970945673">(11) 97094 5673</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Interior de São Paulo (Reg. Sorocaba &#38; Campinas)</p>
    <h3><strong>Demais Regiões</strong></h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="riodejaneiro styleFont display" style="display: none;">
    <h2>Rio de Janeiro</h2>
    <h3><strong>André Araujo</strong> | andre.araujo@derig.com.br</h3>
    <p><a href="tel:21993330065">(21) 99333 0065</a></p>
    <h3><strong>Roberto Vieira</strong> | roberto.vieira2057@gmail.com</h3>
    <p><a href="tel:21969364114">(21) 96936 4114</a></p>
    <br />
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="mattogrossodosul styleFont display" style="display: none;">
    <h2>Mato Grosso do Sul</h2>
    <h3><strong>Rafael Zacarias</strong> | rafaelzacariassilva7@gmail.com</h3>
    <p><a href="tel:67981888802">(67) 98188 8802</a></p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="minasgerais styleFont display" style="display: none;">
    <h2>Minas Gerais</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="espiritosanto styleFont display" style="display: none;">
    <h2>Espírito Santo</h2>
    <h3><strong>Rafael Martins</strong> | zero9comercial@gmail.com</h3>
    <p><a href="tel:27999946999">(27) 99994 6999</a></p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="goias styleFont display" style="display: none;">
    <h2>Goiás</h2>
    <h3><strong>Arhur Segatto</strong> | arthur.segatto@derig.com.br</h3>
    <p><a href="tel:62996909973">(62) 99690 9973</a></p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Goiás e Distrito Federal</p>
</div>
<div class="distritofederal styleFont display" style="display: none;">
    <h2>Distrito Federal</h2>
    <h3><strong>Arhur Segatto</strong> | arthur.segatto@derig.com.br </h3>
    <p><a href="tel:62996909973">(62) 99690 9973</a></p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Goiás e Distrito Federal</p>
</div>
<div class="matogrosso styleFont display" style="display: none;">
    <h2>Mato Grosso</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="bahia styleFont display" style="display: none;">
    <h2>Bahia</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="sergipe styleFont display" style="display: none;">
    <h2>Sergipe</h2>
    <h3><strong>Cristiana Morais</strong> | crisplusdoctor@gmail.com</h3>
    <p><a href="tel:81999156560">(81) 99915 6560</a></p>
    <!--h3><strong>Carlos Neves</strong> | carlos.eduardo@derig.com.br</h3>
    <p><a href="tel:81997102142">(81) 99710 2142</a></p-->
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Alagoas, Pernambuco, Paraíba, Rio Grande do Norte e Sergipe</p>
</div>
<div class="alagoas styleFont display" style="display: none;">
    <h2>Alagoas</h2>
    <h3><strong>Cristiana Morais</strong> | crisplusdoctor@gmail.com</h3>
    <p><a href="tel:81999156560">(81) 99915 6560</a></p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Alagoas, Pernambuco, Paraíba, Rio Grande do Norte e Sergipe</p>
</div>
<div class="pernambuco styleFont display" style="display: none;">
    <h2>Pernambuco</h2>
    <h3><strong>Cristiana Morais</strong> | crisplusdoctor@gmail.com</h3>
    <p><a href="tel:81999156560">(81) 99915 6560</a></p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Alagoas, Pernambuco, Paraíba, Rio Grande do Norte e Sergipe</p>
</div>
<div class="paraiba styleFont display" style="display: none;">
    <h2>Paraíba</h2>
    <h3><strong>Cristiana Morais</strong> | crisplusdoctor@gmail.com</h3>
    <p><a href="tel:81999156560">(81) 99915 6560</a></p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Alagoas, Pernambuco, Paraíba, Rio Grande do Norte e Sergipe</p>
</div>
<div class="riograndedonorte styleFont display" style="display: none;">
    <h2>Rio Grande do Norte</h2>
    <h3><strong>Cristiana Morais</strong> | crisplusdoctor@gmail.com</h3>
    <p><a href="tel:81999156560">(81) 99915 6560</a></p>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Alagoas, Pernambuco, Paraíba, Rio Grande do Norte e Sergipe</p>
</div>
<div class="ceara styleFont display" style="display: none;">
    <h2>Ceará</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="piaui styleFont display" style="display: none;">
    <h2>Piauí</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="maranhao styleFont display" style="display: none;">
    <h2>Maranhão</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="tocantins styleFont display" style="display: none;">
    <h2>Tocantins</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="para styleFont display" style="display: none;">
    <h2>Pará</h2>
    <h3><strong>Roberto Ajaj</strong> | roberto.ajaj@derig.com.br</h3>
    <p><a href="tel:11970945673">(11) 97094 5673</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Amapá, Amazonas, Pará</p>
</div>
<div class="amapa styleFont display" style="display: none;">
    <h2>Amapá</h2>
    <h3><strong>Roberto Ajaj</strong> | roberto.ajaj@derig.com.br</h3>
    <p><a href="tel:11970945673">(11) 97094 5673</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Amapá, Amazonas, Pará</p>
</div>
<div class="roraima styleFont display" style="display: none;">
    <h2>Roraima</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="amazonas styleFont display" style="display: none;">
    <h2>Amazonas</h2>
    <h3><strong>Roberto Ajaj</strong> | roberto.ajaj@derig.com.br</h3>
    <p><a href="tel:11970945673">(11) 97094 5673</a></p>
    <h4>Regiões atendidas:</h4>
    <p>Amapá, Amazonas, Pará</p>
</div>
<div class="acre styleFont display" style="display: none;">
    <h2>Acre</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>
<div class="rondonia styleFont display" style="display: none;">
    <h2>Rondônia</h2>
    <h3><strong>Dérig</strong> | vendas@derig.com.br</h3>
    <p><a href="tel:1141618090">(11) 4161 8090</a></p>
    <p><a href="tel:119823200411">(11) 98232 0041</a></p>
    <p><a href="tel:08007771991">0800 777 1991</a></p>
</div>