---
layout: layout.njk
title: Catálogo | Downloads | Dérig
description: Faça o download do nosso catálogo de produtos
---
<div id="downloadsList">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/downloads">Downloads</a> > Catálogo</p>
      <h1>Catálogo de Produtos</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/catalogo/catalogo-capa-2020.jpg" alt="Catálogo thumbnail">
            <div>
              <h2>Catálogo de Produtos 2020</h2>
              <p>Conheça nossa linha de produtos.</p>
              <a href="https://downloads.derig.com.br/catalogo/catalogo-de-produtos-2020.pdf" target="_blank">Fazer download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
