---
layout: layout.njk
title: Folders - Downloads | Dérig
description: Faça download dos nossos folderes.
---

<div id="downloadsList">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/downloads">Downloads</a> > Folders</p>
			<h1>Folders</h1>
		</div>
	</div>

	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/folders/implantes.png" alt="Linha de Implantes thumbnail">
						<div>
							<h2>Linha de Implantes</h2>
							<a href="https://downloads.derig.com.br/folders/derig_folder_2022_implantes.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/folders/componentes.png" alt="Linha de Componentes Protéticos thumbnail">
						<div>
							<h2>Linha de Componentes Protéticos</h2>
							<a href="https://downloads.derig.com.br/folders/derig_folder_2022_componentes_proteticos.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/folders/kit-cirurgia-guiada.png" alt="Kist Cirurgia Guiada">
						<div>
							<h2>Kit Cirurgia Guiada</h2>
							<a href="https://downloads.derig.com.br/folders/derig_folder_2022_kit_cirurgia_guiada.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/folders/derig-digital.png" alt="Linha Dérig Digital">
						<div>
							<h2>Linha Dérig Digital</h2>
							<a href="https://downloads.derig.com.br/folders/derig_folder_2022_odontologia_digital_v1.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<!--<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="downloadListContainer">
							<img src="/images/downloads/thumbs/folders/kort.png" alt="Implante Kort thumbnail">
							<div>
								<h2>Implante Kort</h2>
								<a href="https://downloads.derig.com.br/folders/derig_folder_sistema_kort_af_digita.pdf" target="_blank">Fazer download</a>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6">
						<div class="downloadListContainer">
							<img src="/images/downloads/thumbs/folders/simples.png" alt="Sistema de Pilares Simple thumbnail">
							<div>
								<h2>Sistema de Pilares Simple</h2>
								<a href="https://downloads.derig.com.br/folders/derig_folder_sistem_simple_nova_id_digital_vs2may.pdf" target="_blank">Fazer download</a>
							</div>
						</div>
					</div>
				</div>-->

			<!--<div class="row">
					
					<div class="col-md-6 col-sm-6">
						<div class="downloadListContainer">
							<img src="/images/downloads/thumbs/folders/coneMorse.png" alt="Sistema Cone Morse Indexado thumbnail">
							<div>
								<h2>Sistema Cone Morse Indexado</h2>
								<a href="https://downloads.derig.com.br/folders/derig_folder_sistema_cone_digital_af.pdf" target="_blank">Fazer download</a>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6">
						<div class="downloadListContainer">
							<img src="/images/downloads/thumbs/folders/hex.png" alt="Sistemas Triplo Canal Interno e Hexágono Externo thumbnail">
							<div>
								<h2>Sistemas Triplo Canal Interno e Hexágono Externo</h2>
								<a href="https://downloads.derig.com.br/folders/derig_folder_sistema_hex_tri_digital.pdf" target="_blank">Fazer download</a>
							</div>
						</div>
					</div>
				</div>-->
		</div>
	</div>
</div>