---
layout: layout.njk
title: Formulários - Downloads | Dérig
description: Faça download dos nossos formulários.
---

<div id="downloadsList">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/downloads">Downloads</a> > Formulários</p>
			<h1>Formulários</h1>
		</div>
	</div>

	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/formularios/questionario-para-reclamacao-e-falha-do-implante.jpg" alt="Questionário para reclamação e falha do implante - thumbnail">
						<div>
							<h2>Questionário para reclamação e falha do implante</h2>
							<a href="https://downloads.derig.com.br/formularios/questionario-para-reclamacao-e-falha-do-implante2.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/formularios/formulario-de-solicitacoes-de-troca.jpg" alt="Formulário de solicitações de troca - thumbnail">
						<div>
							<h2>Formulário de solicitações de troca</h2>
							<a href="https://downloads.derig.com.br/formularios/formulario-de-solicitacoes-de-troca.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>