---
layout: layout.njk
title: Guia de Torque | Downloads | Dérig
description: Guia de torque para download
---
<div id="downloadsList">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/downloads">Downloads</a> > Guia de Torque</p>
      <h1>Guia de Torque</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/thumbs/guia-de-torques/guia-de-torques.png" alt="Guia de Torques - thumbnail">
            <div>
              <h2>Guia de Torque</h2>
              <a href="https://downloads.derig.com.br/guia-de-torque/derig_tabelas_guia_de_torque_2022.pdf" target="_blank">Fazer download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
