---
layout: layout.njk
title: Instruções de Uso - Downloads | Dérig
description: Faça o download das nossas instruções de uso.
---

<div id="downloadsList">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/downloads">Downloads</a> > Instruções de Uso</p>
			<h1>Instruções de Uso</h1>
		</div>
	</div>

	<div id="content">
		<div class="container">
			<div class="row text-center">
				<h4>
					<a href="https://get.adobe.com/br/reader/" target="_blank"><img src="/images/adobe.svg" alt="" style="margin-right: 20px; height: 28px;" /></a>
					O software <a href="https://get.adobe.com/br/reader/" target="_blank">Adobe Acrobat Reader</a> é necessário para leitura das instruções de uso.
				</h4>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/implantes.jpg" alt="Página das instruçoes de uso dos implantes - thumbnail">
						<div>
							<h2>Implantes</h2>
							<h4>IU-01</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/implantes.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/componentes-esteril.jpg" alt="Página das instruçoes de uso dos componentes estéreis de titânio - thumbnail">
						<div>
							<h2>Componentes Estéreis de Titânio</h2>
							<h4>IU-02</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/componentes_esteril.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/componentes-nao-esteril.jpg" alt="Página das instruçoes de uso dos componentes não estéreis de titânio - thumbnail">
						<div>
							<h2>Componentes Não Estéreis de Titânio</h2>
							<h4>IU-03</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/componentes_nao_esteril.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/componentes-de-cobalto.jpg" alt="Página das instruçoes de uso dos componentes de cobalto cromo - thumbnail">
						<div>
							<h2>Componentes de Cobalto Cromo</h2>
							<h4>IU-04</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/componentes_de_cobalto.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/chaves.jpg" alt="Página das instruçoes de uso das chaves - thumbnail">
						<div>
							<h2>Chaves</h2>
							<h4>IU-05</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/chaves.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/fresas.jpg" alt="Página das instruçoes de uso das fresas - thumbnail">
						<div>
							<h2>Fresas</h2>
							<h4>IU-06</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/fresas.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/instrumental-manual-de-torque.jpg" alt="Página das instruçoes de uso dos instrumentais - thumbnail">
						<div>
							<h2>Instrumental Manual de Torque</h2>
							<h4>IU-07</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/intrumental_manual_de_torque.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/instrumental-de-referencia.jpg" alt="Página das instruçoes de uso dos instrumentais de referência - thumbnail">
						<div>
							<h2>Instrumental de referência</h2>
							<h4>IU-08</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/instrumental_de_referrncia.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/analogos.jpg" alt="Página das instruçoes de uso dos análogos - thumbnail">
						<div>
							<h2>Análogos</h2>
							<h4>IU-09</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/analogo.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/motor.jpg" alt="Página das instruçoes de uso dos motores">
						<div>
							<h2>Motor cirúrgico</h2>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/motor-driller.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/kit-fresas-kort.jpg" alt="Página das instruçoes de uso do Kit Fresas Kort">
						<div>
							<h2>Kit Fresas Kort</h2>
							<h4>IU-10</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/kit-fresas-kort.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/ucla-cocr.jpg" alt="Página das instruçoes de uso de Ucla CoCr">
						<div>
							<h2>Ucla CoCr</h2>
							<h4>IU-11-01</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/ucla-cocr.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/kit-regular-conico.jpg" alt="Instruções de uso do Kit Cirúrgico Regular Cônico Dérig">
						<div>
							<h2>Kit Regular Cônico</h2>
							<h4>IU-12-01</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/kit-regular-conico.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/cicatrizador-estetico-mpc-ne.jpg" alt="Instruções de uso do Cicatrizador Estético MPC NE">
						<div>
							<h2>Cicatrizador Estético MPC NE</h2>
							<h4>IU-14-01</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/cicatrizador_estetico_mpc_ne.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/implante-zigomatico-cm16.jpg" alt="Instruções de uso do Implante Zigomático">
						<div>
							<h2>Implante Zigomático</h2>
							<h4>IU-15-02</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/implante_zigomatico_cm16.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/kit-cirurgico-cilindrico.jpg" alt="Instruções de uso do Kit Cirúrgico Cilíndrico">
						<div>
							<h2>Kit Cirúrgico Cilíndrico</h2>
							<h4>IU-13-01</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/kit_cirurgico_cilindrico.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/kit-cirurgico-premium.jpg" alt="Instruções de uso do Kit Cirúrgico Dérig Premium">
						<div>
							<h2>Kit Cirúrgico Dérig Premium</h2>
							<h4>IU-19-01</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/kit_cirurgico_premium.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/kit-cirurgico-zigomatico.jpg" alt="Instruções de uso do Kit Cirúrgico Zigomático">
						<div>
							<h2>Kit Cirúrgico Zigomático</h2>
							<h4>IU-20-01</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/kit_cirurgico_zigomatico.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/pilar-angulado-protocolo.jpg" alt="Instruções de uso do Pilar Angulado Protocolo">
						<div>
							<h2>Pilar Angulado Protocolo</h2>
							<h4>IU-22-01</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/pilar_angulado_protocolo.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="downloadListContainer">
						<img src="/images/downloads/thumbs/instrucoes-de-uso/pilar-temporario.jpg" alt="Instruções de uso do Pilar Temporário">
						<div>
							<h2>Pilar Temporário</h2>
							<h4>IU-21-01</h4>
							<a href="https://downloads.derig.com.br/instrucoes-de-uso/pilar_temporario.pdf" target="_blank">Fazer download</a>
						</div>
					</div>
				</div>
			</div>

			<p style="font-size: 12px; color: #a9a7a7; text-align: center;">Nem todos os produtos estão disponíveis comercialmente. Consultar nossa equipe. </p>
		</div>
	</div>
</div>