---
layout: layout.njk
title: Marca | Downloads | Dérig
description: Arquivos da marca para download
---
<div id="downloadsList">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/downloads">Downloads</a> > Marca</p>
      <h1>Marca</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/thumbs/manual-da-marca/manual-da-marca.png" alt="Manual da marca - thumbnail">
            <div>
              <h2>Manual de marca</h2>
              <a href="https://downloads.derig.com.br/marca/manual-da-marca.pdf" target="_blank">Fazer download</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/thumbs/manual-da-marca/logos.jpg" alt="Logos - thumbnail">
            <div>
              <h2>Logos</h2>
              <a href="https://downloads.derig.com.br/marca/derig_logos.zip" target="_blank">Fazer download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
