---
layout: layout.njk
title: Políticas | Downloads | Dérig
description: Políticas para download
---
<div id="downloadsList">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/downloads">Downloads</a> > Políticas</p>
      <h1>Políticas</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/thumbs/politicas/politica-de-troca.jpg" alt="Política de troca e devoluções - thumbnail">
            <div>
              <h2>Política de troca e devoluções</h2>
              <a href="https://downloads.derig.com.br/politicas/politica-de-troca-e-devolucoes.pdf" target="_blank">Fazer download</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="downloadListContainer">
            <img src="/images/downloads/thumbs/politicas/politica-de-qualidade.jpg" alt="Política da Qualidade - thumbnail">
            <div>
              <h2>Política da Qualidade</h2>
              <a href="https://downloads.derig.com.br/politicas/politica-de-qualidade.pdf" target="_blank">Fazer download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
