---
layout: layout.njk
title: Motor cirúrgico | Dérig
description: "Criado especialmente para atender as necessidades de nossos clientes, a Driller desenvolveu um motor específico para a Dérig: um equipamento indicado para procedimentos cirúrgicos de perfuração, desgaste, polimento e corte ósseo."
---

<div id="produtoTpl1">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > Motor Cirúrgico</p>
      <h1>Motor Cirúrgico</h1>
    </div>
  </div>

  <div id="content">
    <section class="container">
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <img class="img-responsive" src="/images/produtos/motor/motor.png" alt="Motor">
        </div>
        <div class="col-md-5 col-sm-5" id="resumo">
          <h1>Motor Cirúrgico Dérig</h1>
          <p>
            Criado especialmente para atender as necessidades de nossos clientes, a Driller desenvolveu um motor específico para a Dérig: um equipamento indicado para procedimentos cirúrgicos de perfuração, desgaste, polimento e corte ósseo.
          </p>

          <span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
        </div>
      </div>

      <div class="row" id="descricao">
        <div class="col-md-12">
          <p>
            Criado especialmente para atender as necessidades de nossos clientes, a Driller desenvolveu um motor específico para a Dérig: um equipamento indicado para procedimentos cirúrgicos de perfuração, desgaste, polimento e corte ósseo.
          </p>
          <p>
            Ele é ideal para cirurgia de implantodontia, cirurgias buco-maxilo-faciais, cirurgias ósseas de pequeno porte, cirurgias periodontais e paraendodônticas, aperto de próteses, fixação dinâmica de parafusos, placas, miniplacas e implantes.
          </p>
          <p>
            Suas principais características são a memorização dos programas e a possibilidade de utilização de apenas uma peça de mão para perfuração, corte, desgaste, polimento, fixação dinâmica de parafuso e próteses.
          </p>
          <p>
            O equipamento possui tecnologia avançada e está em conformidade com as exigências das normas técnicas, além de seguir rigorosamente os padrões de qualidade. 
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
