---
layout: layout.njk
title: Biomaterial - Extra Graft XG-13 | Dérig
description: O Extra Graft XG-13 ® é um substituto ósseo nacional desenvolvido pela Silvestre Labs que traz ao mercado um novo conceito em regeneração. Um substituto ósseo natural que associa as propriedades osteocondutoras da hidroxiapatita bovina e do colágeno tipo l.
---

<div id="produtoTpl1">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > Biomaterial</p>
      <h1>Biomaterial</h1>
    </div>
  </div>

  <div id="content">
    <section class="container">
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <img class="img-responsive" src="/images/produtos/extragraft/extragraft3.png" alt="Extra Graft XG-13">
        </div>
        <div class="col-md-5 col-sm-5" id="resumo">
          <h1>Extra Graft XG-13</h1>
          <p>
            O Extra Graft XG-13 ® é um substituto ósseo nacional desenvolvido pela Silvestre Labs que traz ao mercado um novo conceito em regeneração. Um substituto ósseo natural que associa as propriedades osteocondutoras da hidroxiapatita bovina e do colágeno tipo l.
          </p>

          <span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
        </div>
      </div>

      <div class="row" id="descricao">
        <div class="col-md-12">
          <p>
            O Extra Graft XG-13 ® é um substituto ósseo nacional desenvolvido pela Silvestre Labs que traz ao mercado um novo conceito em regeneração. Um substituto ósseo natural que associa as propriedades osteocondutoras da hidroxiapatita bovina e do colágeno tipo l.
          </p>
          <p>
            Com propriedades físico-químicas semelhantes à estrutura óssea humana, os grânulos de hidroxiapatita propiciam uma superfície altamente bioativa para a migração celular, contribuindo para a remodelação óssea.
          </p>
          <ul>
            <li>Apresentação em forma de cilindros moldáveis: fácil manipulação e adaptação ao defeito ósseo</li>
            <li>Partículas da hidroxiapatita bovina de 200 a 400 μm: tamanho ideal para invasão celular</li>
            <li>Presença de colágeno tipo I: hemostático e carreador das proteínas ósseas morfogênicas</li>
            <li>Presença de poros: favorecimento da invasão vascular e promoção do arcabouço para o crescimento ósseo</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
