---
layout: layout.njk
title: Downloads | Dérig
description: Encontre todos os arquivos que precise em nossa página de downloads
---

<div id="downloads">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/cientifico">Científico</a> > <a href="/cientifico/casos-clinicos">Casos Clínicos</a> > Mario Groisman</p>
			<h1>Mario Groisman</h1>
		</div>
	</div>

	<div id="content">
		<div class="container">
			<div class="row" id="membro">
				<div class="col-sm-4">
					<img class="img-responsive" src="/images/conselho/mario-groisman.jpg" alt="Mario Groisman">
				</div>
				<div class="col-sm-8">
					<h2>Mario Groisman</h2>
					<ul>
						<p>• Mestre em ciências dentais pela Universidade de Lund – Suécia.</p>
						<p>• Especialista em implantodontia oral pelo Conselho Federal de Odontologia. </p>
						<p>• Especialista em periodontia pela UERJ.</p>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>Casos</h2>
				</div>
			</div>
			<div class="row" id="casos">
				<div class="col-md-3 col-sm-3">
					<a href="{{ '/cientifico/casos-clinicos/mario-groisman/all-on-four' | url }}"><img src="/images/casos-clinicos/mario-groisman/all-on-four/thumb/062.jpeg" alt="All On Four">
						<h4>All On Four</h4>
					</a>
				</div>
				<div class="col-md-3 col-sm-3">
					<a href="{{ '/cientifico/casos-clinicos/mario-groisman/guiada'| url }}"><img src="/images/casos-clinicos/mario-groisman/guiada/thumb/003.jpg" alt="All On Four">
						<h4>Guiada</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>