---
layout: layout.njk
title: Instrumentais diversos | Dérig
description: Oferecemos à nossos cliente o que há de mais atual no mercado, garantindo qualidade e precisão ao trabalho.
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/instrumentais">Instrumentais</a> > Diversos</p>
			<h1>Diversos</h1>
		</div>
	</div>
	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<!--img class="img-responsive" src="/images/produtos/implantes/singular/fotosingulargrande.png" alt="CONE MORSE INDEXADO Singular"-->
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1>Diversos</h1>
					<p>
						Oferecemos à nossos cliente o que há de mais atual no mercado, garantindo qualidade e precisão ao trabalho.
					</p>
					<span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>
			<div class="row" id="descricao">
				<section id="itens">
					<h1>Itens</h1>
					<div class="col-md-12">
						<h3>Caixas</h3>
						<div class="table-responsive">
							<table class="table">
								<tr>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</tr>
								<tr>
									<td class="td-desc">Caixa Autoclavável para Kit Cirúrgico Cônico </td>
									<td>06.01.02.073</td>
								</tr>
								<tr>
									<td class="td-desc">Caixa Autoclavável para Kit Cirúrgico Cilíndrico </td>
									<td>06.01.02.074</td>
								</tr>
								<tr>
									<td class="td-desc">Caixa Autoclavável para Kit Kort </td>
									<td>06.01.02.193</td>
								</tr>
								<tr>
									<td class="td-desc">Caixa Autoclavável para Kit Protético </td>
									<td>06.01.01.002</td>
								</tr>
							</table>
						</div>
						<h3>Indicadores de Direção e Extensores</h3>
						<div class="table-responsive">
							<table class="table">
								<tr>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</tr>
								<tr>
									<td class="td-desc">Chave Extensora TQ Curta </td>
									<td>02.01.11.056</td>
								</tr>
								<tr>
									<td class="td-desc">Chave Extensora CA </td>
									<td>02.01.11.081</td>
								</tr>
								<tr>
									<td class="td-desc" colspan="2"></td>
								</tr>
								<tr>
									<td class="td-desc">Indicador de Direção TRI NP (peça) </td>
									<td>02.01.11.103</td>
								</tr>
								<tr>
									<td class="td-desc">Indicador de Direção TRI RP (peça) </td>
									<td>02.01.11.104</td>
								</tr>
								<tr>
									<td class="td-desc">Indicador de Direção TRI UP (peça) </td>
									<td>02.01.11.105</td>
								</tr>
								<tr>
									<td class="td-desc">Indicador de Direção 2,0 x 2,8 </td>
									<td>02.01.11.098</td>
								</tr>
								<tr>
									<td class="td-desc">Indicador de Direção Ø 4,0 x Ø 2,0 </td>
									<td>02.01.11.107</td>
								</tr>
								<tr>
									<td class="td-desc">Indicador de Direção Ø 5,0 x Ø 2,8 </td>
									<td>02.01.11.108</td>
								</tr>
							</table>
						</div>
						<h3>Torquímetro Manual</h3>
						<div class="table-responsive">
							<table class="table">
								<tr>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</tr>
								<tr>
									<td class="td-desc">Torquímetro Manual Cirúrgico e Protético</td>
									<td>02.01.10.001</td>
								</tr>
							</table>
						</div>
					</div>
				</section>
			</div>
		</section>
		<!--section id="visualisados">
			<div class="container">
				<h1>Quem viu este produto, viu também </h1>
				<div class="row">
					<div class="col-md-4">
						<a href="#">
							<div class="visualisados">
								<!--img class="img-responsive" src="images/produtos/implantes/relacionadofoto.png" alt="Implante Cone Morse"->
								<h2>Implantes Cone Morse Indexado Singular</h2>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="visualisados">
								<!--img class="img-responsive" src="images/produtos/implantes/relacionadofoto.png" alt="Implante Cone Morse"->
								<h2>Implantes Cone Morse Indexado Singular</h2>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="visualisados">
								<!--img class="img-responsive" src="images/produtos/implantes/relacionadofoto.png" alt="Implante Cone Morse"->
								<h2>Implantes Cone Morse Indexado Singular</h2>
							</div>
						</a>
					</div>
				</div>
			</div>
			</section-->
	</div>
</div>