---
layout: layout.njk
title: Chaves Manuais & Mecânicas - Instrumentais | Dérig
description: O design de nossas chaves foi elaborado para proporcionar um perfeito acoplamento de encaixe, o que confere maior agilidade nos atendimentos.
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/instrumentais">Instrumentais</a> > Chaves</p>
			<h1>Chaves Manuais & Mecânicas</h1>
		</div>
	</div>
	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<!--img class="img-responsive" src="/images/produtos/implantes/singular/fotosingulargrande.png" alt="CONE MORSE INDEXADO Singular"-->
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1>Chaves Manuais & Mecânicas</h1>
					<p>
						O design de nossas chaves foi elaborado para proporcionar um perfeito acoplamento de encaixe, o que confere maior agilidade nos atendimentos.
					</p>
					<span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>
			<div class="row" id="descricao">
				<section id="itens">
					<h1>Itens</h1>
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table">
								<tr>
									<th></th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -5px;" src="/images/produtos/02.01.11.020.png" alt=""></td>
									<td class="td-desc">Chave Torque TQ Hex 1,20 Curta </td>
									<td>02.01.11.020</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -15px;" src="/images/produtos/02.01.11.021.png" alt=""></td>
									<td class="td-desc">Chave Torque TQ Hex 1,20 Média </td>
									<td>02.01.11.021</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.11.022.png" alt=""></td>
									<td class="td-desc">Chave Torque TQ Hex 1,20 Longa </td>
									<td>02.01.11.022</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -8px;" src="/images/produtos/02.01.11.042.png" alt=""></td>
									<td class="td-desc">Chave Torque TQ Hex 1,60 Média </td>
									<td>02.01.11.042</td>
								</tr>
								<tr>
									<td class="td-desc" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.11.027.png" alt=""></td>
									<td class="td-desc">Chave Torque TQ Quad. 1,30 Média </td>
									<td>02.01.11.027</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -14px;" src="/images/produtos/02.01.11.038.png" alt=""></td>
									<td class="td-desc">Chave Torque TQ Mini Pilar Cônico </td>
									<td>02.01.11.038</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -10px;" src="/images/produtos/02.01.11.036.png" alt=""></td>
									<td class="td-desc">Chave Torque TQ Torx Média </td>
									<td>02.01.11.036</td>
								</tr>
								<tr>
									<td class="imgCell"></td>
									<td class="td-desc">Chave Torque TQ Grip Média </td>
									<td>02.01.11.033</td>
								</tr>
								<tr>
									<td class="td-desc" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -8px;" src="/images/produtos/02.01.11.057.png" alt=""></td>
									<td class="td-desc">Chave Adaptador TQ </td>
									<td>02.01.11.057</td>
								</tr>
								<tr>
									<td class="td-desc" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -14px;" src="/images/produtos/02.01.11.005.png" alt=""></td>
									<td class="td-desc">Chave Digital Hex 0,90 Média </td>
									<td>02.01.11.005</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -14px;" src="/images/produtos/02.01.11.002.png" alt=""></td>
									<td class="td-desc">Chave Digital Hex 1,20 Média </td>
									<td>02.01.11.002</td>
								</tr>
								<tr>
									<td class="imgCell"></td>
									<td class="td-desc">Chave Digital Fenda Média </td>
									<td>02.01.11.011</td>
								</tr>
								<tr>
									<td class="td-desc" colspan="2"></td>
								</tr>
								<!--tr><td class="td-desc">Chave Digital HEX 0,90 Média						</td><td>02.01.11.005</td></tr>
									<tr><td class="td-desc">Chave Digital HEX 1,20 Curta						</td><td>02.01.11.001</td></tr>
									<tr><td class="td-desc">Chave Digital HEX 1,20 Média						</td><td>02.01.11.002</td></tr>
									<tr><td class="td-desc">Chave Digital HEX 1,20 Longa						</td><td>02.01.11.003</td></tr>
									<tr><td class="td-desc" colspan="2"></td>						</tr-->
								<tr>
									<td class="imgCell"><img style="margin-left: -15px;" src="/images/produtos/02.01.11.019.png" alt=""></td>
									<td class="td-desc">Chave Adaptador Digital </td>
									<td>02.01.11.019</td>
								</tr>
								<tr>
									<td class="td-desc" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -16px;" src="/images/produtos/02.01.11.076.png" alt=""></td>
									<td class="td-desc">Chave de Inserção CA HEX NP Média </td>
									<td>02.01.11.076</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -16px;" src="/images/produtos/02.01.11.106.png" alt=""></td>
									<td class="td-desc">Chave de Inserção CA HEX NP Longa </td>
									<td>02.01.11.106</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -14px;" src="/images/produtos/02.01.11.096.png" alt=""></td>
									<td class="td-desc">Chave de Inserção CA HEX RP-UP Curta </td>
									<td>02.01.11.096</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -14px;" src="/images/produtos/02.01.11.077.png" alt=""></td>
									<td class="td-desc">Chave de Inserção CA HEX RP-UP Média </td>
									<td>02.01.11.077</td>
								</tr>
								<tr>
									<td class="td-desc" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -4px;" src="/images/produtos/02.01.11.050.png" alt=""></td>
									<td class="td-desc">Chave de Inserção TQ HEX NP Curta </td>
									<td>02.01.11.050</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -8px;" src="/images/produtos/02.01.11.051.png" alt=""></td>
									<td class="td-desc">Chave de Inserção TQ HEX NP Média </td>
									<td>02.01.11.051</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -6px;" src="/images/produtos/02.01.11.053.png" alt=""></td>
									<td class="td-desc">Chave de Inserção TQ HEX RP-UP Curta </td>
									<td>02.01.11.053</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -8px;" src="/images/produtos/02.01.11.054.png" alt=""></td>
									<td class="td-desc">Chave de Inserção TQ HEX RP-UP Média </td>
									<td>02.01.11.054</td>
								</tr>
								<tr>
									<td class="td-desc" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -2px;" src="/images/produtos/02.01.11.048.png" alt=""></td>
									<td class="td-desc">Chave de Inserção TRI NP Curta </td>
									<td>02.01.11.048</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -5px;" src="/images/produtos/02.01.11.058.png" alt=""></td>
									<td class="td-desc">Chave de Inserção TRI NP Longa </td>
									<td>02.01.11.058</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -2px;" src="/images/produtos/02.01.11.049.png" alt=""></td>
									<td class="td-desc">Chave de Inserção TRI RP-UP Curta </td>
									<td>02.01.11.049</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.11.059.png" alt=""></td>
									<td class="td-desc">Chave de Inserção TRI RP-UP Longa </td>
									<td>02.01.11.059</td>
								</tr>
								<tr>
									<td class="td-desc" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -2px;" src="/images/produtos/02.01.11.233.png" alt=""></td>
									<td class="td-desc">Chave de Inserção CMH NP Curta </td>
									<td>02.01.11.233</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -2px;" src="/images/produtos/02.01.11.234.png" alt=""></td>
									<td class="td-desc">Chave de Inserção CMH NP Longa </td>
									<td>02.01.11.234</td>
								</tr>
							</table>
						</div>
					</div>
				</section>
			</div>
		</section>
		<!--section id="visualisados">
			<div class="container">
				<h1>Quem viu este produto, viu também </h1>
				<div class="row">
					<div class="col-md-4">
						<a href="#">
							<div class="visualisados">
								<!--img class="img-responsive" src="images/produtos/implantes/relacionadofoto.png" alt="Implante Cone Morse"->
								<h2>Implantes Cone Morse Indexado Singular</h2>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="visualisados">
								<!--img class="img-responsive" src="images/produtos/implantes/relacionadofoto.png" alt="Implante Cone Morse"->
								<h2>Implantes Cone Morse Indexado Singular</h2>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="visualisados">
								<!--img class="img-responsive" src="images/produtos/implantes/relacionadofoto.png" alt="Implante Cone Morse"->
								<h2>Implantes Cone Morse Indexado Singular</h2>
							</div>
						</a>
					</div>
				</div>
			</div>
			</section-->
	</div>
</div>