---
layout: layout.njk
title: Brocas - Instrumentais | Dérig
description: Nossas brocas com a tecnologia DLC (Diamond Like Carbon), trazem inúmeras vantagens como redução de temperatura durante a perfuração, alta durabilidade, marcações de alto contraste visual e elevada resistência à corrosão.
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/instrumentais">Instrumentais</a> > Brocas</p>
			<h1>Brocas</h1>
		</div>
	</div>
	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<!--img class="img-responsive" src="/images/produtos/implantes/singular/fotosingulargrande.png" alt="CONE MORSE INDEXADO Singular"-->
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1>Brocas</h1>
					<p>
						Nossas brocas com a tecnologia DLC (Diamond Like Carbon), trazem inúmeras vantagens como: redução de temperatura durante a perfuração, alta durabilidade, marcações de alto contraste visual e elevada resistência à corrosão.
					</p>
					<span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>
			<div class="row" id="descricao">
				<section id="itens">
					<h1>Itens</h1>
					<div class="col-md-12">
						<h3>Brocas (Protocolo de Perfuração Cônico)</h3>
						<div class="table-responsive">
							<table class="table">
								<tr>
									<th></th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.009.png" alt=""></td>
									<td class="td-desc">Broca Cônica 3,5 x 8,0 </td>
									<td>02.01.21.009</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.010.png" alt=""></td>
									<td class="td-desc">Broca Cônica 3,5 x 10 </td>
									<td>02.01.21.010</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.028.png" alt=""></td>
									<td class="td-desc">Broca Cônica 3,5 x 11,5 </td>
									<td>02.01.21.028</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.011.png" alt=""></td>
									<td class="td-desc">Broca Cônica 3,5 x 13 </td>
									<td>02.01.21.011</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.012.png" alt=""></td>
									<td class="td-desc">Broca Cônica 3,5 x 16 </td>
									<td>02.01.21.012</td>
								</tr>
								<tr>
									<td class="td-desc imgCell" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -24px;" src="/images/produtos/02.01.21.013.png" alt=""></td>
									<td class="td-desc">Broca Cônica 4,3 x 8,0 </td>
									<td>02.01.21.013</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.014.png" alt=""></td>
									<td class="td-desc">Broca Cônica 4,3 x 10 </td>
									<td>02.01.21.014</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.029.png" alt=""></td>
									<td class="td-desc">Broca Cônica 4,3 x 11,5 </td>
									<td>02.01.21.029</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.015.png" alt=""></td>
									<td class="td-desc">Broca Cônica 4,3 x 13 </td>
									<td>02.01.21.015</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.016.png" alt=""></td>
									<td class="td-desc">Broca Cônica 4,3 x 16 </td>
									<td>02.01.21.016</td>
								</tr>
								<tr>
									<td class="td-desc imgCell" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -20px;" src="/images/produtos/02.01.21.017.png" alt=""></td>
									<td class="td-desc">Broca Cônica 5,0 x 8,0 </td>
									<td>02.01.21.017</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -6px;" src="/images/produtos/02.01.21.018.png" alt=""></td>
									<td class="td-desc">Broca Cônica 5,0 x 10 </td>
									<td>02.01.21.018</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -10px;" src="/images/produtos/02.01.21.030.png" alt=""></td>
									<td class="td-desc">Broca Cônica 5,0 x 11,5 </td>
									<td>02.01.21.030</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.019.png" alt=""></td>
									<td class="td-desc">Broca Cônica 5,0 x 13 </td>
									<td>02.01.21.019</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.020.png" alt=""></td>
									<td class="td-desc">Broca Cônica 5,0 x 16 </td>
									<td>02.01.21.020</td>
								</tr>
							</table>
						</div>
						<h3>Brocas (Protocolo de Perfuração Cilíndrico) </h3>
						<div class="table-responsive">
							<table class="table">
								<tr>
									<th></th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -10px;" src="/images/produtos/02.01.21.100.png" alt=""></td>
									<td class="td-desc">Broca Lança </td>
									<td>02.01.21.100</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -20px;" src="/images/produtos/02.01.21.230.png" alt=""></td>
									<td class="td-desc">Broca Cilíndrica 2,0 </td>
									<td>02.01.21.200</td>
								</tr>
								<tr>
									<td class="imgCell"><img style="margin-left: -32px;" src="/images/produtos/02.01.21.280.png" alt=""></td>
									<td class="td-desc">Broca Cilíndrica 2,8 </td>
									<td>02.01.21.280</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.300.png" alt=""></td>
									<td class="td-desc">Broca Cilíndrica 3,0 </td>
									<td>02.01.21.300</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.315.png" alt=""></td>
									<td class="td-desc">Broca Cilíndrica 3,15 </td>
									<td>02.01.21.315</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.350.png" alt=""></td>
									<td class="td-desc">Broca Cilíndrica 3,5 </td>
									<td>02.01.21.350</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.430.png" alt=""></td>
									<td class="td-desc">Broca Cilíndrica 4,3 </td>
									<td>02.01.21.430</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.101.png" alt=""></td>
									<td class="td-desc">Broca Countersink UN </td>
									<td>02.01.21.101</td>
								</tr>
								<tr>
									<td class="td-desc imgCell" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.31.320.png" alt=""></td>
									<td class="td-desc">Broca Cilíndrica Ø 3,2 </td>
									<td>02.01.31.320</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.31.360.png" alt=""></td>
									<td class="td-desc">Broca Cilíndrica Ø 3,6 </td>
									<td>02.01.31.360</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.31.420.png" alt=""></td>
									<td class="td-desc">Broca Cilíndrica Ø 4,2 </td>
									<td>02.01.31.420</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.31.200.png" alt=""></td>
									<td class="td-desc">Broca Kort Ø 2,0 </td>
									<td>02.01.31.200</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.31.280.png" alt=""></td>
									<td class="td-desc">Broca Kort Ø 2,8 </td>
									<td>02.01.31.280</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.31.455.png" alt=""></td>
									<td class="td-desc">Broca Kort Ø 4,0 x 5,5 </td>
									<td>02.01.31.455</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.31.470.png" alt=""></td>
									<td class="td-desc">Broca Kort Ø 4,0 x 7,0 </td>
									<td>02.01.31.470</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.31.555.png" alt=""></td>
									<td class="td-desc">Broca Kort Ø 5,0 x 5,5 </td>
									<td>02.01.31.555</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.31.570.png" alt=""></td>
									<td class="td-desc">Broca Kort Ø 5,0 x 7,0 </td>
									<td>02.01.31.570</td>
								</tr>
							</table>
						</div>
						<h3>Machos de Tarraxa</h3>
						<div class="table-responsive">
							<table class="table">
								<tr>
									<th></th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.022.png" alt=""></td>
									<td class="td-desc">Broca Formadora de Rosca Cilíndrica NP </td>
									<td>02.01.21.022</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.001.png" alt=""></td>
									<td class="td-desc">Broca Formadora de Rosca Cilíndrica RP </td>
									<td>02.01.21.001</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.002.png" alt=""></td>
									<td class="td-desc">Broca Formadora de Rosca Cilíndrica UP </td>
									<td>02.01.21.002</td>
								</tr>
								<tr>
									<td class="td-desc imgCell" colspan="2"></td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.003.png" alt=""></td>
									<td class="td-desc">Broca Formadora de Rosca TRI NP </td>
									<td>02.01.21.003</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.004.png" alt=""></td>
									<td class="td-desc">Broca Formadora de Rosca TRI RP </td>
									<td>02.01.21.004</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.01.21.005.png" alt=""></td>
									<td class="td-desc">Broca Formadora de Rosca TRI UP </td>
									<td>02.01.21.005</td>
								</tr>
							</table>
						</div>
					</div>
				</section>
			</div>
		</section>
		<!--section id="visualisados">
			<div class="container">
				<h1>Quem viu este produto, viu também </h1>
				<div class="row">
					<div class="col-md-4">
						<a href="#">
							<div class="visualisados">
								<!--img class="img-responsive" src="images/produtos/implantes/relacionadofoto.png" alt="Implante Cone Morse"->
								<h2>Implantes Cone Morse Indexado Singular</h2>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="visualisados">
								<!--img class="img-responsive" src="images/produtos/implantes/relacionadofoto.png" alt="Implante Cone Morse"->
								<h2>Implantes Cone Morse Indexado Singular</h2>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="visualisados">
								<!--img class="img-responsive" src="images/produtos/implantes/relacionadofoto.png" alt="Implante Cone Morse"->
								<h2>Implantes Cone Morse Indexado Singular</h2>
							</div>
						</a>
					</div>
				</div>
			</div>
			</section-->
	</div>
</div>