---
layout: layout.njk
title: Implantes - Produtos | Dérig
description: Confira nossos implantes Cone Morse Hexagonal (CMH) - Bioneck CMH e Dynamic CMH
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/kits">Kits</a> > Kit Dérig Guide</p>
			<h1>Kit Dérig Guide</h1>
		</div>
	</div>

	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/kit/grande/kit-cirurgia-guiada.png" alt="CONE MORSE INDEXADO Singular">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1>Kit Dérig Guide</h1>
					<p>
						Instalar implantes sem abertura de retalho, em uma cirurgia limpa, rápida e proporcionando um pós-operatório confortável ao paciente, este é o objetivo do Dérig Guide.</p>
					<p>Com imagens em três dimensões geradas por exames de escaneamento intraoral, é possível planejar a instalação de implantes com o auxílio de softwares especializados e obter o guia cirúrgico. Assim, antes mesmo do início do procedimento, o cirurgião já tem um profundo conhecimento da anatomia do paciente e a adequada posição dos implantes. O Dérig Guide aumenta a precisão na instalação dos implantes e a qualidade das reabilitações sobre implantes.</p>
					<p>O conceito de planejamento tridimensional com o Dérig Guide é baseado na excelência do conhecimento científico atual e no equilíbrio entre tecnologia de ponta e a necessidade clínica de cada paciente, transportando o planejamento digital para o campo cirúrgico com precisão. </p>

					<span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>


			<div class="row" id="descricao">

				<section id="itens">

					<div class="col-md-12">

						<div class="table-responsive">
							<table class="table">
								<tr class="kitcompleto">
									<td>Kit Completo </td>
									<td>02.01.10.009</td>
								</tr>
								</tr>
							</table>
						</div>

						<h1>Itens que compõem o kit</h1>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="th-cod">Código</th>
										<th class="td-desc">Descrição</th>
									</tr>
								</thead>
								<tr>
									<td>02.01.10.009</td>
									<td class="td-desc">Kit Dérig Guide | Protocolo Cônico </td>
								</tr>
								<tr>
									<td>02.01.41.001</td>
									<td class="td-desc">Broca Lança Guiada Ø2,0 x 8 </td>
								</tr>
								<tr>
									<td>02.01.41.002</td>
									<td class="td-desc">Broca Guiada Ø2,0 x 16 </td>
								</tr>
								<tr>
									<td>02.01.41.008</td>
									<td class="td-desc">Broca Cônica Guiada Sub 3,5 x 8 </td>
								</tr>
								<tr>
									<td>02.01.41.108</td>
									<td class="td-desc">Broca Cônica Guiada 3,5 x 8 </td>
								</tr>
								<tr>
									<td>02.01.41.110</td>
									<td class="td-desc">Broca Cônica Guiada 3,5 x 10 </td>
								</tr>
								<tr>
									<td>02.01.41.111</td>
									<td class="td-desc">Broca Cônica Guiada 3,5 x 11,5 </td>
								</tr>
								<tr>
									<td>02.01.41.113</td>
									<td class="td-desc">Broca Cônica Guiada 3,5 x 13 </td>
								</tr>
								<tr>
									<td>02.01.41.116</td>
									<td class="td-desc">Broca Cônica Guiada 3,5 x 16 </td>
								</tr>
								<tr>
									<td>02.01.41.200</td>
									<td class="td-desc">Broca Cônica Guiada Sub 4,3 </td>
								</tr>
								<tr>
									<td>02.01.41.208</td>
									<td class="td-desc">Broca Cônica Guiada 4,3 x 8 </td>
								</tr>
								<tr>
									<td>02.01.41.210</td>
									<td class="td-desc">Broca Cônica Guiada 4,3 x 10 </td>
								</tr>
								<tr>
									<td>02.01.41.211</td>
									<td class="td-desc">Broca Cônica Guiada 4,3 x 11,5</td>
								</tr>
								<tr>
									<td>02.01.41.213</td>
									<td class="td-desc">Broca Cônica Guiada 4,3 x 13</td>
								</tr>
								<tr>
									<td>02.01.41.216</td>
									<td class="td-desc">Broca Cônica Guiada 4,3 x 16</td>
								</tr>
								<tr>
									<td>02.01.41.350</td>
									<td class="td-desc">Macho Guiado 3,5</td>
								</tr>
								<tr>
									<td>02.01.41.430</td>
									<td class="td-desc">Macho Guiado 4,3</td>
								</tr>
								<tr>
									<td>02.01.41.035</td>
									<td class="td-desc">Bisturi Circular 3,5</td>
								</tr>
								<tr>
									<td>02.01.41.043</td>
									<td class="td-desc">Bisturi Circular 4,3</td>
								</tr>
								<tr>
									<td>02.01.42.001</td>
									<td class="td-desc">Chave de Inserção Guiada TRI NP 3,5</td>
								</tr>
								<tr>
									<td>02.01.42.002</td>
									<td class="td-desc">Chave de Inserção Guiada TRI NP 4,3</td>
								</tr>
								<tr>
									<td>02.01.42.003</td>
									<td class="td-desc">Chave de Inserção Guiada TRI RP 4,3</td>
								</tr>
								<tr>
									<td>02.01.42.237</td>
									<td class="td-desc">Chave de Inserção Guiada CMH NP 3,5</td>
								</tr>
								<tr>
									<td>02.01.42.238</td>
									<td class="td-desc">Chave de Inserção Guiada CMH NP 4,3</td>
								</tr>
								<tr>
									<td>02.01.41.150</td>
									<td class="td-desc">Broca Guia Ø1,5</td>
								</tr>
								<tr>
									<td>02.01.42.006</td>
									<td class="td-desc">Pino de Fixação Ø1,5</td>
								</tr>
								<tr>
									<td>02.01.42.007</td>
									<td class="td-desc">Redução 3,5 / Ø2,0</td>
								</tr>
								<tr>
									<td>02.01.42.008</td>
									<td class="td-desc">Redução 4,3 / Ø2,0</td>
								</tr>
								<tr>
									<td>02.01.42.009</td>
									<td class="td-desc">Redução 4,3 / 3,5</td>
								</tr>
								<tr>
									<td>02.01.42.010</td>
									<td class="td-desc">Sonda de Profundidade 3,5</td>
								</tr>
								<tr>
									<td>02.01.42.011</td>
									<td class="td-desc">Sonda de Profundidade 4,3</td>
								</tr>
								<tr>
									<td>02.01.10.001</td>
									<td class="td-desc">Torquímetro Universal</td>
								</tr>
								<tr>
									<td>02.01.11.057</td>
									<td class="td-desc">Chave Adaptadora TQ</td>
								</tr>
								<tr>
									<td>06.01.02.197</td>
									<td class="td-desc">Estojo Autoclavável p/ Kit Dérig Guide Protocolo Cônico</td>
								</tr>

							</table>
						</div>

					</div>
				</section>
			</div>
		</section>
	</div>
</div>