---
layout: layout.njk
title: Implantes - Produtos | Dérig
description: Confira nossos implantes Cone Morse Hexagonal (CMH) - Bioneck CMH e Dynamic CMH
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/kits">Kits</a> > Kit Protético</p>
			<h1>Kit Protético</h1>
		</div>
	</div>

	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/kit/grande/kitprotetico.png" alt="CONE MORSE INDEXADO Singular">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1>Kit Protético</h1>
					<p>
						Um kit completo que oferece soluções para diversos sistemas.
					</p>

					<span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>


			<div class="row" id="descricao">


				<section id="itens">

					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table">
								<tr class="kitcompleto">
									<td>Kit Completo </td>
									<td>02.01.10.002</td>
								</tr>
								</tr>
							</table>
						</div>
						<h1>Itens que compõem o kit</h1>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th class="th-cod">Item</th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</thead>
								<tr>
									<td>01</td>
									<td class="td-desc">Chave Torque TQ HEX 1,20 Curta </td>
									<td>02.01.11.020</td>
								</tr>
								<tr>
									<td>02</td>
									<td class="td-desc">Chave Torque TQ HEX 1,20 Média </td>
									<td>02.01.11.021</td>
								</tr>
								<tr>
									<td>03</td>
									<td class="td-desc">Chave Torque TQ HEX 1,20 Longa </td>
									<td>02.01.11.022</td>
								</tr>
								<tr>
									<td>04</td>
									<td class="td-desc">Chave Torque TQ HEX 1,60 Média </td>
									<td>02.01.11.042</td>
								</tr>
								<tr>
									<td>05</td>
									<td class="td-desc">Chave Torque TQ Quad. 1,30 Média </td>
									<td>02.01.11.027</td>
								</tr>
								<tr>
									<td>06</td>
									<td class="td-desc">Chave Torque TQ Grip Média </td>
									<td>02.01.11.033</td>
								</tr>
								<tr>
									<td>07</td>
									<td class="td-desc">Chave Torque TQ Torx Média </td>
									<td>02.01.11.036</td>
								</tr>
								<tr>
									<td>08</td>
									<td class="td-desc">Chave Torque TQ Mini Pilar Cônico </td>
									<td>02.01.11.038</td>
								</tr>
								<tr>
									<td>09</td>
									<td class="td-desc">Chave Digital HEX 0,90 Média </td>
									<td>02.01.11.005</td>
								</tr>
								<tr>
									<td>10</td>
									<td class="td-desc">Chave Digital HEX 1,20 Média </td>
									<td>02.02.11.002</td>
								</tr>
								<tr>
									<td>11</td>
									<td class="td-desc">Chave Digital Fenda Média </td>
									<td>02.01.11.011</td>
								</tr>
								<tr>
									<td>12</td>
									<td class="td-desc">Chave Adaptador Digital </td>
									<td>02.01.11.019</td>
								</tr>
								<tr>
									<td>13</td>
									<td class="td-desc">Torquímetro Universal </td>
									<td>02.01.10.001</td>
								</tr>
								<tr>
									<td>14</td>
									<td class="td-desc">Caixa Autoclavável para Kit Protético</td>
									<td>06.01.02.002</td>
								</tr>

							</table>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>