---
layout: layout.njk
title: Implantes - Produtos | Dérig
description: Confira nossos implantes Cone Morse Hexagonal (CMH) - Bioneck CMH e Dynamic CMH
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/kits">Kits</a> > Kit de brocas Kort</p>
			<h1>Kit de Brocas Kort</h1>
		</div>
	</div>

	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/kit/grande/kitkort.png" alt="CONE MORSE INDEXADO Singular">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1>Kit de Brocas Kort</h1>
					<p>
						Desenvolvemos um Kit de brocas específico para implantes curtos. Facilitando a instalação, diminui o risco de perda da estabilidade primária, trazendo mais precisão ao seu procedimento.
					</p>

					<span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>


			<div class="row" id="descricao">

				<section id="itens">

					<div class="col-md-12">

						<div class="table-responsive">
							<table class="table">
								<tr class="kitcompleto">
									<td>Kit Completo </td>
									<td>02.01.10.008</td>
								</tr>
								</tr>
							</table>
						</div>

						<h1>Itens que compõem o kit</h1>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th class="th-cod">Item</th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</thead>
								<tr>
									<td>01</td>
									<td class="td-desc">Broca Lança </td>
									<td>02.01.21.100</td>
								</tr>
								<tr>
									<td>02</td>
									<td class="td-desc">Broca Kort Ø2,0 </td>
									<td>02.01.31.200</td>
								</tr>
								<tr>
									<td>03</td>
									<td class="td-desc">Broca Kort Ø2,8 </td>
									<td>02.01.31.280</td>
								</tr>
								<tr>
									<td>04</td>
									<td class="td-desc">Broca Kort Ø3,2 </td>
									<td>02.01.31.320</td>
								</tr>
								<tr>
									<td>05</td>
									<td class="td-desc">Broca Kort Ø3,6 </td>
									<td>02.01.31.360</td>
								</tr>
								<tr>
									<td>06</td>
									<td class="td-desc">Broca Kort Ø4,2 </td>
									<td>02.01.31.420</td>
								</tr>
								<tr>
									<td>07</td>
									<td class="td-desc">Broca Kort Ø4,0 x 5,5 </td>
									<td>02.01.31.455</td>
								</tr>
								<tr>
									<td>08</td>
									<td class="td-desc">Broca Kort Ø4,0 x 7 </td>
									<td>02.01.31.470</td>
								</tr>
								<tr>
									<td>09</td>
									<td class="td-desc">Broca Kort Ø5,0 x 5,5 </td>
									<td>02.01.31.555</td>
								</tr>
								<tr>
									<td>10</td>
									<td class="td-desc">Broca Kort Ø5,0 x 7 </td>
									<td>02.01.31.570</td>
								</tr>
								<tr>
									<td>11</td>
									<td class="td-desc">Indicador de Direção Ø4 x Ø2 </td>
									<td>02.01.11.107</td>
								</tr>
								<tr>
									<td>12</td>
									<td class="td-desc">Indicador de Direção Ø5 x Ø2,8 </td>
									<td>02.01.11.108</td>
								</tr>
								<tr>
									<td>13</td>
									<td class="td-desc">Estojo Autoclavável para Kit Kort</td>
									<td>06.01.02.193</td>
								</tr>

							</table>
						</div>

					</div>
				</section>
			</div>
		</section>
	</div>
</div>