---
layout: layout.njk
title: Implantes - Produtos | Dérig
description: Confira nossos implantes Cone Morse Hexagonal (CMH) - Bioneck CMH e Dynamic CMH
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/kits">Kits</a> > Kit Cirúrgico Cônico</p>
			<h1>Kit Cirúrgico Cônico</h1>
		</div>
	</div>

	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/kit/grande/kitconico.png" alt="CONE MORSE INDEXADO Singular">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1>Kit Cirúrgico Cônico</h1>
					<p>
						Kit completo para instalação de implantes cônicos. Possui brocas com DLC - Diamont Like Carbon que oferece maior durabilidade ao broca além de facilitar a perfuração óssea sem aquecer o alvéolo.
					</p>

					<span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>

			<div class="row" id="descricao">

				<section id="itens">

					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table">
								<tr class="kitcompleto">
									<td>Kit Completo </td>
									<td>02.01.10.005</td>
								</tr>
								</tr>
							</table>
						</div>

						<h1>Itens que compõem o kit</h1>
						<div class="table-responsive">
							<table class="table">
								<col style="width: 25px;">
								<col width="80">
								<thead>
									<th class="th-cod">Item</th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>

								</thead>
								<tr>
									<td>01</td>
									<td class="td-desc">Chave Digital HEX 0,90 Média </td>
									<td>02.01.11.005</td>
								</tr>
								<tr>
									<td>02</td>
									<td class="td-desc">Chave Digital HEX 1,20 Média </td>
									<td>02.01.11.002</td>
								</tr>
								<tr>
									<td>03</td>
									<td class="td-desc">Chave Extensora CA </td>
									<td>02.01.11.081</td>

								</tr>
								<tr>
									<td>04</td>
									<td class="td-desc">Broca Lança </td>
									<td>02.01.21.100</td>
								</tr>
								<tr>
									<td>05</td>
									<td class="td-desc">Broca 2,0 </td>
									<td>02.01.21.200</td>
								</tr>
								<tr>
									<td>06</td>
									<td class="td-desc">Broca Cônica 3,5 x 8 </td>
									<td>02.01.21.009</td>
								</tr>
								<tr>
									<td>07</td>
									<td class="td-desc">Broca Cônica 3,5 x 10 </td>
									<td>02.01.21.010</td>
								</tr>
								<tr>
									<td>08</td>
									<td class="td-desc">Broca Cônica 3,5 x 11,5 </td>
									<td>02.01.21.028</td>
								</tr>
								<tr>
									<td>09</td>
									<td class="td-desc">Broca Cônica 3,5 x 13 </td>
									<td>02.01.21.011</td>
								</tr>
								<tr>
									<td>10</td>
									<td class="td-desc">Broca Cônica 3,5 x 16 </td>
									<td>02.01.21.012</td>
								</tr>
								<tr>
									<td>11</td>
									<td class="td-desc">Broca Cônica 4,3 x 8 </td>
									<td>02.01.21.013</td>
								</tr>
								<tr>
									<td>12</td>
									<td class="td-desc">Broca Cônica 4,3 x 10 </td>
									<td>02.01.21.014</td>
								</tr>
								<tr>
									<td>13</td>
									<td class="td-desc">Broca Cônica 4,3 x 11,5 </td>
									<td>02.01.21.029</td>
								</tr>
								<tr>
									<td>14</td>
									<td class="td-desc">Broca Cônica 4,3 x 13 </td>
									<td>02.01.21.015</td>
								</tr>
								<tr>
									<td>15</td>
									<td class="td-desc">Broca Cônica 4,3 x 16 </td>
									<td>02.01.21.016</td>
								</tr>
								<tr>
									<td>16</td>
									<td class="td-desc">Broca Cônica 5,0 x 8 </td>
									<td>02.01.21.017</td>
								</tr>
								<tr>
									<td>17</td>
									<td class="td-desc">Broca Cônica 5,0 x 10 </td>
									<td>02.01.21.018</td>
								</tr>
								<tr>
									<td>18</td>
									<td class="td-desc">Broca Cônica 5,0 x 11,5 </td>
									<td>02.01.21.030</td>
								</tr>
								<tr>
									<td>19</td>
									<td class="td-desc">Broca Cônica 5,0 x 13 </td>
									<td>02.01.21.019</td>
								</tr>
								<tr>
									<td>20</td>
									<td class="td-desc">Broca Cônica 5,0 x 16 </td>
									<td>02.01.21.020</td>
								</tr>
								<tr>
									<td>21</td>
									<td class="td-desc">Broca Formadora de Rosca TRI NP </td>
									<td>02.01.21.003</td>
								</tr>
								<tr>
									<td>22</td>
									<td class="td-desc">Broca Formadora de Rosca TRI RP </td>
									<td>02.01.21.004</td>
								</tr>
								<tr>
									<td>23</td>
									<td class="td-desc">Broca Formadora de Rosca TRI UP </td>
									<td>02.01.21.005</td>
								</tr>
								<tr>
									<td>24</td>
									<td class="td-desc">Chave de Inserção TRI NP Curta </td>
									<td>02.01.11.048</td>
								</tr>
								<tr>
									<td>25</td>
									<td class="td-desc">Chave de Inserção TRI NP Longa </td>
									<td>02.01.11.058</td>
								</tr>
								<tr>
									<td>26</td>
									<td class="td-desc">Chave de Inserção TRI RP-UP Curta </td>
									<td>02.01.11.049</td>
								</tr>
								<tr>
									<td>27</td>
									<td class="td-desc">Chave de Inserção TRI RP-UP Longa </td>
									<td>02.01.11.059</td>
								</tr>
								<tr>
									<td>28</td>
									<td class="td-desc">Chave de Inserção CMH NP Curta</td>
									<td>02.01.11.233</td>
								</tr>
								<tr>
									<td>29</td>
									<td class="td-desc">Chave de Inserção CMH NP Longa</td>
									<td>02.01.11.234</td>
								</tr>
								<tr>
									<td>30</td>
									<td class="td-desc">Chave Extensora TQ Curta </td>
									<td>02.01.11.056</td>
								</tr>
								<tr>
									<td>31</td>
									<td class="td-desc">Chave Adaptador TQ </td>
									<td>02.01.11.057</td>
								</tr>
								<tr>
									<td>32</td>
									<td class="td-desc">Indicador de Direção 2,0 x 2,8 </td>
									<td>02.01.11.098</td>
								</tr>
								<tr>
									<td>33</td>
									<td class="td-desc">Indicador de Direção TRI NP (peça) </td>
									<td>02.01.11.103</td>
								</tr>
								<tr>
									<td>34</td>
									<td class="td-desc">Indicador de Direção TRI RP (peça) </td>
									<td>02.01.11.104</td>
								</tr>
								<tr>
									<td>35</td>
									<td class="td-desc">Indicador de Direção TRI UP (peça) </td>
									<td>02.01.11.105</td>
								</tr>
								<tr>
									<td>36</td>
									<td class="td-desc">Torquímetro Universal </td>
									<td>02.01.10.001</td>
								</tr>
								<tr>
									<td>37</td>
									<td class="td-desc">Caixa Autoclavável para Kit Cirúrgico Cônico</td>
									<td>06.01.02.073</td>
								</tr>

							</table>
						</div>

					</div>
				</section>
			</div>
		</section>
	</div>
</div>
