---
layout: layout.njk
title: Componentes Protéticos | Dérig
description: Aqui você encontra nossos componentes protéticos.
---

<div id="produtos">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > Componentes Protéticos</p>
      <h1>Componentes Protéticos</h1>
    </div>
  </div>

  <div id="content">
    <div class="container internoImg listaInternaProdutos" id="listaInternaComponentes">
      <a id="btnVoltar" href="/produtos"><i class="fas fa-long-arrow-alt-left"></i>VOLTAR</a>
      <div class="row">
        <div class="col-md-4">
          <a href="/produtos/componentes/componentes-hexagono-morse-conico-cmh">
            <div class="prodContent">
              <div id="implante-cmh" style="background: url(/images/produtos/implantes/cmh.png) no-repeat;background-position: 92% 0;">
                <h2>Cone Morse<span>Hexagonal CMH</span></h2>
                <h3>Bioneck CMH, Biodent CMH e Dynamic CMH <i class="fas fa-chevron-right"></i></h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/componentes/componentes-triplo-canal-interno">
            <div class="prodContent">
              <div id="implante-tri" style="background: url(/images/produtos/implantes/tri.png) no-repeat;background-position: 92% 0;">
                <h2>Triplo Canal <span>Interno TRI</span></h2>
                <h3>Bioneck TRI <i class="fas fa-chevron-right"></i></h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/componentes/componentes-hexagono-externo">
            <div class="prodContent">
              <div id="implante-hex" style="background: url(/images/produtos/implantes/hex.png) no-repeat;background-position: 92% 0;">
                <h2>Hexágono Externo<span> HEX</span></h2>
                <h3>Biodent HEX e Kort HEX <i class="fas fa-chevron-right"></i></h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/kits/kit-protetico">
            <div class="prodContent">
              <div>
                <h2>KIT PROTÉTICO</h2>
                <img class="img-responsive" src="/images/produtos/kit/kitprotetico.png" alt="kit protético">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
