---
layout: layout.njk
title: Implantes - Produtos | Dérig
description: Confira nossos implantes Hexágono Externo (HEX) - Biodent HEX e Kort HEX
---

<div id="produtos">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/produtos/">Produtos</a> > <a href="/produtos/implantes">Implantes</a> > HEX</p>
      <h1>Implantes HEX</h1>
    </div>
  </div>

  <div id="content">
    <div class="container internoImg listaInternaProdutos" id="listaInternaimplantes">
      <a id="btnVoltar" href="/produtos/implantes"><i class="fas fa-long-arrow-alt-left"></i>VOLTAR</a>
      <div class="row">
        <div class="col-md-4">
          <a href="/produtos/implantes/implantes-biodent">
            <div class="prodContent">
              <div id="implante-hex" style="background: url(/images/produtos/implantes/hex.png) no-repeat;background-position: 92% 0; height: 500px;">
                <h2>Biodent HEX</h2>
                <h3>HEXÁGONO EXTERNO | HEX <i class="fas fa-chevron-right"></i></h3>
                <img class="img-responsive" src="/images/produtos/implantes/implantebiodent.png" alt="Imagem do implante">
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/implantes/implantes-kort">
            <div class="prodContent">
              <div id="implante-hex" style="background: url(/images/produtos/implantes/hex.png) no-repeat;background-position: 92% 0; height: 500px;">
                <h2>Kort HEX</h2>
                <h3>HEXÁGONO EXTERNO <br>(IMPLANTE CURTO) | HEX <i class="fas fa-chevron-right"></i></h3>
                <img class="img-responsive" src="/images/produtos/implantes/implantekort.png" alt="Imagem do implante">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
