---
layout: layout.njk
title: Implantes - Produtos | Dérig
description: Confira nossos implantes(Singular - Cone Morse Indexado, Dynamic - Cone Morse Indexado, Bioneck - Triplo Canal Interno, Biodent - Hexágono Externo e Kort - Hexágono Externo
---

	<div id="produtos">
		<div id="headerInterno">
			<div class="container">
				<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > Implantes</p>
				<h1>Implantes</h1>
			</div>
		</div>

		<div id="content">
			<div class="container internoImg listaInternaProdutos" id="listaInternaimplantes">
				<a id="btnVoltar" href="/produtos"><i class="fas fa-long-arrow-alt-left"></i>VOLTAR</a>
				<div class="row">
					<div class="col-md-4">
						<a href="/produtos/implantes-cmh">
							<div class="prodContent">
								<div id="implante-cmh" style="background: url(/images/produtos/implantes/cmh.png) no-repeat;background-position: 92% 0;">
									<h2 style="background: url(/images/layout/linha-peq.png) no-repeat;background-position: 29px 100%;padding-bottom: 10px">Cone Morse<span>Hexagonal CMH</span></h2>
									<img class="img-responsive" src="/images/produtos/implantes/plataformacmh.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>
					<!--<div class="col-md-4">
						<a href="/produtos/implantes-cmh30p">
							<div class="prodContent">
								<div id="implante-cmh30p" style="background: url(/images/produtos/cmh30p.png) no-repeat;background-position: 92% 0;">
									<h2 style="background: url(/images/layout/linha-peq.png) no-repeat;background-position: 29px 100%;padding-bottom: 10px">Cone Morse<span>Hexagonal CMH 3.0P</span></h2>
									<img class="img-responsive" src="/images/produtos/implantes/plataformacmh30p.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>-->
					<div class="col-md-4">
						<a href="/produtos/implantes-tri">
							<div class="prodContent">
								<div id="implante-tri" style="background: url(/images/produtos/implantes/tri.png) no-repeat;background-position: 92% 0;">
									<h2 style="background: url(/images/layout/linha-peq.png) no-repeat;background-position: 29px 100%;padding-bottom: 10px">Triplo Canal <span>Interno TRI</span></h2>
									<img class="img-responsive" src="/images/produtos/implantes/plataformatri.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="/produtos/implantes-hex">
							<div class="prodContent">
								<div id="implante-hex" style="background: url(/images/produtos/implantes/hex.png) no-repeat;background-position: 92% 0;">
									<h2 style="background: url(/images/layout/linha-peq.png) no-repeat;background-position: 29px 100%;padding-bottom: 10px">Hexágono Externo <span>HEX</span></h2>
									<img class="img-responsive" src="/images/produtos/implantes/plataformahex.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>
					<!--<div class="col-md-4">
						<a href="/produtos/implantes-hi">
							<div class="prodContent">
								<div id="implante-hi" style="background: url(/images/produtos/hi.png) no-repeat;background-position: 92% 0;">
									<h2 style="background: url(/images/layout/linha-peq.png) no-repeat;background-position: 29px 100%;padding-bottom: 10px">Internal Hexagon <span>HI</span></h2>
									<img class="img-responsive" src="/images/produtos/implantes/plataformahi.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>-->
					
					<!--<div class="col-md-4">
						<a href="/produtos/implantes/implantes-singular">
							<div class="prodContent">
								<div id="implante1">
									<h2>Singular</h2>
									<h3>INDEXED MORSE TAPER <i class="fas fa-chevron-right"></i></h3>
									<img class="img-responsive" src="/images/produtos/implantes/implantesingular.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>-->

					<!--<div class="col-md-4">
						<a href="/produtos/implantes/implantes-dynamic">
							<div class="prodContent">
								<div id="implante2">
									<h2>Dynamic</h2>
									<h3>INDEXED MORSE TAPER <i class="fas fa-chevron-right"></i></h3>
									<img class="img-responsive" src="/images/produtos/implantes/implantedynamic.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>-->
					
				</div>
			</div>
		</div>
	</div>
