---
layout: layout.njk
title: Implantes - Produtos | Dérig
description: Confira nossos implantes Triplo Canal Interno (TRI) - Bioneck TRI
---

	<div id="produtos">
		<div id="headerInterno">
			<div class="container">
				<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/implantes">Implantes</a> > TRI</p>
				<h1>Implantes TRI</h1>
			</div>
		</div>

		<div id="content">
			<div class="container internoImg listaInternaProdutos" id="listaInternaimplantes">
				<a id="btnVoltar" href="/produtos/implantes"><i class="fas fa-long-arrow-alt-left"></i>VOLTAR</a>
				<div class="row">
					<div class="col-md-4">
						<a href="/produtos/implantes/implantes-bioneck">
							<div class="prodContent">
								<div id="implante-tri" style="background: url(/images/produtos/implantes/tri.png) no-repeat;background-position: 92% 0;">
									<h2>Bioneck TRI</h2>
									<h3>TRIPLO CANAL INTERNO | TRI <i class="fas fa-chevron-right"></i></h3>
									<img class="img-responsive" src="/images/produtos/implantes/implantebioneckreducao.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>
					
					<!--<div class="col-md-4">
						<a href="/produtos/implantes/implantes-singular">
							<div class="prodContent">
								<div id="implante1">
									<h2>Singular</h2>
									<h3>INDEXED MORSE TAPER <i class="fas fa-chevron-right"></i></h3>
									<img class="img-responsive" src="/images/produtos/implantes/implantesingular.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>-->

					<!--<div class="col-md-4">
						<a href="/produtos/implantes/implantes-dynamic">
							<div class="prodContent">
								<div id="implante2">
									<h2>Dynamic</h2>
									<h3>INDEXED MORSE TAPER <i class="fas fa-chevron-right"></i></h3>
									<img class="img-responsive" src="/images/produtos/implantes/implantedynamic.png" alt="Imagem do implante">
								</div>
							</div>
						</a>
					</div>-->
					
				</div>
			</div>
		</div>
	</div>