---
layout: layout.njk
title: Instrumentais | Dérig
description: Confira nossos instrumentais.
---

<div id="produtos">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/produtos/">Produtos</a> > Instrumentais</p>
      <h1>Instrumentais</h1>
    </div>
  </div>
  <div id="content">
    <div class="container internoImg listaInternaProdutos" id="listaInternaInstrumentais">
      <a id="btnVoltar" href="/produtos/"><i class="fas fa-long-arrow-alt-left"></i>VOLTAR</a>
      <div class="row">
        <div class="col-md-4">
          <a href="/produtos/instrumentais/instrumentais-chaves-manuais-mecanicas">
            <div class="prodContent">
              <div>
                <h2>Chaves Manuais & Mecânicas <i class="fas fa-chevron-right"></i></h2>
                <!--img class="img-responsive" src="/images/produtos/instrumentais/kitconico.png" alt="Imagem das Chaves"-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/instrumentais/instrumentais-brocas">
            <div class="prodContent">
              <div>
                <h2>Brocas <i class="fas fa-chevron-right"></i></h2>
                <!--img class="img-responsive" src="/images/produtos/instrumentais/kitconico.png" alt="Imagem das Fresas"-->
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/instrumentais/instrumentais-diversos">
            <div class="prodContent">
              <div>
                <h2>Diversos <i class="fas fa-chevron-right"></i></h2>
                <!--img class="img-responsive" src="/images/produtos/instrumentais/kitconico.png" alt="Imagem do Indicador de direção"-->
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
