---
layout: layout.njk
title: Kits | Dérig
description: Confira nossos Kits cirúrgicos(Cônico, Cilíndrico, Kort e protético)
---

<div id="produtos">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > Kits</p>
      <h1>Kits</h1>
    </div>
  </div>

  <div id="content">
    <div class="container internoImg listaInternaProdutos" id="listaInternaKits">
      <a id="btnVoltar" href="/produtos"><i class="fas fa-long-arrow-alt-left"></i>VOLTAR</a>
      <div class="row">
        <div class="col-md-4">
          <a href="/produtos/kits/kit-conico">
            <div class="prodContent">
              <div>
                <h2>KIT CIRÚRGICO</h2>
                <h3>Cônico <i class="fas fa-chevron-right"></i></h3>
                <img class="img-responsive" src="/images/produtos/kit/kitconico.png" alt="kit cônico">
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/kits/kit-cilindrico">
            <div class="prodContent">
              <div>
                <h2>KIT CIRÚRGICO</h2>
                <h3>Cilíndrico <i class="fas fa-chevron-right"></i></h3>
                <img class="img-responsive" src="/images/produtos/kit/kitcilindrico.png" alt="kit cônico">
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/kits/kit-kort">
            <div class="prodContent">
              <div>
                <h2>KIT DE BROCAS CIRÚRGICO</h2>
                <h3>Kort <i class="fas fa-chevron-right"></i></h3>
                <img class="img-responsive" src="/images/produtos/kit/kitkort.png" alt="kit kort">
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/kits/kit-protetico">
            <div class="prodContent">
              <div>
                <h2>KIT</h2>
                <h3>Protético <i class="fas fa-chevron-right"></i></h3>
                <img class="img-responsive" src="/images/produtos/kit/kitprotetico.png" alt="kit protético">
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/produtos/kits/kit-derig-guide">
            <div class="prodContent">
              <div>
                <h2>KIT</h2>
                <h3>Dérig Guide <i class="fas fa-chevron-right"></i></h3>
                <img class="img-responsive" src="/images/produtos/kit/kit-derig-guide.png" alt="kit protético">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
