---
layout: layout.njk
title: Implantes - Produtos | Dérig
description: Confira nossos implantes(Singular - Cone Morse Indexado, Dynamic - Cone Morse Indexado, Bioneck - Triplo Canal Interno, Biodent - Hexágono Externo e Kort - Hexágono Externo
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/implantes">Implantes</a> > <a href="/produtos/implantes-cmh">CMH</a> > Bioneck CMH</p>
			<h1>Bioneck CMH</h1>
		</div>
	</div>

	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/implantes/grande/implantebioneckcmh.png" alt="Implante Bioneck - Triplo Canal Interno | Dérig">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1><span>Cone Morse Hexagonal | CMH</span> Bioneck CMH</h1>
					

					<span class="pull-right text-center"><a id="instrucoes" href="https://downloads.derig.com.br/instrucoes-de-uso/implantes.pdf" target="_blank">Instruções de uso</a> <a  id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>

		</section>

		<nav>
			<ul>
				<li><a class="scroll" href="#caracteristicas">Características</a></li>
				<li><a class="scroll" href="#infoTecnica">Informações Técnicas</a></li>
				<!--li><a class="scroll" href="#biotiteProd">Superfície Biotite</a></li-->
				<li><a class="scroll" href="#brocas">Sequência de brocas</a></li>
				<li><a class="scroll" href="#chaves">Chave de inserção</a></li>
			</ul>
		</nav>

		<section class="container">

			<div class="row" id="descricao">
				<section id="caracteristicas">
					<h1>Características</h1>
					<ul>
						<li>Uma única interface interna Cone Morse para todos os diâmetros de implantes</li>
						<li>Sulcos retentivos nas roscas: maior área de contato e estabilidade primária</li>
						<li>Superfície Biotite: microporosidade obtida através de duplo ataque ácido, aumentando a estabilidade secundária</li>
						<li>Diâmetros dos implantes:</li>
						<ul>
							<li>Bioneck CMH 3,5</li>
							<li>Bioneck CMH 4,3</li>
						</ul>
					</ul>

						<div class="table-responsive" style="max-width: 500px;">
							<!--table class="table">
								<thead>
									<th>Perfuração</th>
									<th>Inserção</th>
									<th>Torque máx.</th>
								</thead>
								<tr>
									<td>800-1200 rpm</td>
									<td>30 rpm</td>
									<td>45 Ncm</td>
								</tr>
							
							</table-->
							<!--<small>*Consulte o <a href="/downloads/guia-de-torques">guia de torques <i class="fas fa-external-link-alt"></i></a> para mais informações.</small>-->
						</div>
				</section>

				<section id="infoTecnica">
					<h1>Informações técnicas</h1>
					<div class="col-md-12">
						<!--<div class="table-responsive">
							<table class="table">
								<tr>
									<td rowspan="2" class="table-head">Conventional platform</td>	
									<td>Ø  3,5 / Plat. Protética 3,5	</td>	
									<td>NP 3,5</td>
								</tr>
								<tr>						
									<td>Ø  4,3 / Plat. Protética 4,3	</td>	
									<td>RP 4,3</td>
								</tr>
							</table>
						</div>
						<div class="table-responsive">
							<table class="table">
								<tr>
									<td rowspan="2"  class="table-head" >Switching platform</td>	
									<td>Ø  4,3  / Plat. Protética 3,5</td>	
									<td>NP 4,3</td>
								</tr>
								<tr>						
									<td>Ø  5,0 / Plat. Protética 4,3	</td>	
									<td>UP 5,0</td>
								</tr>
							</table>
						</div>-->

						<img id="imgMedidasImplante" src="/images/produtos/implantes/medidas/COTA_BIONECK_CMH.png" alt="Guias para as medidas do implante Triplo Canal Interno Bioneck">

						<h3>Implantes Ø  3,5 mm<!-- – Ø  3,5 mm--></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>	
									<th>“D”</th> 	
									<th>“P1”</th> 
									<th>“P”</th> 	
									<th>“b”</th>
									<th>“d”</th>
									<th>“L”</th> 	
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8 mm</td>
									<td rowspan="5">Ø  3,75 mm</td>	
									<td rowspan="5">Ø  3,5 mm</td>	
									<td rowspan="5">Ø  3 mm</td>
									<td rowspan="5">0,65 mm</td>
									<td rowspan="5">Ø  2,3 mm</td>		
									<td>8,5 mm	</td>
									<td>02.23.16.221</td>
									<td rowspan="5">CMH NP</td>
								</tr>
								<tr>
									<td>10 mm</td>							
									<td>10,5 mm	</td>
									<td>02.23.16.222</td>
								</tr>
								<tr>
									<td>11,5 mm</td>							
									<td>12 mm	</td>
									<td>02.23.16.223</td>
								</tr>
								<tr>
									<td>13 mm</td>							
									<td>13,5 mm	</td>
									<td>02.23.16.224</td>
								</tr>
								<tr>
									<td>16 mm</td>							
									<td>16,5 mm	</td>
									<td>02.23.16.225</td>
								</tr>
							</table>
						</div>

						<h3>Implantes Ø  4,3 mm<!-- – Ø  3,5 mm--></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>	
									<th>“D”</th> 	
									<th>“P1”</th> 	
									<th>“P”</th> 	
									<th>“b”</th>
									<th>“d”</th>
									<th>“L”</th> 	
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,0 mm</td>
									<td rowspan="5">Ø  4,3 mm</td>	
									<td rowspan="5">Ø  3,9 mm</td>
									<td rowspan="5">Ø  3 mm</td>	
									<td rowspan="5">0,7 mm</td>
									<td rowspan="5">Ø  2,7 mm</td>		
									<td>8,5 mm	</td>
									<td>02.23.16.251</td>
									<td rowspan="5">CMH NP</td>
								</tr>
								<tr>
									<td>10 mm</td>							
									<td>10,5 mm	</td>
									<td>02.23.16.252</td>
								</tr>
								<tr>
									<td>11,5 mm</td>							
									<td>12 mm	</td>
									<td>02.23.16.253</td>
								</tr>
								<tr>
									<td>13 mm</td>							
									<td>13,5 mm	</td>
									<td>02.23.16.254</td>
								</tr>
								<tr>
									<td>16 mm</td>							
									<td>16,5 mm	</td>
									<td>02.23.16.255</td>
								</tr>
							</table>
						</div>
						<!--div class="table-responsive">
							<table class="table">
								<thead>
									<th></th>
									<th class="td-desc" >Descrição</th>
									<th>Plataforma</th>		
									<th>Altura da cinta</th>			
									<th>Código</th>
								</thead>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.23.09.002.png" alt="">
									<td class="td-desc">Parafuso de Cobertura</td>	
									<td>NP</td>			
									<td></td>					
									<td>02.23.09.002</td>
								</tr>
								<tr>
									<td class="imgCell" rowspan="3"><img src="/images/produtos/02.23.02.151.png" alt="">
									<td class="td-desc" rowspan="3">Pilar de Cicatrização Ø 3,6</td>
									<td rowspan="3">NP</td>
									<td>3 mm</td>
									<td>02.23.02.131</td>
								</tr>
								
								<tr>	
									<td>5 mm</td>					
									<td>02.23.02.151</td>
								</tr>
								<tr>						
									<td>7 mm</td>					
									<td>02.23.02.171</td>
								</tr>
								<tr>
									<td class="imgCell" rowspan="3"><img src="/images/produtos/02.23.02.152.png" alt="">
									<td class="td-desc" rowspan="3">Pilar de Cicatrização Ø 5</td>
									<td rowspan="3">NP</td>
									<td>3 mm</td>
									<td>02.23.02.132</td>
								</tr>
								<tr>
									<td>5 mm</td>
									<td>02.23.02.152</td>
								</tr>
								<tr>
									<td>7 mm</td>
									<td>02.23.02.172</td>
								</tr>
							</table>
						</div-->
					</div>
					<div class="col-md-5"></div>
				</section>
			</div>

		</section>

		<!--div id="biotiteProd" class="row">
			<section>
				<div class="col-md-6 text-center">
					<img class="img-responsive" src="/images/produtos/implantes/singular/microscopiaforcaatomica.png" alt="microscopia força atômica">
				</div>
				<div class="col-md-6">
					<h1>Superfície Biotite</h1>
						<p>
							Com grandes investimentos em pesquisa e desenvolvimento, a Dérig alcançou a alta qualidade no tratamento de superfície de implantes, com o objetivo de oferecer muito mais segurança e estabilidade clínica.
						</p>
						<p>
							O aumento da hidrofilia permite o conceito de osseointegração secundária e maior velocidade de cicatrização óssea pós-cirúrgica.
						</p>
					<a href="/biotite" class="pull-right">Conheça essa tecnologia</a>
				</div>
			</section>
		</div-->


		<section class="container">

			<section id="brocas" class="row">
				<h1>Sequência de brocas</h1>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th></th>		
							<th>Lança</th>	
							<th>Ø  2,0</th>	
							<th>Broca Cônica<br>Ø  3,5</th>	
							<th>Broca Cônica<br>Ø  4,3</th>	
							<th>Broca Cônica<br>Ø  5,0</th>	
							<th>Macho de Rosca</th>
						</tr>
						<tr>
							<td>Ø  3,5</td>	
							<td><i class="fas fa-circle"></i></td>	
							<td><i class="fas fa-circle"></i></td>	
							<td><i class="fas fa-circle"></i></td>	
							<td> </td>	
							<td> </td>	
							<td><i class="far fa-circle"></i></td>	
						</tr>
						<tr>
							<td>Ø  4,3</td>	
							<td><i class="fas fa-circle"></i></td>	
							<td><i class="fas fa-circle"></i></td>	
							<td><i class="fas fa-circle"></i></td>	
							<td><i class="fas fa-circle"></i></td>	
							<td> </td>	
							<td><i class="far fa-circle"></i></td>
						</tr>
					</table>
				</div>
				<p class="text-right"><i class="fas fa-circle"></i> Obrigatório</p>
				<p class="text-right"><i class="far fa-circle"></i> Opcional de acordo com a densidade óssea</p>
				
			</section>

			<section id="chaves">
				<h1>Chave de inserção</h1>
				<ul>
					 <li>Torque interno com sistema grip de captura e inserção</li>
					 <li>Maior resistência mecânica à inserção</li>
					 <li>Potencializa a segurança no transporte do implante</li>
					 <li>Preserva a integridade do cone morse</li>
					 <li>Chave de inserção única para catraca e contra-ângulo</li>
				</ul>
				<p>
					A instalação do implante pode ser iniciada com a chave de captura no contra-ângulo. Posteriormente, a inserção poderá ser finalizada com torquímetro manual.
				</p>
				

				<div class="table-responsive">
					<table class="table">
						<thead>
							<th></th>
							<th class="td-desc" >Descrição</th>						
							<th class="th-cod">Código</th>
						</thead>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.233.png" alt="">
							<td class="td-desc" >Chave de Inserção CMH NP Curta</td>	
							<td>02.01.11.233</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.234.png" alt="">
							<td class="td-desc" >Chave de Inserção CMH NP Longa</td>	
							<td>02.01.11.234</td>
						</tr>
					</table>
				</div>
				<img id="imgChave" src="/images/produtos/implantes/singular/ChaveInsercaoHEXNPmd.png" alt="Chave">
			</section>
		</section>
	</div>

	<!-- Modal -->
  	<div class="modal fade" id="myModal" role="dialog">
    	<div class="modal-dialog">
    
	      	<!-- Modal content-->
	      	<div class="modal-content">
	        	<div class="modal-header">
	          		<button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle"></i></button>
	          		
	        	</div>
	        	<div class="modal-body">
	          		<p>
	          			A diferença entre o NP e o NP com Plataforma Reduzida <span>está no desenho do implante.</span> Confira a diferença no desenho abaixo.
	          		</p>
	          		<img src="/images/produtos/implantes/modal/modal-desenhos.png" alt="Ilustração dos implantes NP e NP com plataforma reduzida">
	        	</div>
	        	
      		</div>
    	</div>
  	</div>
</div>