---
layout: layout.njk
title: Implante Kort Hexágono Externo (Implante Curto) | Dérig
description: O Kort é um implante curto produzido pela Dérig Implantes do Brasil. Com sua macrogeometria cilíndrica levemente cônica em sua porção apical, ele possui a interface externa hexagonal e apresenta sua linha com plataforma reduzida (swifting).  Disponibilizamos o implante Kort nos diâmetros de Ø  4 mm e Ø  5 mm. Todos os implantes da Dérig possuem a superfície Biotite tratada por meio de duplo ataque ácido. Este implante acompanha parafuso de cobertura.
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/implantes">Implantes</a> > Hexágono Externo (Implante Curto)</p>
			<h1>Kort HEX</h1>
		</div>
	</div>

	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/implantes/grande/implantekort.png" alt="Implante Kort - Hexágono Externo | Dérig">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1><span>Hexágono Externo (Implante Curto)</span>Kort HEX</h1>
					<p>
						O Kort é um implante curto produzido pela Dérig Implantes do Brasil. Com sua macrogeometria cilíndrica levemente cônica em sua porção apical, ele possui a interface externa hexagonal e apresenta sua linha com plataforma reduzida (swifting). Disponibilizamos o implante Kort nos diâmetros de Ø 4 mm e Ø 5 mm. Todos os implantes da Dérig possuem a superfície Biotite tratada por meio de duplo ataque ácido. Este implante acompanha parafuso de cobertura.
					</p>

					<span class="pull-right text-center"><a id="instrucoes" href="https://downloads.derig.com.br/instrucoes-de-uso/implantes.pdf" target="_blank">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>
		</section>

		<nav>
			<ul>
				<li><a class="scroll" href="#caracteristicas">Características</a></li>
				<li><a class="scroll" href="#infoTecnica">Informações técnicas</a></li>
				<!--li><a class="scroll" href="#biotiteProd">Superfície Biotite</a></li-->
				<li><a class="scroll" href="#brocas">Sequência de brocas</a></li>
				<li><a class="scroll" href="#chaves">Chave de inserção</a></li>
			</ul>
		</nav>

		<section class="container">
			<div class="row" id="descricao">
				<section id="caracteristicas">
					<h1>Características</h1>
					<ul>
						<li>Implante cilíndrico levemente cônico na porção apical</li>
						<li>Interface externa hexagonal</li>
						<li>Implante cilíndrico curto com 5,5 mm e 7 mm de comprimento</li>
						<li>Torque interno com sistema grip de captura e inserção</li>
						<li>Dupla rosca para agilizar a instalação e minimizar traumas</li>
						<li>Mesma linha de componentes utilizados para o implante Biodent HEX</li>
						<li>Câmaras cortantes na região apical</li>
						<li>Sulcos retentivos nas roscas</li>
						<li>Superfície Biotite: microporosidade obtida através de duplo ataque ácido, aumentando a estabilidade secundária</li>
						<li>Simplicidade na captura e inserção
							<ul>
								<li>Travamento mecânico</li>
								<li>Chave de inserção para torquímetro</li>
								<li>Chave codificada por cores facilitam identificação da plataforma protética</li>
							</ul>
						</li>
					</ul>


					<div class="table-responsive" style="max-width: 500px;">
						<!--table class="table">
								<thead>
									<th>Perfuração</th>
									<th>Inserção</th>
									<th>Torque máx.</th>
								</thead>
								<tr>
									<td>450 - 600 rpm</td>
									<td>30 rpm</td>
									<td>45 Ncm</td>
								</tr>
							
							</table-->
						<!--<small>*Consulte o <a href="/downloads/guia-de-torques">guia de torques <i class="fas fa-external-link-alt"></i></a> para mais informações.</small>-->
					</div>
				</section>

				<section id="infoTecnica">
					<h1>Informações técnicas</h1>

					<div class="col-md-12">

						<img id="imgMedidasImplante" src="/images/produtos/implantes/medidas/COTA_KORT.png" alt="Guias para as medidas do implante Hexágono Externo Kort">

						<h3>Implantes Ø 4,0 mm<!-- – Ø  4,0 mm--></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“h”</th>
									<th>“P”</th>
									<th>“a”</th>
									<th>“b”</th>
									<th>“D”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>5,5 mm</td>
									<td rowspan="2">0,7 mm</td>
									<td rowspan="2">Ø 3,5 mm</td>
									<td rowspan="2">2,4 mm</td>
									<td rowspan="2">1,0 mm</td>
									<td rowspan="2">Ø 4,0 mm</td>
									<td rowspan="2">Ø 3,70 mm</td>
									<td>5,5 mm</td>
									<td>02.03.16.049</td>
									<td rowspan="2">HEX NP</td>
								</tr>
								<tr>
									<td>7,0 mm</td>
									<td>7 mm </td>
									<td>02.03.16.050</td>
								</tr>
							</table>
						</div>

						<h3>Implantes Ø 5,0 mm<!-- – Ø  5,0 mm--></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“h”</th>
									<th>“P”</th>
									<th>“a”</th>
									<th>“b”</th>
									<th>“D”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>5,5 mm</td>
									<td rowspan="2">0,7 mm</td>
									<td rowspan="2">Ø 4,1 mm</td>
									<td rowspan="2">2,7 mm</td>
									<td rowspan="2">1,2 mm</td>
									<td rowspan="2">Ø 5,0 mm</td>
									<td rowspan="2">Ø 4,70 mm</td>
									<td>5,5 mm</td>
									<td>02.03.16.051</td>
									<td rowspan="2">HEX RP-UP</td>
								</tr>
								<tr>
									<td>7,0 mm</td>
									<td>7 mm </td>
									<td>02.03.16.052</td>
								</tr>
							</table>
						</div>
						<!--div class="table-responsive">
							<table class="table">
								<thead>
									<th></th>
									<th class="td-desc" >Descrição</th>
									<th>Plataforma</th>		
									<th>Altura da cinta</th>			
									<th>Código</th>
								</thead>
								<tr>
									<td class="imgCell" rowspan="2"><img src="/images/produtos/02.03.09.024.png" alt="">
									<td class="td-desc" rowspan="2">Parafuso de Cobertura</td>	
									<td>NP</td>			
									<td></td>					
									<td>02.03.09.025</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td>02.03.09.024</td>
								</tr>
								<tr>
									<td class="imgCell" rowspan="4"><img src="/images/produtos/02.08.02.004.png" alt="">
									<td class="td-desc" rowspan="4">Pilar de Cicatrização</td>	
									<td rowspan="2">NP</td>			
									<td>3 mm</td>					
									<td>02.03.02.001</td>
								</tr>
								<tr>						
									<td>5 mm</td>					
									<td>02.03.02.002</td>
								</tr>
								<tr>
									<td rowspan="2">RP-UP</td>	
									<td>3 mm</td>
									<td>02.08.02.002</td>
								</tr>
								<tr>
									<td>5 mm</td>
									<td>02.08.02.004</td>
								</tr>
							</table>
						</div-->

						<!--<div class="table-responsive">
							<table class="table">
								<thead>
									<th></th>
									<th class="td-desc">Descrição</th>				
									<th>Plataforma</th> 	
									<th>Altura da cinta</th>		
									<th>Código</th>	
								</thead>
								<tr>
									<td rowspan="2" align="left"><img style="width: 106px; height: auto; margin-left: -30px;" src="/images/produtos/02.03.09.025.png"></td>
									<td rowspan="2" class="td-desc">Parafuso de Cobertura</td>	
									<td>NP	</td>		
									<td>	</td>			
									<td>02.03.09.025</td>
								</tr>
								<tr>						
									<td>RP-UP</td>		
									<td>	</td>			
									<td>02.03.09.024</td>
								</tr>
								<tr>
									<td rowspan="4" align="left"><img style="width: 138px; height: auto" src="/images/produtos/02.03.02.001.png"></td>
									<td rowspan="4" class="force-odd td-desc">Pilar de Cicatrização</td>	
									<td>NP	</td>		
									<td>3 mm</td>			
									<td>02.03.02.001</td>
								</tr>
								<tr>						
									<td>NP	</td>		
									<td>5 mm</td>			
									<td>02.03.02.002</td>
								</tr>
								<tr>						
									<td>RP-UP</td>		
									<td>3 mm</td>			
									<td>02.08.02.002</td>
								</tr>
								<tr>						
									<td>RP-UP</td>		
									<td>5 mm</td>			
									<td>02.08.02.004</td>
								</tr>
							</table>
						</div>
					</div>-->
						<div class="col-md-5"></div>
				</section>
			</div>

		</section>

		<!--div id="biotiteProd" class="row">
			<section>
				<div class="col-md-6 text-center">
					<img class="img-responsive" src="/images/produtos/implantes/singular/microscopiaforcaatomica.png" alt="microscopia força atômica">
				</div>
				<div class="col-md-6">
					<h1>Superfície Biotite</h1>
					<p>
						Com grandes investimentos em pesquisa e desenvolvimento, a Dérig alcançou a alta qualidade no tratamento de superfície de implantes, com o objetivo de oferecer muito mais segurança e estabilidade clínica. 
					</p>
					<p>
						O aumento da hidrofilia permite o conceito de osseointegração secundária e maior velocidade de cicatrização óssea pós-cirúrgica.
					</p>
					<a href="/biotite" class="pull-right">Conheça essa tecnologia</a>
				</div>
			</section>
		</div-->



		<section class="container">

			<section id="brocas" class="row">
				<h1>Sequência de brocas*</h1>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th></th>
							<th>Lança</th>
							<th>Ø 2,0</th>
							<th>Ø 2,8</th>
							<th>Ø 3,2</th>
							<th>Ø 3,6</th>
							<th>Ø 4,2</th>
							<th nowrap="nowrap">Ø 4 x 5,5</th>
							<th nowrap="nowrap">Ø 4 x 7</th>
							<th nowrap="nowrap">Ø 5 x 5,5</th>
							<th nowrap="nowrap">Ø 5 x 7</th>
							<!--<th>Macho<br>de Rosca</th>	
							<th>Countersink UN</th> -->
						</tr>

						<tr>
							<td>Ø 4x5,5</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i> </td>
							<td> </td>
							<td> </td>
							<td><i class="fas fa-circle"></i> </td>
							<td></td>
							<td></td>
							<td></td>
							<!--<td><i class="far fa-circle"></i></td>		
							<td><i class="far fa-circle"></i></td>-->
						</tr>
						<tr>
							<td>Ø 4x7</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td><i class="fas fa-circle"></i></td>
							<td></td>
							<td></td>
							<!--<td><i class="far fa-circle"></i></td> 		
							<td><i class="far fa-circle"></i></td>-->
						</tr>
						<tr>
							<td>Ø 5x5,5</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td></td>
							<td></td>
							<td><i class="fas fa-circle"></i></td>
							<td></td>
							<!--<td><i class="far fa-circle"></i></td>		
							<td><i class="far fa-circle"></i></td>-->
						</tr>
						<tr>
							<td>Ø 5x7</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td></td>
							<td></td>
							<td></td>
							<td><i class="fas fa-circle"></i></td>

							<!--<td><i class="far fa-circle"></i></td>		
							<td><i class="far fa-circle"></i></td>-->
						</tr>
					</table>
				</div>
				<p class="text-right"><i class="fas fa-circle"></i> Obrigatório</p>
				<p class="text-right" style="font-weight: bold;">*Recomendamos o uso do <a href="/produtos/kits/kit-kort">Kit de Brocas Kort <i class="fas fa-external-link-alt"></i></a></p>
			</section>

			<section id="chaves">
				<h1>Chave de inserção</h1>
				<ul>
					<li>Maior resistência mecânica à inserção</li>
					<li>Potencializa a segurança no transporte do implante</li>
					<li>Preserva a integridade do hexágono externo</li>
				</ul>
				<p>
					A instalação do implante pode ser iniciada com a chave de captura no contra-ângulo. Posteriormente, a inserção deverá ser finalizada com torquímetro manual.
				</p>


				<div class="table-responsive">
					<table class="table">
						<thead>
							<th></th>
							<th class="td-desc">Descrição</th>
							<th class="th-cod">Código</th>
						</thead>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.076.png" alt=""></td>
							<td class="td-desc">Chave de Inserção CA HEX NP Média </td>
							<td>02.01.11.076</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.106.png" alt=""></td>
							<td class="td-desc">Chave de Inserção CA HEX NP Longa</td>
							<td>02.01.11.106</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.096.png" alt=""></td>
							<td class="td-desc">Chave de Inserção CA HEX RP-UP Curta</td>
							<td>02.01.11.096</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.077.png" alt=""></td>
							<td class="td-desc">Chave de Inserção CA HEX RP-UP Média</td>
							<td>02.01.11.077</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.050.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TQ HEX NP Curta </td>
							<td>02.01.11.050</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.051.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TQ HEX NP Média </td>
							<td>02.01.11.051</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.053.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TQ HEX RP-UP Curta</td>
							<td>02.01.11.053</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.054.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TQ HEX RP-UP Média</td>
							<td>02.01.11.054</td>
						</tr>
					</table>
				</div>
				<img id="imgChave" src="/images/produtos/implantes/singular/ChaveInsercaoHEXNPmd.png" alt="Chave">
			</section>
		</section>
	</div>
</div>