---
layout: layout.njk
title: Dynamic CMH Hexágono Morse Cônico | Dérig
description: O implante Dynamic, produzido pela Dérig Implantes do Brasil, possui a interface interna Cone Morse indexada unificada para todos os diâmetros de implantes. Com seu núcleo central cônico, o implante possui roscas duplas progressivas, o que proporciona uma alta estabilidade primária. Disponibilizamos o implante Dynamic nos diâmetros de Ø  3,5 mm – Ø  4,3 mm e Ø  5,0 mm. Todos os implantes da Dérig possuem a superfície Biotite tratada por meio de duplo ataque ácido.
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/implantes">Implantes</a> > <a href="/produtos/implantes-cmh">CMH</a> > Dynamic CMH</p>
			<h1>Dynamic CMH</h1>
		</div>
	</div>

	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/implantes/grande/implantedynamiccmh.png" alt="Implante Kort - Hexágono Externo | Dérig">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1><span>Cone Morse Hexagonal | CMH</span>Dynamic CMH</h1>

					<span class="pull-right text-center"><a id="instrucoes" href="https://downloads.derig.com.br/instrucoes-de-uso/implantes.pdf" target="_blank">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>
		</section>

		<nav>
			<ul>
				<li><a class="scroll" href="#caracteristicas">Características</a></li>
				<li><a class="scroll" href="#infoTecnica">Informações técnicas</a></li>
				<!--li><a class="scroll" href="#biotiteProd">Superfície Biotite</a></li-->
				<li><a class="scroll" href="#brocas">Sequencia de brocas</a></li>
				<li><a class="scroll" href="#chaves">Chave de inserção</a></li>
			</ul>
		</nav>

		<section class="container">
			<div class="row" id="descricao">
				<section id="caracteristicas">
					<h1>Características</h1>
					<ul>
						<li>Uma única interface interna cone morse para todos os diâmetros de implantes</li>
						<li>Espiras largas com câmaras cortantes e núcleo do implante cônico, que possibilitam a expansão e compressão do osso simultaneamente</li>
						<li>Superfície Biotite: microporosidade obtida através de duplo ataque ácido, aumentando a estabilidade secundária</li>

						<li>Diâmetros dos implantes:</li>
						<ul>
							<li>Dynamic CMH 3,5</li>
							<li>Dynamic CMH 4,3</li>
							<li>Dynamic CMH 5,0</li>
						</ul><br />

						<div class="table-responsive" style="max-width: 500px;">
							<!--table class="table">
								<thead>
									<th>Perfuração</th>
									<th>Inserção</th>
									<th>Torque máx.</th>
								</thead>
								<tr>
									<td>800-1200 rpm</td>
									<td>30 rpm</td>
									<td>45 Ncm</td>
								</tr>
							
							</table-->
							<!--<small>*Consulte o <a href="/downloads/guia-de-torques">guia de torques <i class="fas fa-external-link-alt"></i></a> para mais informações.</small>-->
						</div>

				</section>

				<section id="infoTecnica">
					<h1>Informações técnicas</h1>

					<img id="imgMedidasImplante" src="/images/produtos/implantes/medidas/COTA_DYNAMIC_CMH.png" alt="Guias para as medidas do implanteCone Morse Indexado Dynamic">

					<div class="col-md-12">
						<h3>Implantes Ø 3,5 mm<!-- – Ø  3,5 mm--></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“D”</th>
									<th>“P1”</th>
									<th>“P”</th>
									<th>“b”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,5 mm</td>
									<td rowspan="5">Ø 3,5 mm</td>
									<td rowspan="5">Ø 3,5 mm</td>
									<td rowspan="5">Ø 3 mm</td>
									<td rowspan="5">2,4 mm</td>
									<td rowspan="5">Ø 2,6 mm</td>
									<td>8 mm</td>
									<td>02.23.16.321</td>
									<td rowspan="5">CMH NP</td>
								</tr>
								<tr>
									<td>10 mm </td>
									<td>9,5 mm </td>
									<td>02.23.16.322</td>
								</tr>
								<tr>
									<td>11,5 mm </td>
									<td>11 mm </td>
									<td>02.23.16.323</td>
								</tr>
								<tr>
									<td>13 mm </td>
									<td>12,5 mm </td>
									<td>02.23.16.324</td>
								</tr>
								<tr>
									<td>15 mm </td>
									<td>14,5 mm </td>
									<td>02.23.16.325</td>
								</tr>
							</table>
						</div>

						<h3>Implantes Ø 4,3 mm<!-- – Ø  3,5 mm--></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“D”</th>
									<th>“P1”</th>
									<th>“P”</th>
									<th>“b”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,5 mm</td>
									<td rowspan="5">Ø 4,3 mm</td>
									<td rowspan="5">Ø 3,9 mm</td>
									<td rowspan="5">Ø 3 mm</td>
									<td rowspan="5">2,4 mm</td>
									<td rowspan="5">Ø 3,2 mm</td>
									<td>8 mm</td>
									<td>02.23.16.351</td>
									<td rowspan="5">CMH NP</td>
								</tr>
								<tr>
									<td>10 mm </td>
									<td>9,5 mm </td>
									<td>02.23.16.352</td>
								</tr>
								<tr>
									<td>11,5 mm </td>
									<td>11 mm </td>
									<td>02.23.16.353</td>
								</tr>
								<tr>
									<td>13 mm </td>
									<td>12,5 mm </td>
									<td>02.23.16.354</td>
								</tr>
								<tr>
									<td>15 mm </td>
									<td>14,5 mm </td>
									<td>02.23.16.355</td>
								</tr>
							</table>
						</div>

						<h3>Implantes Ø 5,0 mm<!-- – Ø  3,5 mm--></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“D”</th>
									<th>“P1”</th>
									<th>“P”</th>
									<th>“b”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,5 mm</td>
									<td rowspan="5">Ø 4,9 mm</td>
									<td rowspan="5">Ø 3,9 mm</td>
									<td rowspan="5">Ø 3 mm</td>
									<td rowspan="5">2,4 mm</td>
									<td rowspan="5">Ø 3,6 mm</td>
									<td>8 mm</td>
									<td>02.23.16.361</td>
									<td rowspan="5">CMH NP</td>
								</tr>
								<tr>
									<td>10 mm </td>
									<td>9,5 mm </td>
									<td>02.23.16.362</td>
								</tr>
								<tr>
									<td>11,5 mm </td>
									<td>11 mm </td>
									<td>02.23.16.363</td>
								</tr>
								<tr>
									<td>13 mm </td>
									<td>12,5 mm </td>
									<td>02.23.16.364</td>
								</tr>
								<tr>
									<td>15 mm </td>
									<td>14,5 mm </td>
									<td>02.23.16.365</td>
								</tr>
							</table>
						</div>
						<!--div class="table-responsive">
							<table class="table">
								<thead>
									<th></th>
									<th class="td-desc" >Descrição</th>
									<th>Plataforma</th>		
									<th>Altura da cinta</th>			
									<th>Código</th>
								</thead>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.23.09.002.png" alt="">
									<td class="td-desc">Parafuso de Cobertura</td>	
									<td>NP</td>			
									<td></td>					
									<td>02.23.09.002</td>
								</tr>
								<tr>
									<td class="imgCell" rowspan="3"><img src="/images/produtos/02.23.02.151.png" alt="">
									<td class="td-desc" rowspan="3">Pilar de Cicatrização Ø 3,6</td>
									<td rowspan="3">NP</td>
									<td>3 mm</td>
									<td>02.23.02.131</td>
								</tr>
								
								<tr>	
									<td>5 mm</td>					
									<td>02.23.02.151</td>
								</tr>
								<tr>						
									<td>7 mm</td>					
									<td>02.23.02.171</td>
								</tr>
								<tr>
									<td class="imgCell" rowspan="3"><img src="/images/produtos/02.23.02.152.png" alt="">
									<td class="td-desc" rowspan="3">Pilar de Cicatrização Ø 5</td>
									<td rowspan="3">NP</td>
									<td>3 mm</td>
									<td>02.23.02.132</td>
								</tr>
								<tr>
									<td>5 mm</td>
									<td>02.23.02.152</td>
								</tr>
								<tr>
									<td>7 mm</td>
									<td>02.23.02.172</td>
								</tr>
							</table>
						</div-->

					</div>
					<div class="col-md-5"></div>
				</section>
			</div>

		</section>

		<!--div id="biotiteProd" class="row">
				<section>
					<div class="col-md-6 text-center">
						<img class="img-responsive" src="/images/produtos/implantes/singular/microscopiaforcaatomica.png" alt="microscopia força atômica">
					</div>
					<div class="col-md-6">
						<h1>Superfície Biotite</h1>
						<p>
							Com grandes investimentos em pesquisa e desenvolvimento, a Dérig alcançou a alta qualidade no tratamento de superfície de implantes, com o objetivo de oferecer muito mais segurança e estabilidade clínica.
						</p>
						<p>
							O aumento da hidrofilia permite o conceito de osseointegração secundária e maior velocidade de cicatrização óssea pós-cirúrgica.
						</p>
					<a href="/biotite" class="pull-right">Conheça essa tecnologia</a>
					</div>
				</section>
			</div-->


		<section class="container">
			<section id="brocas" class="row">
				<h1>Sequência de brocas</h1>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th></th>
							<th>Lança</th>
							<th>Ø 2,0</th>
							<th>Ø 2,8</th>
							<th>Ø 3,0</th>
							<th>Ø 3,15</th>
							<th>Ø 3,5</th>
							<th>Ø 4,3</th>
							<th>Countersink UN</th>
						</tr>
						<tr>
							<td>Ø 3,5 mm</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td><i class="far fa-circle"></i></td>
						</tr>
						<tr>
							<td>Ø 4,3 mm</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
							<td> </td>
							<td><i class="far fa-circle"></i></td>
						</tr>
						<tr>
							<td>Ø 5,0 mm</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
						</tr>
					</table>
				</div>
				<p class="text-right"><i class="fas fa-circle"></i> Obrigatório</p>
				<p class="text-right"><i class="far fa-circle"></i> Opcional de acordo com a densidade óssea</p>
			</section>

			<section id="chaves">
				<h1>Chave de inserção</h1>
				<ul>
					<li>Torque interno com sistema grip de captura e inserção</li>
					<li>Maior resistência mecânica à inserção</li>
					<li>Potencializa a segurança no transporte do implante</li>
					<li>Preserva a integridade do cone morse</li>
					<li>Chave de inserção única para catraca e contra-ângulo</li>
				</ul>
				<p>
					A instalação do implante pode ser iniciada com a chave de captura no contra-ângulo. Posteriormente, a inserção poderá ser finalizada com torquímetro manual.
				</p>

				<div class="table-responsive">
					<table class="table">
						<thead>
							<th></th>
							<th class="td-desc">Descrição</th>
							<th class="th-cod">Código</th>
						</thead>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.233.png" alt="">
							<td class="td-desc">Chave de Inserção CMH NP Curta</td>
							<td>02.01.11.233</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.234.png" alt="">
							<td class="td-desc">Chave de Inserção CMH NP Longa</td>
							<td>02.01.11.234</td>
						</tr>
					</table>
				</div>
				<img id="imgChave" src="/images/produtos/implantes/singular/ChaveInsercaoHEXNPmd.png" alt="Chave">
			</section>
		</section>
	</div>
</div>