---
layout: layout.njk
title: Implante Bioneck Triplo Canal Interno | Dérig
description: O implante Bioneck, produzido pela Dérig Implantes do Brasil, tem a interface de triplo canal interno. Com alto poder de compactação, o implante possui sulcos retentivos nas roscas, otimizando a área de contato entre implante e osso, o que aumenta a estabilidade primária. Disponibilizamos o implante Bioneck nos diâmetros de Ø   3,5 mm – Ø   4,3 mm e Ø   5,0 mm. Todos os implantes da Dérig possuem a superfície Biotite tratada por meio de duplo ataque ácido. Este implante acompanha parafuso de cobertura.
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/implantes">Implantes</a> > Triplo Canal Interno</p>
			<h1>Bioneck TRI</h1>
		</div>
	</div>

	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/implantes/grande/implantebioneckreducao.png" alt="Implante Bioneck - Triplo Canal Interno | Dérig">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1><span>Triplo Canal Interno</span> Bioneck TRI</h1>
					<p>
						O implante Bioneck, produzido pela Dérig Implantes do Brasil, tem a interface de triplo canal interno. Com alto poder de compactação, o implante possui sulcos retentivos nas roscas, otimizando a área de contato entre implante e osso, o que aumenta a estabilidade primária. Disponibilizamos o implante Bioneck nos diâmetros de Ø 3,5 mm – Ø 4,3 mm e Ø 5,0 mm. Todos os implantes da Dérig possuem a superfície Biotite tratada por meio de duplo ataque ácido. Este implante acompanha parafuso de cobertura.
					</p>

					<span class="pull-right text-center"><a id="instrucoes" href="https://downloads.derig.com.br/instrucoes-de-uso/implantes.pdf" target="_blank">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>

		</section>

		<nav>
			<ul>
				<li><a class="scroll" href="#caracteristicas">Características</a></li>
				<li><a class="scroll" href="#infoTecnica">Informações técnicas</a></li>
				<!--li><a class="scroll" href="#biotiteProd">Superfície Biotite</a></li-->
				<li><a class="scroll" href="#brocas">Sequência de brocas</a></li>
				<li><a class="scroll" href="#chaves">Chave de inserção</a></li>
			</ul>
		</nav>

		<section class="container">

			<div class="row" id="descricao">
				<section id="caracteristicas">
					<h1>Características</h1>
					<ul>
						<li>Implante cônico</li>
						<li>Interface interna triplo canal</li>
						<li>Torque interno com sistema de captura e inserção</li>
						<li>Microcanais cervicais</li>
						<li>Macrogeometria com alta estabilidade primária</li>
						<li>Sulcos retentivos nas roscas: maior área de contato e estabilidade primária</li>
						<li>Superfície Biotite: micro porosidade obtida através de duplo ataque ácido, aumentando a estabilidade secundária</li>
						<li>Simplicidade na captura e inserção
							<ul>
								<li>Marcas coloridas indicam posicionamento correto</li>
								<li>Dimensionador de profundidade</li>
								<li>Sistema mecânico de captura</li>
							</ul>
						</li>
					</ul>

					<div class="table-responsive" style="max-width: 500px;">
						<!--table class="table">
								<thead><th>Perfuração</th>		<th>Inserção</th>		<th>Torque máx.</th></thead>
								<tr><td>800-1200 rpm		</td>		<td>30 rpm</td>			<td>45 Ncm</td></tr>
							
							</table-->
						<!--<small>*Consulte o <a href="/downloads/guia-de-torques">guia de torques <i class="fas fa-external-link-alt"></i></a> para mais informações.</small>-->
					</div>

				</section>

				<section id="infoTecnica">
					<h1>Informações técnicas</h1>

					<div class="col-md-12">

						<!--<div class="table-responsive">
							<table class="table">
								<tr>
									<td rowspan="2" class="table-head">Plataforma convencional</td>	
									<td>Ø   3,5 / Plat. Protética 3,5	</td>	
									<td>NP 3,5</td>
								</tr>
								<tr>						
									<td>Ø   4,3 / Plat. Protética 4,3	</td>	
									<td>RP 4,3</td>
								</tr>
							</table>
						</div>
						<div class="table-responsive">
							<table class="table">
								<tr>
									<td rowspan="2"  class="table-head" >Redução de plataforma</td>	
									<td>Ø   4,3  / Plat. Protética 3,5</td>	
									<td>NP 4,3</td>
								</tr>
								<tr>						
									<td>Ø   5,0 / Plat. Protética 4,3	</td>	
									<td>UP 5,0</td>
								</tr>
							</table>
						</div>-->

						<img id="imgMedidasImplante" src="/images/produtos/implantes/medidas/COTA_BIONECK_TRI_01.png" alt="Guias para as medidas do implante Triplo Canal Interno Bioneck">

						<h3>Implantes Ø 3,5 mm <span style="width: 15px;height: 15px;background: #ec008c;display: inline-block;border-radius: 10px;"></span></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“D”</th>
									<th>“P”</th>
									<th>“b”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,0 mm</td>
									<td rowspan="5">Ø 3,75 mm</td>
									<td rowspan="5">Ø 3,5 mm</td>
									<td rowspan="5">0,65 mm</td>
									<td rowspan="5">Ø 2,3 mm</td>
									<td>8,5 mm </td>
									<td>02.04.16.001</td>
									<td rowspan="5">TRI NP</td>
								</tr>
								<tr>
									<td>10 mm</td>
									<td>10,5 mm </td>
									<td>02.04.16.002</td>
								</tr>
								<tr>
									<td>11,5 mm</td>
									<td>12 mm </td>
									<td>02.04.16.053</td>
								</tr>
								<tr>
									<td>13 mm</td>
									<td>13,5 mm </td>
									<td>02.04.16.003</td>
								</tr>
								<tr>
									<td>16 mm</td>
									<td>16,5 mm </td>
									<td>02.04.16.004</td>
								</tr>
							</table>
						</div>

						<h3>Implantes Ø 4,3 mm <span style="width: 15px;height: 15px;background: #fff200;display: inline-block;border-radius: 10px;"></span></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“D”</th>
									<th>“P”</th>
									<th>“b”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,0 mm </td>
									<td rowspan="5">Ø 4,3 mm</td>
									<td rowspan="5">Ø 4,3 mm</td>
									<td rowspan="5">0,70 mm</td>
									<td rowspan="5">Ø 2,7 mm</td>
									<td>8,5 mm</td>
									<td>02.04.16.005</td>
									<td rowspan="5">TRI RP-UP</td>
								</tr>
								<tr>
									<td>10 mm </td>
									<td>10,5 mm</td>
									<td>02.04.16.006</td>
								</tr>
								<tr>
									<td>11,5 mm </td>
									<td>12 mm</td>
									<td>02.04.16.054</td>
								</tr>
								<tr>
									<td>13 mm </td>
									<td>13,5 mm</td>
									<td>02.04.16.007</td>
								</tr>
								<tr>
									<td>16 mm </td>
									<td>16,5 mm</td>
									<td>02.04.16.008</td>
								</tr>
							</table>
						</div>

						<h3>Implantes Ø 5,0 mm <span style="width: 15px;height: 15px;background: #fff200;display: inline-block;border-radius: 10px;"></span></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“D”</th>
									<th>“P”</th>
									<th>“b”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,0 mm </td>
									<td rowspan="5">Ø 5,0 mm</td>
									<td rowspan="5">Ø 4,3 mm</td>
									<td rowspan="5">0,75 mm</td>
									<td rowspan="5">Ø 2,9 mm</td>
									<td>8,5 mm </td>
									<td>02.04.16.025</td>
									<td rowspan="5">TRI RP-UP</td>
								</tr>
								<tr>
									<td>10 mm </td>
									<td>10,5 mm </td>
									<td>02.04.16.026</td>
								</tr>
								<tr>
									<td>11,5 mm </td>
									<td>12 mm </td>
									<td>02.04.16.055</td>
								</tr>
								<tr>
									<td>13 mm </td>
									<td>13,5 mm </td>
									<td>02.04.16.027</td>
								</tr>
								<tr>
									<td>16 mm </td>
									<td>16,5 mm </td>
									<td>02.04.16.028</td>
								</tr>
							</table>
						</div>

						<!--div class="table-responsive">
							<table class="table">
								<thead>
									<th></th>
									<th class="td-desc" >Descrição</th>
									<th>Plataforma</th>		
									<th>Altura da cinta</th>			
									<th>Código</th>
								</thead>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.04.09.034.png" alt="">
									<td class="td-desc">Parafuso de Cobertura</td>	
									<td>RP-UP</td>			
									<td></td>					
									<td>02.04.09.034</td>
								</tr>
								<tr>
									<td class="imgCell" rowspan="2"><img src="/images/produtos/02.04.02.006.png" alt="">
									<td class="td-desc" rowspan="2">Pilar de Cicatrização</td>
									<td rowspan="2">RP-UP</td>
									<td>3 mm</td>
									<td>02.04.02.005</td>
								</tr>
								
								<tr>	
									<td>5 mm</td>					
									<td>02.04.02.006</td>
								</tr>
							</table>
						</div-->

						<!--img id="imgMedidasImplante" src="/images/produtos/implantes/medidas/COTA_BIONECK.png" alt="Guias para as medidas do implante Triplo Canal Interno Bioneck">

						<h3>Triplo Canal Interno com Redução de Plataforma</h3>
						<h3>Implantes Ø   4,3 mm <span style="width: 15px;height: 15px;background: #ec008c;display: inline-block;border-radius: 10px;"></span></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>	
									<th>“D”</th> 	
									<th>“P”</th> 	
									<th>“b”</th>	
									<th>“d”</th>	
									<th>“L”</th> 	
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,0 mm</td>
									<td rowspan="5">Ø  4,3 mm</td>	
									<td rowspan="5">Ø  3,5 mm</td>	
									<td rowspan="5">0,70 mm</td>	
									<td rowspan="5">Ø  2,7 mm</td>	
									<td>8,5 mm</td>
									<td>02.04.16.059</td>
									<td rowspan="5">TRI NP</td>
								</tr>
								<tr>
									<td>10 mm</td>						
									<td>10,5 mm</td>
									<td>02.04.16.060</td>
								</tr>
								<tr>
									<td>11,5 mm</td>						
									<td>12 mm</td>
									<td>02.04.16.061</td>
								</tr>
								<tr>
									<td>13 mm</td>						
									<td>13,5 mm</td>
									<td>02.04.16.062</td>
								</tr>
								<tr>
									<td>16 mm</td>						
									<td>16,5 mm</td>
									<td>02.04.16.063</td>
								</tr>
							</table>
							<p>Componentes possuem codificação por cores para identificar a interface protética<span style="width: 15px;height: 15px;background: #ec008c;display: inline-block;border-radius: 10px;margin-left: 10px"></span> <span style="width: 15px;height: 15px;background: #fff200;display: inline-block;border-radius: 10px;"></span></p>
						</div>

						<!--div class="table-responsive">
							<table class="table">
								<thead>
									<th></th>
									<th class="td-desc" >Descrição</th>
									<th>Plataforma</th>		
									<th>Altura da cinta</th>			
									<th>Código</th>
								</thead>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.04.09.033.png" alt="">
									<td class="td-desc">Parafuso de Cobertura</td>	
									<td>NP</td>			
									<td></td>					
									<td>02.04.09.033</td>
								</tr>
								<tr>
									<td class="imgCell" rowspan="2"><img src="/images/produtos/02.04.02.002.png" alt="">
									<td class="td-desc" rowspan="2">Pilar de Cicatrização</td>
									<td rowspan="2">NP</td>
									<td>3 mm</td>
									<td>02.04.02.001</td>
								</tr>
								
								<tr>	
									<td>5 mm</td>					
									<td>02.04.02.002</td>
								</tr>
							</table>
						</div-->
					</div>
				</section>
			</div>

		</section>

		<!--div id="biotiteProd" class="row">
			<section>
				<div class="col-md-6 text-center">
					<img class="img-responsive" src="/images/produtos/implantes/singular/microscopiaforcaatomica.png" alt="microscopia força atômica">
				</div>
				<div class="col-md-6">
					<h1>Superfície Biotite</h1>
					<p>
						Com grandes investimentos em pesquisa e desenvolvimento, a Dérig alcançou a alta qualidade no tratamento de superfície de implantes, com o objetivo de oferecer muito mais segurança e estabilidade clínica. 
					</p>
					<p>
						O aumento da hidrofilia permite o conceito de osseointegração secundária e maior velocidade de cicatrização óssea pós-cirúrgica.
					</p>
					<a href="/biotite" class="pull-right">Conheça essa tecnologia</a>
				</div>
			</section>
		</div-->


		<section class="container">

			<section id="brocas" class="row">
				<h1>Sequência de brocas</h1>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th></th>
							<th>Lança</th>
							<th>Ø 2,0</th>
							<th>Broca<br>Cônica<br>Ø 3,5</th>
							<th>Broca<br>Cônica<br>Ø 4,3</th>
							<th>Broca<br>Cônica<br>Ø 5,0</th>
							<th>Macho<br>de Rosca</th>
						</tr>
						<tr>
							<td>Ø 3,5</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td> </td>
							<td> </td>
							<td><i class="far fa-circle"></i></td>
						</tr>
						<tr>
							<td>Ø 4,3</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td> </td>
							<td><i class="far fa-circle"></i></td>
						</tr>
						<tr>
							<td>Ø 5,0</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
						</tr>
					</table>
				</div>
				<p class="text-right"><i class="fas fa-circle"></i> Obrigatório</p>
				<p class="text-right"><i class="far fa-circle"></i> Opcional de acordo com a densidade óssea</p>

			</section>

			<section id="chaves">
				<h1>Chave de inserção</h1>
				<ul>
					<li>Torque interno com sistema grip de captura e inserção</li>
					<li>Maior resistência mecânica à inserção</li>
					<li>Potencializa a segurança no transporte do implante</li>
					<li>Preserva a integridade do triângulo interno</li>
					<li>Chave de inserção única para catraca e contra-ângulo</li>
				</ul>
				<p>
					A instalação do implante pode ser iniciada com a chave de captura no contra-ângulo. Posteriormente, a inserção deverá ser finalizada com torquímetro manual.
				</p>


				<div class="table-responsive">
					<table class="table">
						<thead>
							<th></th>
							<th class="td-desc">Descrição</th>
							<th class="th-cod">Código</th>
						</thead>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.048.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TRI NP Curta </td>
							<td>02.01.11.048</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.058.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TRI NP Longa </td>
							<td>02.01.11.058</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.049.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TRI RP-UP Curta</td>
							<td>02.01.11.049</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.059.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TRI RP-UP Longa</td>
							<td>02.01.11.059</td>
						</tr>
					</table>
				</div>
				<img id="imgChave" src="/images/produtos/implantes/singular/ChaveInsercaoHEXNPmd.png" alt="Chave">
			</section>
		</section>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle"></i></button>

				</div>
				<div class="modal-body">
					<p>
						A diferença entre o NP e o NP com Plataforma Reduzida <span>está no desenho do implante.</span> Confira a diferença no desenho abaixo.
					</p>
					<img src="/images/produtos/implantes/modal/modal-desenhos.png" alt="Ilustração dos implantes NP e NP com plataforma reduzida">
				</div>

			</div>
		</div>
	</div>
</div>