---
layout: layout.njk
title: Implante Biodent Hexágono Externo | Dérig
description: O implante Biodent, produzido pela Dérig Implantes do Brasil, tem a interface externa hexagonal. Com alto poder de expansão óssea, o implante possui sulcos retentivos nas roscas, otimizando a área de contato entre implante e osso, o que aumenta a estabilidade primária, além de permitir uma instalação com menos trauma. Disponibilizamos o implante Biodent nos diâmetros de Ø  3,3 mm – Ø  3,75mm e Ø  5,0 mm. Todos os implantes da Dérig possuem a superfície Biotite tratada por meio de duplo ataque ácido. Este implante acompanha parafuso de cobertura.
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/implantes">Implantes</a> > Hexágono Externo</p>
			<h1>Biodent HEX</h1>
		</div>
	</div>

	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/implantes/grande/implantebiodent.png" alt="Implante Biodent - Hexágono Externo | Dérig">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1><span>Hexágono Externo</span> Biodent HEX</h1>
					<p>
						O implante Biodent, produzido pela Dérig Implantes do Brasil, tem a interface externa hexagonal. Com alto poder de expansão óssea, o implante possui sulcos retentivos nas roscas, otimizando a área de contato entre implante e osso, o que aumenta a estabilidade primária, além de permitir uma instalação com menos trauma. Disponibilizamos o implante Biodent nos diâmetros de Ø 3,3 mm – Ø 3,75mm e Ø 5,0 mm. Todos os implantes da Dérig possuem a superfície Biotite tratada por meio de duplo ataque ácido. Este implante acompanha parafuso de cobertura.
					</p>

					<span class="pull-right text-center"><a id="instrucoes" href="https://downloads.derig.com.br/instrucoes-de-uso/implantes.pdf" target="_blank">Instruções de uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>

		</section>

		<nav>
			<ul>
				<li><a class="scroll" href="#caracteristicas">Características</a></li>
				<li><a class="scroll" href="#infoTecnica">Informações técnicas</a></li>
				<!--li><a class="scroll" href="#biotiteProd">Superfície Biotite</a></li-->
				<li><a class="scroll" href="#brocas">Sequência de brocas</a></li>
				<li><a class="scroll" href="#chaves">Chave de inserção</a></li>
			</ul>
		</nav>

		<section class="container">

			<div class="row" id="descricao">
				<section id="caracteristicas">
					<h1>Características</h1>
					<ul>
						<li>Implante cilíndrico levemente cônico na porção apical</li>
						<li>Interface externa hexagonal</li>
						<li>Dupla rosca para agilizar a inserção e minimizar traumas</li>
						<li>Sulcos retentivos nas roscas: maior área de contato e estabilidade primária</li>
						<li>Câmaras com alta capacidade de corte</li>
						<li>Superfície Biotite: microporosidade obtida através de duplo ataque ácido, aumentando a estabilidade secundária</li>
						<li>Simplicidade na captura e inserção
							<ul>
								<li>Torque interno com sistema <em>grip</em> de captura e inserção</li>
								<li>Travamento mecânico</li>
								<li>Chave de inserção para torquímetro</li>
							</ul>
						</li>
					</ul>


					<div class="table-responsive" style="max-width: 500px;">
						<!--table class="table">
								<thead>
									<th>Perfuração</th>
									<th>Inserção</th>
									<th>Torque máx.</th>
								</thead>
								<tr>
									<td>800-1200 rpm</td>
									<td>30 rpm</td>
									<td>45 Ncm</td>
								</tr>
							
							</table-->
						<!--<small>*Consulte o <a href="/downloads/guia-de-torques">guia de torques <i class="fas fa-external-link-alt"></i></a> para mais informações.</small>-->
					</div>

				</section>

				<section id="infoTecnica">
					<h1>Informações técnicas</h1>

					<div class="col-md-12">

						<!--<div class="table-responsive">
								<table class="table">
									<tr>
										<td rowspan="2" class="table-head">Plataforma convencional</td>		
										<td>Ø  3,3 / Plataforma Protética 3,5	</td>	
										<td>NP 3,3</td>
									</tr>
									<tr>								
										<td>Ø  3,75 / Plataforma Protética 4,1</td>	
										<td>RP 3,75</td>
									</tr>
								</table>

								<table class="table">
									<tr>
										<td  class="table-head">Redução de plataforma</td>		
										<td>Ø  5,0 / Plataforma Protética 4,1	</td>	
										<td>UP 5,0</td>
									</tr>
								</table>
							</div>-->

						<img id="imgMedidasImplante" src="/images/produtos/implantes/medidas/COTA_BIODENT.png" alt="Guias para as medidas do implante Hexágono Externo Biodent">

						<h3>Implantes Ø 3,3 mm<!-- – Ø  3,3 mm--></h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“h”</th>
									<th>“P”</th>
									<th>“a”</th>
									<th>“b”</th>
									<th>“D”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,5 mm</td>
									<td rowspan="5">0,7 mm</td>
									<td rowspan="5">Ø 3,5 mm</td>
									<td rowspan="5">2,4 mm</td>
									<td rowspan="5">1,0 mm</td>
									<td rowspan="5">Ø 3,3 mm</td>
									<td rowspan="5">Ø 2,1 mm</td>
									<td>8 mm</td>
									<td>02.03.16.026</td>
									<td rowspan="5">HEX NP</td>
								</tr>
								<tr>
									<td>10 mm</td>
									<td>9,5 mm </td>
									<td>02.03.16.027</td>
								</tr>
								<tr>
									<td>11,5 mm</td>
									<td>11 mm </td>
									<td>02.03.16.028</td>
								</tr>
								<tr>
									<td>13 mm</td>
									<td>12,5 mm </td>
									<td>02.03.16.029</td>
								</tr>
								<tr>
									<td>15 mm</td>
									<td>14,5 mm </td>
									<td>02.03.16.030</td>
								</tr>
							</table>
						</div>

						<h3>Implantes Ø 3,75 mm</h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“h”</th>
									<th>“P”</th>
									<th>“a”</th>
									<th>“b”</th>
									<th>“D”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,5 mm </td>
									<td rowspan="5">0,7 mm</td>
									<td rowspan="5">Ø 4,1 mm</td>
									<td rowspan="5">2,7 mm</td>
									<td rowspan="5">1,2 mm</td>
									<td rowspan="5">Ø 3,75 mm</td>
									<td rowspan="5">Ø 2,3 mm</td>
									<td>8 mm</td>
									<td>02.03.16.006</td>
									<td rowspan="5">HEX RP-UP</td>
								</tr>
								<tr>
									<td>10 mm </td>
									<td>9,5 mm </td>
									<td>02.03.16.007</td>
								</tr>
								<tr>
									<td>11,5 mm </td>
									<td>11 mm </td>
									<td>02.03.16.008</td>
								</tr>
								<tr>
									<td>13 mm </td>
									<td>12,5 mm </td>
									<td>02.03.16.009</td>
								</tr>
								<tr>
									<td>15 mm </td>
									<td>14,5 mm </td>
									<td>02.03.16.010</td>
								</tr>
							</table>
						</div>

						<!--<h3>Implantes RP></h3>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<th>Altura</th>	
										<th>“h”</th> 	
										<th>“P”</th> 	
										<th>“a”</th> 	
										<th>“b”</th>		
										<th>“D”</th>
										<th>“d”</th> 	
										<th>“L”</th> 	
										<th>Código</th>
									</thead>
									<tr>
										<td>8,5 mm	</td>
										<td rowspan="6"> 0,7 mm</td>	
										<td rowspan="6"> Ø  4,1 mm</td>	
										<td rowspan="6"> 2,7 mm</td>	
										<td rowspan="6"> 1,2 mm</td>	
										<td rowspan="6"> Ø  4,0 mm</td>
										<td rowspan="6">Ø  2,60 mm</td>	
										<td>8 mm		</td>
										<td>02.03.16.016</td>
									</tr>
									<tr>
										<td>10 mm	</td>										
										<td>9,5 mm	</td>
										<td>02.03.16.017</td>
									</tr>
									<tr>
										<td>11,5 mm	</td>										
										<td>11 mm	</td>
										<td>02.03.16.018</td>
									</tr>
									<tr>
										<td>13 mm	</td>										
										<td>12,5 mm	</td>
										<td>02.03.16.019</td>
									</tr>
									<tr>
										<td>15 mm	</td>										
										<td>14,5 mm	</td>
										<td>02.03.16.020</td>
									</tr>
									<tr>
										<td>17 mm	</td>										
										<td>16,5 mm	</td>
										<td>02.03.16.021</td>
									</tr>
								</table>
							</div>-->

						<h3>Implantes Ø 5,0 mm</h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Altura</th>
									<th>“h”</th>
									<th>“P”</th>
									<th>“a”</th>
									<th>“b”</th>
									<th>“D”</th>
									<th>“d”</th>
									<th>“L”</th>
									<th>Código</th>
									<th>Componentes</th>
								</thead>
								<tr>
									<td>8,5 mm </td>
									<td rowspan="5">0,7 mm</td>
									<td rowspan="5">Ø 4,1 mm</td>
									<td rowspan="5">2,7 mm</td>
									<td rowspan="5">1,6 mm</td>
									<td rowspan="5">Ø 5,0 mm</td>
									<td rowspan="5">Ø 3,2 mm</td>
									<td>8 mm </td>
									<td>02.03.16.036</td>
									<td rowspan="5">HEX RP-UP</td>
								</tr>
								<tr>
									<td>10 mm </td>
									<td>9,5 mm </td>
									<td>02.03.16.037</td>
								</tr>
								<tr>
									<td>11,5 mm </td>
									<td>11 mm </td>
									<td>02.03.16.038</td>
								</tr>
								<tr>
									<td>13 mm </td>
									<td>12,5 mm </td>
									<td>02.03.16.039</td>
								</tr>
								<tr>
									<td>15 mm </td>
									<td>14,5 mm </td>
									<td>02.03.16.040</td>
								</tr>
							</table>
						</div>
						<!--div class="table-responsive">
							<table class="table">
								<thead>
									<th></th>
									<th class="td-desc" >Descrição</th>
									<th>Plataforma</th>		
									<th>Altura da cinta</th>			
									<th>Código</th>
								</thead>
								<tr>
									<td class="imgCell" rowspan="2"><img src="/images/produtos/02.03.09.024.png" alt="">
									<td class="td-desc" rowspan="2">Parafuso de Cobertura</td>	
									<td>NP</td>			
									<td></td>					
									<td>02.03.09.025</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td>02.03.09.024</td>
								</tr>
								<tr>
									<td class="imgCell" rowspan="4"><img src="/images/produtos/02.08.02.004.png" alt="">
									<td class="td-desc" rowspan="4">Pilar de Cicatrização</td>	
									<td rowspan="2">NP</td>			
									<td>3 mm</td>					
									<td>02.03.02.001</td>
								</tr>
								<tr>						
									<td>5 mm</td>					
									<td>02.03.02.002</td>
								</tr>
								<tr>
									<td rowspan="2">RP-UP</td>	
									<td>3 mm</td>
									<td>02.08.02.002</td>
								</tr>
								<tr>
									<td>5 mm</td>
									<td>02.08.02.004</td>
								</tr>
							</table>
						</div-->

						<!--<div class="table-responsive">
								<table class="table">
									<thead>
										<th class="td-desc" >Descrição</th>						
										<th>Plataforma</th>	
										<th>Altura da cinta</th>		
										<th>Código	</th>
									</thead>
									<tr>
										<td class="td-desc"  rowspan="2">Parafuso de Cobertura</td>	
										<td>NP	</td>		
										<td>	</td>				
										<td>02.03.09.025</td>
									</tr>
									<tr>						
										<td>RP-UP</td>		
										<td>	</td>				
										<td>02.03.09.024</td>
									</tr>
									<tr>
										<td class="td-desc force-odd"  rowspan="4">Pilar de Cicatrização</td>	
										<td>NP	</td>		
										<td>3 mm</td>				
										<td>02.03.02.001</td>
									</tr>
									<tr>						
										<td>NP	</td>		
										<td>5 mm</td>				
										<td>02.03.02.002</td>
									</tr>
									<tr>						
										<td>RP-UP</td>		
										<td>3 mm</td>				
										<td>02.08.02.002</td>
									</tr>
									<tr>						
										<td>RP-UP</td>		
										<td>5 mm</td>				
										<td>02.08.02.004</td>
									</tr>
								</table>
							</div>-->

					</div>
					<div class="col-md-5"></div>
				</section>
			</div>

		</section>

		<!--div id="biotiteProd" class="row">
				<section>
					<div class="col-md-6 text-center">
						<img class="img-responsive" src="/images/produtos/implantes/singular/microscopiaforcaatomica.png" alt="microscopia força atômica">
					</div>
					<div class="col-md-6">
						<h1>Superfície Biotite</h1>
						<p>
							Com grandes investimentos em pesquisa e desenvolvimento, a Dérig alcançou a alta qualidade no tratamento de superfície de implantes, com o objetivo de oferecer muito mais segurança e estabilidade clínica. 
						</p>
						<p>
							O aumento da hidrofilia permite o conceito de osseointegração secundária e maior velocidade de cicatrização óssea pós-cirúrgica.
						</p>
						<a href="biotite" class="pull-right">Conheça essa tecnologia</a>
					</div>
				</section>
			</div-->


		<section class="container">

			<section id="brocas" class="row">
				<h1>Sequência de brocas</h1>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th></th>
							<th>Lança</th>
							<th>Ø 2,0</th>
							<th>Ø 2,8</th>
							<th>Ø 3,0</th>
							<th>Ø 3,15</th>
							<th>Ø 3,5</th>
							<th>Ø 4,3</th>
							<th>Macho<br>de Rosca</th>
							<th>Countersink UN</th>
						</tr>

						<tr>
							<td>Ø 3,3</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td><i class="far fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
						</tr>
						<tr>
							<td>Ø 3,75</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td><i class="far fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
						</tr>
						<tr>
							<td>Ø 5,0</td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="fas fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
							<td><i class="far fa-circle"></i></td>
						</tr>
					</table>
				</div>
				<p class="text-right"><i class="fas fa-circle"></i> Obrigatório</p>
				<p class="text-right"><i class="far fa-circle"></i> Opcional de acordo com a densidade óssea</p>

			</section>

			<section id="chaves">
				<h1>Chave de inserção</h1>
				<ul>
					<li>Maior resistência mecânica à inserção</li>
					<li>Potencializa a segurança no transporte do implante</li>
					<li>Preserva a integridade do hexágono externo</li>
				</ul>
				<p>
					A instalação do implante pode ser iniciada com a chave de captura no contra-ângulo. Posteriormente, a inserção deverá ser finalizada com torquímetro manual.
				</p>


				<div class="table-responsive">
					<table class="table">
						<thead>
							<th></th>
							<th class="td-desc">Descrição</th>
							<th class="th-cod">Código</th>
						</thead>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.076.png" alt=""></td>
							<td class="td-desc">Chave de Inserção CA HEX NP Média </td>
							<td>02.01.11.076</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.106.png" alt=""></td>
							<td class="td-desc">Chave de Inserção CA HEX NP Longa</td>
							<td>02.01.11.106</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.096.png" alt=""></td>
							<td class="td-desc">Chave de Inserção CA HEX RP-UP Curta</td>
							<td>02.01.11.096</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.077.png" alt=""></td>
							<td class="td-desc">Chave de Inserção CA HEX RP-UP Média</td>
							<td>02.01.11.077</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.050.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TQ HEX NP Curta </td>
							<td>02.01.11.050</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.051.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TQ HEX NP Média </td>
							<td>02.01.11.051</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.053.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TQ HEX RP-UP Curta</td>
							<td>02.01.11.053</td>
						</tr>
						<tr>
							<td class="imgCell"><img src="/images/produtos/02.01.11.054.png" alt=""></td>
							<td class="td-desc">Chave de Inserção TQ HEX RP-UP Média</td>
							<td>02.01.11.054</td>
						</tr>
					</table>
				</div>
				<img id="imgChave" src="/images/produtos/implantes/singular/ChaveInsercaoHEXNPmd.png" alt="Chave">
			</section>
		</section>
	</div>
</div>