---
layout: layout.njk
title: Downloads | Dérig
description: Encontre todos os arquivos que precise em nossa página de downloads
---

<div id="downloads">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/cientifico">Científico</a> > <a href="/cientifico/casos-clinicos">Casos Clínicos</a> > <a href="/cientifico/casos-clinicos/mario-groisman">Mario Groisman</a> > All On Four</p>
			<h1>All On Four</h1>
		</div>
	</div>

	<div id="content">
		<div class="container">
			<div class="row" id="membro">
				<div class="col-sm-4">
					<img class="img-responsive" src="/images/conselho/mario-groisman.jpg" alt="Mario Groisman">
				</div>
				<div class="col-sm-8">
					<h2>Mario Groisman</h2>
					<ul>
						<p>• Mestre em ciências dentais pela Universidade de Lund - Suécia.</p>
						<p>• Especialista em implantodontia oral pelo Conselho Federal de Odontologia. </p>
						<p>• Especialista em periodontia pela UERJ.</p>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>All On Four</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/001.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/001.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/002.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/002.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/003.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/003.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/004.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/004.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/005.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/005.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/006.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/006.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/007.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/007.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/008.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/008.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/009.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/009.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/010.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/010.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/011.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/011.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/012.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/012.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/013.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/013.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/014.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/014.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/015.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/015.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/016.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/016.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/017.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/017.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/018.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/018.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/019.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/019.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/020.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/020.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/021.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/021.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/022.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/022.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/023.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/023.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/024.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/024.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/025.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/025.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/026.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/026.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/027.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/027.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/028.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/028.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/029.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/029.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/030.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/030.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/031.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/031.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/032.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/032.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/033.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/033.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/034.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/034.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/035.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/035.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/036.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/036.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/037.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/037.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/038.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/038.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/039.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/039.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/040.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/040.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/041.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/041.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/042.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/042.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/043.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/043.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/044.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/044.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/045.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/045.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/046.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/046.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/047.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/047.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/048.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/048.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/049.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/049.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/050.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/050.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/051.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/051.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/052.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/052.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/053.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/053.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/054.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/054.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/055.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/055.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/056.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/056.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/057.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/057.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/058.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/058.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/059.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/059.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/060.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/060.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/061.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/061.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/062.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/062.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="{{ '/images/casos-clinicos/mario-groisman/all-on-four/full/063.jpeg' | url }}" data-lightbox="gallery">
						<img class="img-responsive" src="{{ '/images/casos-clinicos/mario-groisman/all-on-four/thumb/063.jpeg' | url }}" alt="imagem do caso clínico">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>