---
layout: layout.njk
title: Downloads | Dérig
description: Encontre todos os arquivos que precise em nossa página de downloads
---

<div id="downloads">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/cientifico">Científico</a> > <a href="/cientifico/casos-clinicos">Casos Clínicos</a> > <a href="/cientifico/casos-clinicos/mario-groisman">Mario Groisman</a> > Guiada</p>
			<h1>Guiada</h1>
		</div>
	</div>

	<div id="content">
		<div class="container">
			<div class="row" id="membro">
				<div class="col-sm-4">
					<img class="img-responsive" src="/images/conselho/mario-groisman.jpg" alt="Mario Groisman">
				</div>
				<div class="col-sm-8">
					<h2>Mario Groisman</h2>
					<ul>
						<p>• Mestre em ciências dentais pela Universidade de Lund – Suécia.</p>
						<p>• Especialista em implantodontia oral pelo Conselho Federal de Odontologia. </p>
						<p>• Especialista em periodontia pela UERJ.</p>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/001.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/001.jpg" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/002.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/002.jpg" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/003.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/003.jpg" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/004.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/004.jpg" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/005.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/005.jpg" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/006.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/006.jpg" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/007.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/007.jpg" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/008.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/008.jpg" alt="imagem do caso clínico">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/009.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/009.jpg" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/010.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/010.jpg" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/011.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/011.jpg" alt="imagem do caso clínico">
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/images/casos-clinicos/mario-groisman/guiada/full/012.jpg" data-lightbox="gallery">
						<img class="img-responsive" src="/images/casos-clinicos/mario-groisman/guiada/thumb/012.jpg" alt="imagem do caso clínico">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>