---
layout: layout.njk
title: Triplo Canal Interno Bioneck | Dérig
description: Com ótimo vedamento na interface componente-implante, a conexão Triplo Canal Interna é uma solução completa para o usuários dos implantes Bioenck, apresentados também com plataforma reduzida.
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/componentes-proteticos">Componentes Protéticos</a> > Triplo Canal Interno TRI</p>
			<h1>Triplo Canal Interno TRI</h1>
		</div>
	</div>
	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/bg-componentes3.png" alt="CONE MORSE INDEXADO Singular">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1>Componentes Triplo Canal Interno TRI</h1>
					<p>
						Com ótimo vedamento na interface componente-implante, a conexão Triplo Canal Interna é uma solução completa para o usuários dos implantes Bioenck, apresentados também com plataforma reduzida.
					</p>
					<span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de Uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>
			<div class="row" id="descricao">
				<section id="itens">
					<h1>Itens</h1>
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th></th>
									<th class="td-desc">Descrição</th>
									<th>Plataforma</th>
									<th>Altura da cinta</th>
									<th>Código</th>
								</thead>
								<tr>
									<td rowspan="6" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.03.210.png" alt=""></td>
									<td rowspan="6" class="td-desc">Mini Pilar Cônico Reto</td>
									<td rowspan="3">NP</td>
									<td>1 mm</td>
									<td>02.04.03.110</td>
								</tr>
								<tr>
									<td>2 mm</td>
									<td>02.04.03.120</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>02.04.03.130</td>
								</tr>
								<tr>
									<td rowspan="3">RP-UP</td>
									<td>1 mm</td>
									<td>02.04.03.210</td>
								</tr>
								<tr>
									<td>2 mm</td>
									<td>02.04.03.220</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>02.04.03.230</td>
								</tr>
								<tr>
									<td rowspan="4" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.18.124.png" alt=""></td>
									<td rowspan="4" class="td-desc">Mini Pilar Cônico Angulado 17°</td>
									<td rowspan="2">NP</td>
									<td>2 mm</td>
									<td>02.04.18.124</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>02.04.18.134</td>
								</tr>
								<tr>
									<td rowspan="2">RP-UP</td>
									<td>2 mm</td>
									<td>02.04.18.224</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>02.04.18.234</td>
								</tr>
								<tr>
									<td rowspan="4" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.18.136.png" alt=""></td>
									<td rowspan="4" class="td-desc">Mini Pilar Cônico Angulado 30°</td>
									<td rowspan="2">NP</td>
									<td>3 mm</td>
									<td>02.04.18.136</td>
								</tr>
								<tr>
									<td>4 mm</td>
									<td>02.04.18.146</td>
								</tr>
								<tr>
									<td rowspan="2">RP-UP</td>
									<td>3 mm</td>
									<td>02.04.18.236</td>
								</tr>
								<tr>
									<td>4 mm</td>
									<td>02.04.18.246</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc"><img src="/images/produtos/02.04.07.162.png" alt=""></td>
									<td rowspan="2" class="td-desc force-odd">UCLA CoCr AR</td>
									<td>NP </td>
									<td> </td>
									<td>02.04.07.162</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td> </td>
									<td>02.04.07.262</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.07.172.png" alt=""></td>
									<td rowspan="2" class="td-desc">UCLA CoCr R</td>
									<td>NP </td>
									<td> </td>
									<td>02.04.07.172</td>
								</tr>
								<tr>
									<td>RP-UP </td>
									<td> </td>
									<td>02.04.07.272</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc"><img src="/images/produtos/02.04.05.162.png" alt=""></td>
									<td rowspan="2" class="td-desc force-odd">Pilar Provisório AR</td>
									<td>NP</td>
									<td></td>
									<td>02.04.05.162</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td>02.04.05.262</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.05.172.png" alt=""></td>
									<td rowspan="2" class="td-desc">Pilar Provisório R</td>
									<td>NP </td>
									<td> </td>
									<td>02.04.05.172</td>
								</tr>
								<tr>
									<td>RP-UP </td>
									<td> </td>
									<td>02.04.05.272</td>
								</tr>
								<tr>
									<td rowspan="4" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.02.006.png" alt=""></td>
									<td rowspan="4" class="td-desc">Pilar de Cicatrização</td>
									<td rowspan="2">NP</td>
									<td>3 mm</td>
									<td>02.04.02.001</td>
								</tr>
								<tr>
									<td>5 mm</td>
									<td>02.04.02.002</td>
								</tr>
								<tr>
									<td rowspan="2">RP-UP</td>
									<td>3 mm</td>
									<td>02.04.02.005</td>
								</tr>
								<tr>
									<td>5 mm</td>
									<td>02.04.02.006</td>
								</tr>
								<tr>
									<td rowspan="8" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.02.113.png" alt=""></td>
									<td rowspan="8" class="td-desc">Pilar de Cicatrização Perfilado</td>
									<td rowspan="4">NP</td>
									<td>1 mm</td>
									<td>02.04.02.113</td>
								</tr>
								<tr>
									<td>2 mm</td>
									<td>02.04.02.123</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>02.04.02.133</td>
								</tr>
								<tr>
									<td>4 mm</td>
									<td>02.04.02.143</td>
								</tr>
								<tr>
									<td rowspan="4">RP-UP</td>
									<td>1 mm</td>
									<td>02.04.02.213</td>
								</tr>
								<tr>
									<td>2 mm</td>
									<td>02.04.02.223</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>02.04.02.233</td>
								</tr>
								<tr>
									<td>4 mm</td>
									<td>02.04.02.243</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.09.034.png" alt=""></td>
									<td rowspan="2" class="td-desc">Parafuso de Cobertura</td>
									<td>NP</td>
									<td></td>
									<td>02.04.09.033</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td>02.04.09.034</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.01.002.png" alt=""></td>
									<td class="td-desc" rowspan="2">Análogo do Implante</td>
									<td>NP</td>
									<td></td>
									<td>02.04.01.001</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td>02.04.01.002</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.08.482.png" alt=""></td>
									<td class="td-desc" rowspan="2">Transferente Moldeira Aberta</td>
									<td>NP</td>
									<td></td>
									<td>02.04.08.482</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td>02.04.08.682</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc"><img src="/images/produtos/02.04.08.492.png" alt=""></td>
									<td class="td-desc force-odd" rowspan="2">Transferente Moldeira Fechado</td>
									<td>NP</td>
									<td></td>
									<td>02.04.08.492</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td>02.04.08.692</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.09.019.png" alt=""></td>
									<td rowspan="2" class="td-desc">Parafuso de Fixação</td>
									<td>NP</td>
									<td></td>
									<td>02.04.09.016</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td>02.04.09.019</td>
								</tr>
							</table>
						</div>
						<h3>Componentes Mini Pilar Cônico</h3>
						<div class="table-responsive">
							<table class="table smallTable">
								<thead>
									<th></th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</thead>
								<tr>
									<td class="imgCell td-desc force-odd"><img src="/images/produtos/02.09.08.282.png" alt=""></td>
									<td class="td-desc force-odd">Transferente Moldeira Aberta</td>
									<td>02.09.08.282</td>
								</tr>
								<tr>
									<td class="imgCell td-desc"><img src="/images/produtos/02.09.01.001.png" alt=""></td>
									<td class="td-desc">Análogo do Mini Pilar Cônico</td>
									<td>02.09.01.001</td>
								</tr>
								<tr>
									<td class="imgCell td-desc force-odd"><img src="/images/produtos/02.09.06.272.png" alt=""></td>
									<td class="td-desc force-odd">Coping Plástico</td>
									<td>02.09.06.272</td>
								</tr>
								<tr>
									<td class="imgCell td-desc"><img src="/images/produtos/02.09.07.272.png" alt=""></td>
									<td class="td-desc">Coping CoCr</td>
									<td>02.09.07.272</td>
								</tr>
								<tr>
									<td class="imgCell td-desc force-odd"><img src="/images/produtos/02.09.05.272.png" alt=""></td>
									<td class="td-desc force-odd">Coping Provisório</td>
									<td>02.09.05.272</td>
								</tr>
								<tr>
									<td class="imgCell td-desc tampaProtecao"><img src="/images/produtos/02.09.02.202.png" alt=""></td>
									<td class="td-desc">Tampa de Proteção</td>
									<td>02.09.02.202</td>
								</tr>
								<tr>
									<td class="imgCell td-desc force-odd parafusoProtetico"><img src="/images/produtos/02.09.09.005.png" alt=""></td>
									<td class="td-desc force-odd">Parafuso Protético 1,2</td>
									<td>02.09.09.005</td>
								</tr>
							</table>
						</div>
						<h3>Linha Odontologia Digital</h3>
						<div class="table-responsive">
							<table class="table smallTable">
								<thead>
									<th></th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Plataforma</th>
									<th class="th-cod">Altura da Cinta</th>
									<th class="th-cod">Altura do Corpo</th>
									<th class="th-cod">Código</th>
								</thead>
								<tr>
									<td rowspan="2" class="imgCell td-desc tampaProtecao force-odd"><img src="/images/produtos/02.04.01.102.png" alt=""></td>
									<td class="td-desc force-odd" rowspan="2">Análogo do Implante Digital</td>
									<td>NP</td>
									<td></td>
									<td></td>
									<td>02.04.01.102</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td></td>
									<td>02.04.01.202</td>
								</tr>
								<tr>
									<td rowspan="16" class="imgCell td-desc force-odd"><img src="/images/produtos/02.04.24.101.png" alt=""></td>
									<td class="td-desc force-odd" rowspan="16">Interface</td>
									<td style="background: #f5f5f5" rowspan="8">NP</td>
									<td>0 mm</td>
									<td>4,5 mm</td>
									<td>02.04.24.101</td>
								</tr>
								<tr>
									<td>1 mm</td>
									<td>4,5 mm</td>
									<td>02.04.24.111</td>
								</tr>
								<tr>
									<td>2 mm</td>
									<td>4,5 mm</td>
									<td>02.04.24.121</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>4,5 mm</td>
									<td>02.04.24.131</td>
								</tr>
								<tr>
									<td>0 mm</td>
									<td>6 mm</td>
									<td>02.04.24.102</td>
								</tr>
								<tr>
									<td>1 mm</td>
									<td>6 mm</td>
									<td>02.04.24.112</td>
								</tr>
								<tr>
									<td>2 mm</td>
									<td>6 mm</td>
									<td>02.04.24.122</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>6 mm</td>
									<td>02.04.24.132</td>
								</tr>
								<tr>
									<td rowspan="8">RP-UP</td>
									<td>0 mm</td>
									<td>4,5 mm</td>
									<td>02.04.24.201</td>
								</tr>
								<tr>
									<td>1 mm</td>
									<td>4,5 mm</td>
									<td>02.04.24.211</td>
								</tr>
								<tr>
									<td>2 mm</td>
									<td>4,5 mm</td>
									<td>02.04.24.221</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>4,5 mm</td>
									<td>02.04.24.231</td>
								</tr>
								<tr>
									<td>0 mm</td>
									<td>6 mm</td>
									<td>02.04.24.202</td>
								</tr>
								<tr>
									<td>1 mm</td>
									<td>6 mm</td>
									<td>02.04.24.212</td>
								</tr>
								<tr>
									<td>2 mm</td>
									<td>6 mm</td>
									<td>02.04.24.222</td>
								</tr>
								<tr>
									<td>3 mm</td>
									<td>6 mm</td>
									<td>02.04.24.232</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc tampaProtecao force-odd"><img src="/images/produtos/02.04.28.182.png" alt=""></td>
									<td class="td-desc force-odd" rowspan="2">Transfer para Escaneamento</td>
									<td>NP</td>
									<td></td>
									<td></td>
									<td>02.04.28.182</td>
								</tr>
								<tr>
									<td>RP-UP</td>
									<td></td>
									<td></td>
									<td>02.04.28.282</td>
								</tr>
								<tr>
									<td class="imgCell td-desc tampaProtecao force-odd"><img src="/images/produtos/02.20.28.001.png" alt=""></td>
									<td class="td-desc force-odd">Scanbody L</td>
									<td></td>
									<td></td>
									<td></td>
									<td>02.20.28.001</td>
								</tr>
							</table>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>