---
layout: layout.njk
title: Cone Morse Hexagonal CMH 3.0P | Dérig
description: A famosa conexão Hexagonal Externa oferece um bom vedamento na interface componente-implante, pode ser usada para os implantes Biodent e Kort.
---

<div id="produtoTpl1">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/produtos">Produtos</a> > <a href="/produtos/componentes-proteticos">Componentes Protéticos</a> > Cone Morse Hexagonal CMH 3.0P</p>
			<h1>Cone Morse Hexagonal CMH 3.0P</h1>
		</div>
	</div>
	<div id="content">
		<section class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7">
					<img class="img-responsive" src="/images/produtos/bg-componentes3.png" alt="CONE MORSE INDEXADO Singular">
				</div>
				<div class="col-md-5 col-sm-5" id="resumo">
					<h1>Componentes Cone Morse Hexagonal CMH 3.0P</h1>
					<p>
					</p>
					<span class="pull-right text-center"><a id="instrucoes" href="/downloads/instrucoes-de-uso">Instruções de Uso</a> <a id="comprar" href="/onde-comprar"><i class="fas fa-shopping-cart"></i> ONDE COMPRAR</a></span>
				</div>
			</div>
			<div class="row" id="descricao">
				<section id="itens">
					<h1>Itens</h1>
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th></th>
									<th class="td-desc">Descrição</th>
									<th>Plataforma</th>
									<th>Altura da cinta</th>
									<th>Código</th>
								</thead>
								<tr>
									<td class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.01.001.png" alt=""></td>
									<td class="td-desc">Análogo do Implante</td>
									<td>3.0P</td>
									<td></td>
									<td>02.23.01.001</td>
								</tr>
								<tr>
									<td class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.05.062.png" alt=""></td>
									<td class="td-desc">Pilar Provisório AR</td>
									<td>3.0P</td>
									<td></td>
									<td>02.23.05.062</td>
								</tr>
								<tr>
									<td class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.07.062.png" alt=""></td>
									<td class="td-desc">Ucla CoCr AR</td>
									<td>3.0P</td>
									<td></td>
									<td>02.23.07.062</td>
								</tr>
								<tr>
									<td rowspan="3" class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.22.012.png" alt=""></td>
									<td class="td-desc" rowspan="3">Pilar Estético</td>
									<td>3.0P</td>
									<td>1,5 mm</td>
									<td>02.23.22.012</td>
								</tr>
								<tr>
									<td>3.0P</td>
									<td>3 mm</td>
									<td>02.23.22.032</td>
								</tr>
								<tr>
									<td>3.0P</td>
									<td>4,5 mm</td>
									<td>02.23.22.042</td>
								</tr>
								<tr>
									<td rowspan="3" class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.22.014.png" alt=""></td>
									<td class="td-desc" rowspan="3">Pilar Estético Angulado 15°</td>
									<td>3.0P</td>
									<td>1,5 mm</td>
									<td>02.23.22.014</td>
								</tr>
								<tr>
									<td>3.0P</td>
									<td>3 mm</td>
									<td>02.23.22.034</td>
								</tr>
								<tr>
									<td>3.0P</td>
									<td>4,5 mm</td>
									<td>02.23.22.044</td>
								</tr>
								<tr>
									<td rowspan="2" class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.26.072.png" alt=""></td>
									<td rowspan="2" class="td-desc">Pilar Estreito</td>
									<td rowspan="2">3.0P</td>
									<td>7 mm</td>
									<td>02.23.26.072</td>
								</tr>
								<tr>
									<td>9 mm</td>
									<td>02.23.26.092</td>
								</tr>
								<tr>
									<td class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.08.081.png" alt=""></td>
									<td class="td-desc">Transferente Moldeira Aberta</td>
									<td>3.0P</td>
									<td></td>
									<td>02.23.08.081</td>
								</tr>
								<tr>
									<td class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.08.091.png" alt=""></td>
									<td class="td-desc">Transferente Moldeira Fechada</td>
									<td>3.0P</td>
									<td></td>
									<td>02.23.08.091</td>
								</tr>
								<tr>
									<td rowspan="3" class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.02.051.png" alt=""></td>
									<td rowspan="3" class="td-desc">Pilar de Cicatrização Ø3,2</td>
									<td rowspan="3">3.0P</td>
									<td>3 mm</td>
									<td>02.23.02.031</td>
								</tr>
								<tr>
									<td>5 mm</td>
									<td>02.23.02.051</td>
								</tr>
								<tr>
									<td>7 mm</td>
									<td>02.23.02.071</td>
								</tr>
								<tr>
									<td rowspan="3" class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.02.052.png" alt=""></td>
									<td rowspan="3" class="td-desc">Pilar de Cicatrização Ø3,8</td>
									<td rowspan="3">3.0P</td>
									<td>3 mm</td>
									<td>02.23.02.032</td>
								</tr>
								<tr>
									<td>5 mm</td>
									<td>02.23.02.052</td>
								</tr>
								<tr>
									<td>7 mm</td>
									<td>02.23.02.072</td>
								</tr>
								<tr>
									<td class="imgCell td-desc force-odd"><img src="/images/produtos/02.23.09.001.png" alt=""></td>
									<td class="td-desc">Parafuso de Cobertura</td>
									<td>3.0P</td>
									<td></td>
									<td>02.23.09.001</td>
								</tr>
							</table>
						</div>
						<h3>Componentes Mini Pilar Cônico</h3>
						<div class="table-responsive">
							<table class="table smallTable">
								<thead>
									<th></th>
									<th class="td-desc">Descrição</th>
									<th class="th-cod">Código</th>
								</thead>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.09.08.282.png" alt=""></td>
									<td class="td-desc">Transferente Moldeira Aberta</td>
									<td>02.09.08.282</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.09.01.001.png" alt=""></td>
									<td class="td-desc">Análogo do Mini Pilar Cônico</td>
									<td>02.09.01.001</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.09.06.272.png" alt=""></td>
									<td class="td-desc">Coping Plástico</td>
									<td>02.09.06.272</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.09.07.272.png" alt=""></td>
									<td class="td-desc">Coping CoCr</td>
									<td>02.09.07.272</td>
								</tr>
								<tr>
									<td class="imgCell"><img src="/images/produtos/02.09.05.272.png" alt=""></td>
									<td class="td-desc">Coping Provisório</td>
									<td>02.09.05.272</td>
								</tr>
								<tr>
									<td class="imgCell tampaProtecao"><img src="/images/produtos/02.09.02.202.png" alt=""></td>
									<td class="td-desc">Tampa de Proteção</td>
									<td>02.09.02.202</td>
								</tr>
								<tr>
									<td class="imgCell parafusoProtetico"><img src="/images/produtos/02.09.09.005.png" alt=""></td>
									<td class="td-desc">Parafuso Protético 1,2</td>
									<td>02.09.09.005</td>
								</tr>
							</table>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>