---
layout: layout.njk
title: Biotite - Conheça a tecnologia Biotite que maximiza a osseointegração | Dérig
description: Com grandes investimentos em pesquisa e desenvolvimento, a Dérig alcançou a alta qualidade no tratamento de superfície de implantes, com o objetivo de oferecer muito mais segurança e estabilidade clínica.
---

<div id="biotite">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > Superfície Biotite</p>
      <h1>Superfície Biotite</h1>
    </div>
  </div>

  <div id="content">
    <section class="container" id="destaqueBiotite">
      <div class="row">
        <div class="col-md-6">
          <h1>Biotite</h1>
          <p>
            Com grandes investimentos em pesquisa e desenvolvimento, a Dérig alcançou a alta qualidade no tratamento de superfície de implantes, com o objetivo de oferecer muito mais segurança e estabilidade clínica. 
          </p>
          <p>
            A superfície Biotite, tratada pela técnica do duplo ataque ácido, tem rugosidade controlada por temperatura, tempo e pressão. O aumento da hidrofilia permite o conceito de osseointegração secundária e maior velocidade de cicatrização óssea pós-cirúrgica.
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="/images/biotite/microscopiaforcaatomica.png" alt="Microscopia Força Atômica.png">
        </div>
      </div>
    </section>

    <section class="container" id="microscopia">
      <div class="row">
        <div class="col-sm-12">
          <h1>Microscopia eletrônica de varredura</h1>
          <p>
            Microscopia eletrônica de varredura da Superfície Biotite com diferentes <span>magnificações, mostrando uma superfície extremamente limpa após</span> condicionamento e tratamento com duplo ataque ácido
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <img class="img-responsive" src="/images/biotite/microscopia5000.png" alt="Microscopia 5000x">
        </div>
        <div class="col-md-4 text-center">
          <img class="img-responsive" src="/images/biotite/microscopia10000.png" alt="Microscopia 10000x">
        </div>
        <div class="col-md-4 text-center">
          <img class="img-responsive" src="/images/biotite/microscopia20000.png" alt="Microscopia 20000x">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="/produtos/implantes">CONFIRA NOSSA LINHA DE IMPLANTES</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            Imagens cedidas por:
            <span>Prof. Dr. Jamil Awad Shibli - Prof. Titular do Programa de Pós-graduação em Odontologia, áreas de Implantodontia e Periodontia, Universidade Guarulhos (UNG).</span> <span>Doutor, Mestre e Especialista em Periodontia, FOAr-UNESP.</span>
          </p>
          <p>
            Prof. Dr. Sergio A. Gehrke - Prof. Universidade Murcia, Espanha e Pós-Doutor em Implantodontia UNG
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
