---
layout: layout.njk
title: Científico - Downloads | Dérig
description: Faça o download dos nossos conteúdos.
---
<div id="downloads">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > Científico</p>
      <h1>Científico</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="downloadListContainer text-center">
            <a href="/cientifico/artigos">
              <img src="/images/cientifico/icones/artigos.png" alt="Ícone do link para os artigos">
              <h2>Artigos</h2>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="downloadListContainer text-center">
            <a href="/cientifico/casos-clinicos">
              <img src="/images/cientifico/icones/casos-clinicos.png" alt="Ícone do link para os casos clínicos">
              <h2>Casos Clínicos</h2>
            </a>
          </div>
        </div>

        <!--<div class="col-md-4 col-sm-4 col-xs-4">
          <div class="downloadListContainer text-center">
            <a href="/cientifico/videos">
              <img src="/images/cientifico/icones/videos.png" alt="Ícone do link para os videos">
              <h2>Vídeos</h2>
            </a>
          </div>
        </div>-->

        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="downloadListContainer text-center">
            <a href="/cientifico/conteudos-gratuitos">
              <img src="/images/cientifico/icones/artigos.png" alt="Ícone do link para os conteúdos gratuitos">
              <h2>Conteúdos Gratuitos</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
