---
layout: layout.njk
title: Downloads | Dérig
description: Encontre todos os arquivos que precise em nossa página de downloads
---

<div id="downloads">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > Downloads</p>
			<h1>Downloads</h1>
		</div>
	</div>

	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6" style="display:none">
					<a href="/downloads/catalogo-de-produtos">
						<img class="img-responsive" src="/images/downloads/download-catalogo.png" alt="Ícone catalogo">
						<h2>Catálogo</h2>
					</a>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/downloads/folderes">
						<img class="img-responsive" src="/images/downloads/download-folderes.png" alt="Ícone folder">
						<h2>Folders</h2>
					</a>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/downloads/instrucoes-de-uso">
						<img class="img-responsive" src="/images/downloads/download-instrucoesdeuso.png" alt="Ícone instruções de uso">
						<h2>Instruções de Uso</h2>
					</a>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/downloads/formularios">
						<img class="img-responsive" src="/images/downloads/download-formularios.png" alt="Ícone formulário">
						<h2>Formulários</h2>
					</a>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/downloads/politicas">
						<img class="img-responsive" src="/images/downloads/download-politicas.png" alt="Ícone politicas">
						<h2>Políticas</h2>
					</a>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/downloads/guia-de-torques">
						<img class="img-responsive" src="/images/downloads/download-guiadetorques.png" alt="Ícone guia de torques">
						<h2>Guia de Torque</h2>
					</a>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-6">
					<a href="/downloads/marca">
						<img class="img-responsive" src="/images/downloads/download-marca.png" alt="Ícone marca">
						<h2>Marca</h2>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>