---
layout: layout.njk
title: Onde Comprar os implantes Dérig
description: Veja como entrar em contato e fazer a sua compra.
---

<div id="ondeComprar" class="informacoesCompra">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > <a href="/onde-comprar">Onde comprar</a> > Já sou cadastrado</p>
			<h1>Onde Comprar</h1>
		</div>
	</div>

	<div id="content">
		<div class="container">
			<div class="row text-center">
				<h2>Se você já tem cadastro, basta ligar e informar seu CPF.</h2>
			</div>
		</div>

		<section id="atendimento">
			<div class="container">
				<div class="row">
					<h1>Canais de atendimento</h1>
					<div class="col-md-3">
						<h2><i class="fas fa-phone-volume"></i>Atendimento ao cliente</h2>
						<a href="tel:08007771991">0800 777 1991</a>
						<a style="display: block;" href="https://api.whatsapp.com/send?phone=5511982320041">(11) 98232-0041</a>
					</div>
					<div class="col-md-3">
						<a id="fone2" href="tel:1141681991">(11) 4168 1991</a>
						<a style="display: block;" href="tel:1141618090">(11) 4161 8090</a>
					</div>
					<div class="col-md-3">
						<h2><i class="fas fa-envelope"></i>E-mail</h2>
						<a href="mailto:vendas@derig.com.br">vendas@derig.com.br</a>
					</div>
					<div class="col-md-3">
						<h2><i class="fas fa-envelope"></i>E-mail</h2>
						<a href="mailto:derig@derig.com.br">derig@derig.com.br</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>