---
layout: layout.njk
title: Perguntas Frequentes | Dérig
description: Dúvidas? Confira nossa lista com as perguntas mais frequentes.
---

<div id="perguntasFrequentes">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > Perguntas frequentes</p>
      <h1>Perguntas frequentes</h1>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Dúvidas Gerais -->
          <h2>Dúvidas gerais</h2>
          <article class="faq">
            <header id="04">
              <h1>Qual o tratamento de superfície dos implantes Dérig?</h1>
            </header>
            <div class="faqContent" id="content04">
              Duplo ataque ácido.
            </div>
          </article>

          <article class="faq">
            <header id="05">
              <h1>Qual o tempo de osseointegração dos implantes Dérig?</h1>
            </header>
            <div class="faqContent" id="content05">
              Em média, 3-4 meses na mandíbula e 6 meses na maxila.
            </div>
          </article>

          <!-- Kits -->
          <h2>Kits</h2>
          <article class="faq">
            <header id="07">
              <h1>Com os Kits Cilíndrico e Cônico eu coloco todos os implantes da Dérig?</h1>
            </header>
            <div class="faqContent" id="content07">
              Sim
            </div>
          </article>

          <article class="faq">
            <header id="08">
              <h1>Tenho o Kit Cirúrgico Cilíndrico da Dérig e estou me interessando pelos implantes Cone Morse. O que eu preciso comprar para utilizá-los em minha clínica?</h1>
            </header>
            <div class="faqContent" id="content08">
              Se optar pelos implantes Dynamic CMH ou Biodent CMH, protocolo de perfuração cilíndrica, apenas a chave de inserção.
              Caso opte pelo protocolo de perfuração cônico, será necessário adquirir o kit cirúrgico com brocas cônicas, próprias para colocação dos implantes Bioneck TRI (implante de corpo cônico com conexão Triplo Canal Interno) e Bioneck CMH, (implante de corpo cônico com conexão Cone Morse Hexagonal). Neste caso, adquirindo o Kit, a chave de inserção CMH estará inclusa.
            </div>
          </article>

          <article class="faq">
            <header id="09">
              <h1>Gostaria de fazer o Cone Morse da Dérig. Preciso de quê?</h1>
            </header>
            <div class="faqContent" id="content09">
              <p>Vai depender do kit cirúrgico que você já possui.</p>
              <p>Temos dois protocolos de perfuração para implantes Cone Morse, um cilíndrico e outro cônico.</p>
              <p>Implante Bioneck CMH, você precisa do kit cirúrgico com brocas cônicas e chave de inserção CMH.</p>
              <p>Implante Dynamic CMH ou Biodent CMH, você precisa do kit cirúrgico com brocas cilíndricas e chave de inserção CMH. Caso você já possua um dos dois ou os dois, você necessita apenas da chave de inserção CMH.</p>
            </div>
          </article>

          <article class="faq">
            <header id="10">
              <h1>Com o Kit Cirúrgico Cilíndrico eu consigo colocar os implantes Biodent CMH e Bioneck CMH respectivamente?</h1>
            </header>
            <div class="faqContent" id="content10">
              Você pode colocar o implante Biodent CMH, <strong>mas não o Bioneck CMH</strong>, pois o protocolo de perfuração do implante Bioneck CMH é cônico enquanto que o Biodent CMH tem protocolo de perfuração cilíndrico.		
            </div>
          </article>

          <!-- Plataformas Protéticas -->
          <h2>Plataformas protéticas</h2>
          <article class="faq">
            <header id="11">
              <h1>Quais são as plataformas protéticas dos implantes Biodent HEX?</h1>
            </header>
            <div class="faqContent" id="content11">
              NP 3,5; RP 4,1; UP 4,1.
            </div>
          </article>

          <article class="faq">
            <header id="14">
              <h1>Quais são as plataformas protéticas do Bioneck TRI?</h1>
            </header>
            <div class="faqContent" id="content14">
              NP 3,5 e RP-UP 4,3.
            </div>
          </article>

          <article class="faq">
            <header id="15">
              <h1>Quais são as plataformas protéticas do Dynamic CMH e Bioneck CMH?</h1>
            </header>
            <div class="faqContent" id="content15">
              NP 2,75 para todos os diâmetros dos dois implantes.
            </div>
          </article>

          <article class="faq">
            <header id="16">
              <h1>Quais são as opções protéticas que tenho com a Dérig?</h1>
            </header>
            <div class="faqContent" id="content16">
              Prótese múltipla aparafusada, (Mini Pilar, UCLA CoCr, UCLA plástico); unitária aparafusada, (UCLAs); múltipla cimentada, (UCLAs); unitária cimentada, (UCLA, Pilar de Preparo e Pilar Simple - Exclusivo para o sistema CMH).
            </div>
          </article>

          <article class="faq">
            <header id="17">
              <h1>Os componentes protéticos Dérig são compatíveis entre si?</h1>
            </header>
            <div class="faqContent" id="content17">
              Cada tipo de conexão tem seu componente correspondente e diferentes plataformas protéticas, embora no sistema Cone Morse o sistema protético é unificado.
            </div>
          </article>

          <!-- Torques -->
          <h2>Torques</h2>
          <article class="faq">
            <header id="18">
              <h1>Qual o torque indicado para o Coping do mini pilar?</h1>
            </header>
            <div class="faqContent" id="content18">
              15Ncm
            </div>
          </article>

          <article class="faq">
            <header id="19">
              <h1>Qual o torque indicado para o mini pilar?</h1>
            </header>
            <div class="faqContent" id="content19">
              35Ncm
            </div>
          </article>

          <article class="faq">
            <header id="20">
              <h1>Qual o torque indicado para o pilar de preparo?</h1>
            </header>
            <div class="faqContent" id="content20">
              35Ncm
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <!-- Medidas dos Implantes -->
          <h2>Medidas dos Implantes</h2>
          <article class="faq">
            <header id="22">
              <h1>Quais as medidas do Biodent HEX?</h1>
            </header>
            <div class="faqContent" id="content22">
              <a href="/produtos/implantes/implantes-biodent#infoTecnica">Ver medidas do implante</a>
            </div>
          </article>

          <article class="faq">
            <header id="23">
              <h1>Quais as medidas dos implantes Bioneck TRI?</h1>
            </header>
            <div class="faqContent" id="content23">
              <a href="/produtos/implantes/implantes-bioneck#infoTecnica">Ver medidas do implante</a>
            </div>
          </article>

          <article class="faq">
            <header id="24">
              <h1>Quais as medidas do Bioneck CMH?</h1>
            </header>
            <div class="faqContent" id="content24">
              <a href="/produtos/implantes/implantes-bioneck-cmh#infoTecnica">Ver medidas do implante</a>
            </div>
          </article>

          <article class="faq">
            <header id="01">
              <h1>Quais as medidas do implante Dynamic CMH?</h1>
            </header>
            <div class="faqContent" id="content01">
              <a href="/produtos/implantes/implantes-dynamic-cmh#infoTecnica">Ver medidas do implante</a>
            </div>
          </article>

          <article class="faq">
            <header id="02">
              <h1>Quais as medidas do implante Kort?</h1>
            </header>
            <div class="faqContent" id="content02">
              <a href="/produtos/implantes/implantes-kort#infoTecnica">Ver medidas do implante</a>
            </div>
          </article>

          <!-- Siglas -->
          <h2>Siglas</h2>
          <article class="faq">
            <header id="25">
              <h1>O que significa CMH?</h1>
            </header>
            <div class="faqContent" id="content25">
              Cone Morse Hexagonal.
            </div>
          </article>

          <article class="faq">
            <header id="37">
              <h1>O que significa TRI?</h1>
            </header>
            <div class="faqContent" id="content37">
              Triplo Canal Interno.
            </div>
          </article>

          <article class="faq">
            <header id="38">
              <h1>O que significa HEX?</h1>
            </header>
            <div class="faqContent" id="content38">
              Hexágono Externo.
            </div>
          </article>

          <article class="faq">
            <header id="26">
              <h1>O que significa DLC e quais as vantagens que isso traz?</h1>
            </header>
            <div class="faqContent" id="content26">
              Diamond Like Carbon – Carbono tipo diamante – Redução da temperatura de corte, alta durabilidade, brocas helicoidais com marcações de alto contraste visual, elevada resistência à corrosão.
            </div>
          </article>

          <!-- Pilares -->
          <h2>Pilares</h2>
          <article class="faq">
            <header id="27">
              <h1>Qual o pilar indicado para prótese múltipla aparafusada?</h1>
            </header>
            <div class="faqContent" id="content27">
              Mini Pilar (pilar intermediário) ou UCLA CoCr (direto na plataforma do implante).
            </div>
          </article>

          <article class="faq">
            <header id="28">
              <h1>Qual o pilar indicado para prótese múltipla cimentada?</h1>
            </header>
            <div class="faqContent" id="content28">
              UCLA CoCr (direto na plataforma do implante).
            </div>
          </article>

          <article class="faq">
            <header id="29">
              <h1>Qual o nome do pilar intermediário para prótese aparafusada?</h1>
            </header>
            <div class="faqContent" id="content29">
              Mini Pilar.
            </div>
          </article>

          <article class="faq">
            <header id="30">
              <h1>Existe algum pilar que possa ser utilizado tanto para prótese cimentada ou aparafusada, unitária ou múltipla?</h1>
            </header>
            <div class="faqContent" id="content30">
              UCLA CoCr.
            </div>
          </article>

          <article class="faq">
            <header id="34">
              <h1>Eu consigo usar os pilares do sistema Cone Morse no implante Bioneck CMH?</h1>
            </header>
            <div class="faqContent" id="content34">
              Sim, o implante Bioneck CMH é um implante com corpo cônico e conexão Cone Morse.
            </div>
          </article>

          <article class="faq">
            <header id="35">
              <h1>Qual o material dos pilares da Dérig?</h1>
            </header>
            <div class="faqContent" id="content35">
              Titânio ou UCLAs plásticos calcináveis com base em CoCr.
            </div>
          </article>

          <article class="faq">
            <header id="36">
              <h1>Existem pilares calcináveis para protocolo?</h1>
            </header>
            <div class="faqContent" id="content36">
              Sim, UCLAs plásticos calcináveis com base em CoCr.
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
