---
layout: layout.njk
title: Produtos | Dérig
description: Os implantes Dérig foram projetados para oferecer alta estabilidade inicial para diferentes densidades ósseas. Os implantes precisamente projetados, a geometria inovadora das roscas, as câmaras de corte preciso e o total domínio dos designs apicais oferecem a você uma ampla variedade de soluções para atender a mais opções de tratamento.
---

<div id="produtos">
  <div id="headerInterno">
    <div class="container">
      <p><a href="/">Home</a> > Produtos</p>
      <h1>Produtos</h1>
    </div>
  </div>

  <div id="content">
    <section class="container">
      <h1>Diversas opções para os seus casos <span>Resultados imediatos e funcionalidade</span></h1>
      <p>
        Os implantes Dérig foram projetados para oferecer alta estabilidade inicial para diferentes densidades ósseas. Os implantes precisamente projetados, a geometria inovadora das roscas, as câmaras de corte preciso e o total domínio dos designs apicais oferecem a você uma ampla variedade de soluções para atender a mais opções de tratamento.
      </p>
      <span style="font-size: 12px; color: #a9a7a7;">*Nem todos os produtos estão disponíveis em todos os países. Verificar com o seu representante local. </span>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="/produtos/implantes">
            <div class="prodContent">
              <div id="implantes">
                <h2>Implantes <i class="fas fa-chevron-right"></i></h2>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <a href="/produtos/componentes-proteticos">
            <div class="prodContent">
              <div id="componentes">
                <h2>Componentes <i class="fas fa-chevron-right"></i></h2>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a href="/produtos/kits">
            <div class="prodContent">
              <div id="kits">
                <h2>Kits <i class="fas fa-chevron-right"></i></h2>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a href="/produtos/instrumentais">
            <div class="prodContent">
              <div id="instrumentais">
                <h2 style="color:#666">Instrumentais <i class="fas fa-chevron-right"></i></h2>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a href="/produtos/motor-cirurgico/motor">
            <div class="prodContent">
              <div id="motor">
                <h2 style="color:#666">Motor Cirúrgico <i class="fas fa-chevron-right"></i></h2>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6" style="display: none">
          <a href="/produtos/biomateriais/biomaterial">
            <div class="prodContent">
              <div id="biomateriais">
                <h2>Biomateriais <i class="fas fa-chevron-right"></i></h2>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
