---
layout: layout.njk
title: Quem Somos | Dérig Implantes Dentários do Brasil
description: Realizamos um constante trabalho de desenvolvimento técnico-científico, junto a uma equipe qualificada composta por engenheiros, matemáticos, farmacêuticos, químicos industriais e dentistas. Além desses, contamos com uma equipe diferenciada de profissionais da indústria.
---

<div id="quemSomos">
	<div id="headerInterno">
		<div class="container">
			<p><a href="/">Home</a> > Quem somos</p>
			<h1>Quem somos</h1>
		</div>
	</div>

	<section id="sobreDestaque">
		<div class="container">
			<h1>Uma empresa focada <span>na <strong>qualidade de vida.</strong></span></h1>
			<p>
				Com mais de três décadas de existência e 25 anos voltados ao mercado odontológico, <span>a Dérig vem
					sempre desenvolvendo soluções que aliam os avanços técnico-científicos</span> <span>com as
					necessidades dos clientes, oferecendo produtos de alta qualidade</span> reconhecidos por grandes
				nomes da implantodontia.
			</p>
		</div>
	</section>

	<div id="infra">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<img class="img-responsive" src="/images/quemsomos/foto01.png" alt="Infraestrutura">
				</div>
				<div class="col-md-6 col-sm-6">
					<p>
						Realizamos um constante trabalho de desenvolvimento técnico-científico, junto a uma equipe
						qualificada composta por engenheiros, matemáticos, farmacêuticos, químicos industriais e
						dentistas. Além desses, contamos com uma equipe diferenciada de profissionais da indústria.
					</p>
					<p>
						Uma ampla equipe de pesquisadores com vasta experiência clínica e científica em osseointegração
						e reabilitação oral fornece consultoria constante, o que reflete diretamente no aprimoramento e
						inovação contínua dos produtos Dérig.
					</p>
				</div>
			</div>
		</div>
	</div>

	<section id="controleQualidade">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h1>Nosso controle de qualidade</h1>
					<p>
						Na Dérig, realizamos um rígido controle de qualidade para garantir o máximo desempenho de cada
						um de nossos implantes, com a inspeção realizada nas cotas críticas em todos os lotes
						fabricados, seguindo o processo a seguir:
					</p>
				</div>
				<div class="col-md-8 col-sm-8">
					<ul>
						<li><img class="img-responsive" src="/images/quemsomos/controlequalidade/infografico01.png"
								alt="Liberação da fabricação"></li>
						<li><img class="img-responsive" src="/images/quemsomos/controlequalidade/infografico02.png"
								alt="Inspeção durante a fabricação/usinagem"></li>
						<li><img class="img-responsive" src="/images/quemsomos/controlequalidade/infografico03.png"
								alt="Inspeção ABNT NBR 5425,5426,5427"></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div id="certificados" style="display:none">
		<div class="container">
			<p>
				Um traço que nos acompanha desde 1986 é a comprovação <span>da qualidade dos nossos produtos, produzidos
					com o melhor</span> <span>da tecnologia mundial. Assim, possuímos as principais</span> certificações
				do setor, como por exemplo a ISO 13485 <span>e Comunidade Europeia (CE). </span>
			</p>
			<img src="/images/quemsomos/certificacoes-3.png" alt="Certificações">
		</div>
	</div>

	<div id="infra2">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<p>
						Outra vertente de nossa empresa é a busca constante por um serviço ágil e personalizado.
					</p>
					<p>
						Dessa forma, dedicação, investimentos em tecnologia de ponta, esmero no entendimento das
						necessidades de cada profissional e desenvolvimento técnico-científico, são os fatores que
						impactam na seleção das diferentes matérias-primas, na produção, no controle de qualidade e na
						manutenção dos produtos Dérig.
					</p>
				</div>
				<div class="col-md-6 col-sm-6">
					<img class="img-responsive" src="/images/quemsomos/foto02.png" alt="Infraestrutura">
				</div>
			</div>
		</div>
	</div>
</div>
